{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Funding {% endblock %} {% block inside_header %} {% endblock %} {% block after_header %} {% include "sprint/"+sprint+"/includes/header.html" %} {% endblock %} {% block content %}
<main class="request-received" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
        Request received summary
      </h1>
            <p class="lede">An employer has requested funds from your organisation.</p>
        </div>
        
<div class="column-two-thirds">
        <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
            Sending organisation name
        </td>
        <td>
          <span class="organisation-name">Microsoft EMEA</span>
        </td>
      </tr>      <tr>
        <td>
            Receiving organisation name
        </td>
        <td>
          <span class="">Acme Ltd</span>
        </td>
      </tr>
        <tr>
        <td>
            Sent by
        </td>
        <td>
            <address class="organisation-address">Pete Kowalczyk</address>
        </td>         
      </tr>
        <tr>
        <td>
            Transfer date
        </td>
        <td>
            <address class="organisation-address">September 2017</address>
        </td>         
      </tr>
        <tr>
        <td>
            Transfer amount
        </td>
        <td>
            <address class="organisation-address">£9,000</address>
        </td>         
      </tr>  
        <tr>
        <td>
            Expiry date
        </td>
        <td>
            <address class="organisation-address">22 September 2019 - expires in 3 days</address>
        </td>         
      </tr>        
    </tbody>
  </table> 
        </div>       
    </div>

    <h2 class="heading-large">Apprenticeships to be funded</h2>
    
    <table class="responsive">
        <thead>
            <tr>
                <th>Apprenticeship</th>
                <th class="numeric">Apprentices</th>
                <th class="numeric">Start date</th>
                <th class="numeric">Duration</th>
                <th class="numeric">Cost</th>
                <th class="numeric">Transfer amount</th>
            </tr>
        </thead>
        <tbody><tr>
            <td>Nuclear engineer<span class="form-hint">level 5</span></td>
            <td class="numeric">1</td>
            <td class="numeric">May 2019</td>
            <td class="numeric">36 months</td>
            <td class="numeric">£94,000</td>
            <td class="numeric">£38,400</td>
        </tr>
        </tbody><tfoot>
            <tr class="total">
            <td colspan="4" class="numeric">&nbsp;</td>
            <td data-label="Total cost" class="total numeric">£94,400</td>
            <td data-label="Total amount" class="total numeric">£38,400</td>
            </tr>
        </tfoot>
    </table>
    
    <legend>
        <h1 class="heading-medium">Do you wish to accept this transfer request?</h1>
      </legend>
    <div class="form-group">
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        <label for="radio-1">Yes, send Acme Ltd the requested transfer amount</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        <label for="radio-2">No, decline this request</label>
      </div>
  </div>
    <a class="button" href="request-received-accepted.html">Continue</a>
    
</main>
{% endblock %}