{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">


    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge">Don't have your Government Gateway details?</h1>
                                <p>To create a levy account you need the Government Gateway login details for your PAYE schemes.</p>
            </div>
        

        <h2 class="heading-medium">What you can do</h2>
        <p>Firstly, you can contact your payroll department to get your Government Gateway details.</p>
        <p>You can also:</p>
        <ul class="list list-bullet">
            <li><a href="https://estimate-my-apprenticeship-funding.sfa.bis.gov.uk">estimate how much levy funding you'll be able to spend on apprenticeships</a></li>
            <li><a href="https://findapprenticeshiptraining.sfa.bis.gov.uk">explore apprenticeship courses and find training providers</a></li>
        </ul>
  </div>

        <div class="column-third">

        
        </div>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
