{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">


    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge">SOFT LANDING</h1>
                        <p>Add the organisations that you want to hire apprentices through.</p>
                        <p>To spend levy funds on apprentices for an organisation, you need to sign an agreement for that organisation.</p>
            </div>
  </div>

        <div class="column-third">

        
        </div>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
