{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">


    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge">Set up your account</h1>
                                <p>To access levy funds you need to set up an account.</p>
                        <p>To do this you'll need the Government Gateway login details for your PAYE schemes.</p>
            </div>
        

        <h2 class="heading-medium">If your organisation already has a levy account</h2>
        <p>If someone in your organisation has already created a levy account, you'll need to ask them to invite you to the account.</p>
        
        <a class="button" href="/sprint/{{sprint}}/onboarding/companies-house.html">Continue</a>
  </div>

        <div class="column-third">

        
        </div>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
