{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="send-payment-plan-total" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

<div class="grid-row" id="transfer v1">
                        <div class="hgroup">
        <h1 class="heading-xlarge">
            Transfer offer payment plan
        </h1>
                    <p class="text">Planned debits from your account for the apprenticeships requested.</p>
                            <div class="panel panel-width-thin">
                                <p class="text">Note that this is only a schedule of expected payments, payments may fail or cancelled by either employer. </p>
                            </div>

</div>
    
        
        </div>

    <table class="responsive">
        <thead>
            <tr>
                <th>Apprenticeship</th>
                <th>Month</th>
                <th>Type</th>
                <th class="numeric">Amount</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Assistant Accountant</td>
            <td>September 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>October 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>November 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>December 2017</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>January 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>February 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>March 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>April 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>May 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>June 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>July 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>August 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>September 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>October 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>November 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>December 2018</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>January 2019</td>
            <td>Monthly</td>
            <td class="numeric">£282.35</td>
        </tr>
        <tr>
            <td>Assistant Accountant</td>
            <td>February 2019</td>
            <td>Completion payment</td>
            <td class="numeric">£1,200</td>
        </tr>
        <tr class="total">
            <td colspan="3">&nbsp;</td>
            <td data-label="Total amount" class="total numeric">£6,000</td>            
        </tr>
          
            
    </tbody>
            </table>
    
</main>
{% endblock %}