{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          Credit details
      </h1>
        <p class="lede">Credit made on 15 April 2018.</p>
            <p>Levy declared to HMRC might include negative adjustments from previous months. </p>
        </div>
        

        
     </div>   
        
      
   
    </div>
                  <table>
            <thead>
                <tr>
                    <th scope="col">PAYE scheme</th>
                    <th class="numeric" scope="col">Levy amount</th>
                    <th class="numeric" scope="col">English %</th>
                    <th class="numeric" scope="col">10% Top up</th>
                    <th class="numeric" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            222/AA00002
                        </td>
                        <td class="numeric">
                            £0.00
                        </td>
                        <td class="numeric">
                            100.00%
                        </td>
                        <td class="numeric">
                            £0.00
                        </td>
                        <td class="numeric">
                            £0.00
                        </td>
                    </tr>
                <tr class="total">
                    <th scope="row" colspan="4"><span class="vh">Total</span></th>
                    <td class="numeric">£0.00</td>
                </tr>
            </tbody>
        </table>
    
<div class="grid-row">
    <div class="column-two-thirds">
    <details class="">
            <summary>What is English percentage?</summary>
                <p>Your English percentage is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p>If you think there are any issues with your English percentage, check your payroll data to make sure your employee's address information is correct.</p>
        </details>
    </div>
    </div>

</main>
{% endblock %}
