{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
      <h1 class="heading-large">
        Your transactions
          <span class="heading-secondary">April 2017</span>
            </h1>    
    <div class="grid-row">
        <div class="column-one-third">
                  <div class="data" style="background: #912B88; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£4,500</h2>
                    <h2 class="bold-small">Current funds</h2>
        </div>
               </div>
<div class="column-one-third hidden">
                              <div class="data" style="background: #912B88; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£2,000</h2>
                    <h2 class="bold-small">Outgoings</h2>
        </div>
       </div>
               <div class="column-one-third hidden">
                  <div class="data" style="background: #912B88; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£2,500</h2>
                    <h2 class="bold-small">Closing today position</h2>
        </div>
               </div>
        
            <div class="column-half"></div>
    </div>
        
                                    <div class="panel panel-width-thin">
No transactions yet for April 2017. <!--Levy is paid in on the 5th working day of the month. Payments leave on the 20th-->
                                </div>
    
    <div class="page-navigation">
                    <a class="page-navigation__btn previous">
                        <i class="arrow-button fa fa-angle-left"></i>
                        <span class="description">Previous <span class="hide-mob">month</span></span>
                        <span class="counter">March 2017</span>
                    </a>

                </div>
    
    <br>
<!--    <a href="#">Download detailed financial data (spreadsheet)</a>-->
   

</main>
{% endblock %}
