{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="funding-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
           <h1 class="heading-xlarge">
        Funding
      </h1>
        <!--<p class="lede">View transactions and forecast your funds.</p>-->

      </div>
    </div>

    
    <div class="grid-row">
        <div class="column-half">
            
            <h2 class="heading-medium">Reconcile</h2>
                            
   
            
        <div class="data" style="background: #912B88; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£1,500</h2>
                    <h2 class="bold-small">Government funds claimed so far</h2>
        </div>
                <div class="lighter font-xsmall" style="margin: -20px -10px 0px; padding: 10px;"><a href="#">Start new apprenticeships</a> to claim more funds</div>


            <div class="data" style="background: #912B88; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£1,500</h2>
                    <h2 class="bold-small">Incentives claimed so far</h2>
        </div>
                <div class="lighter font-xsmall" style="margin: -20px -10px 0px; padding: 10px;"><a href="#">Start new apprenticeships</a> to claim more incentives</div>
     </div>   
        <div class="column-half">
                        <h2 class="heading-medium">Forecast</h2>
     <div class="data" style="background: #2E358B; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£2,150</h2>
                    <h2 class="bold-small">Unused levy</h2>
        </div>
                <div class="lighter font-xsmall" style="margin: -20px -10px 0px; padding: 10px;"><a href="#">Start new apprenticeships</a> to use your funds</div>
     
            <div class="data" style="background: #2E358B; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£150</h2>
                    <h2 class="bold-small">Expiring funds (6 months time)</h2>
        </div>
                <div class="lighter font-xsmall" style="margin: -20px -10px 0px; padding: 10px;"><a href="#">Start new apprenticeships</a> to use your funds</div>
        </div>
    </div>
               
            
                            <h3 class="heading-medium" style="margin-top: 0;">What you can do</h3>
                 
    <div class="grid-row">
        <div class="column-half">
           <ul class="list list-links">
            <li><a href="/sprint/{{sprint}}/account/finance/history">View transactions</a></li>
            <p>View transactions and forecast your levy funds.</p>
            <li><a href="/sprint/{{sprint}}/account/organisations/index">Manage PAYE schemes</a></li>
            <p>Add levy funds to your account by adding PAYE schemes.</p>
                        <li>            <a href="https://das-alpha-node-ui-proto.herokuapp.com/programmeOne/apprentice-view/people">Start new apprenticeships</a> </li>
<p class="">Maximise your funding by starting new apprenticeships.</p>
            </ul>
        </div>
        <div class="column-half">
           <ul class="list list-links">
            <li><a href="/sprint/{{sprint}}/account/finance/history">View transactions</a></li>
            <p>View transactions and forecast your levy funds.</p>
            <li><a href="/sprint/{{sprint}}/account/organisations/index">Manage PAYE schemes</a></li>
            <p>Add levy funds to your account by adding PAYE schemes.</p>
                        <li>            <a href="https://das-alpha-node-ui-proto.herokuapp.com/programmeOne/apprentice-view/people">Start new apprenticeships</a> </li>
<p class="">Maximise your funding by starting new apprenticeships.</p>
            </ul>
        </div>
    </div>
    




</main>
{% endblock %}
