{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          Refund details
            </h1>
            
            <ul>
                <li>Date  <span class="bold-small">5 July 2017</span></li>
                <li>Training provider <span class="bold-small">Acme ltd</span></li>
            </ul>
        </div>
        

        
     </div>   
        
      
   
    </div>

                     <table>
                      <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th colspan="2" class="colspan cofunding">Co-investment</th>
                          </tr>
                      </thead>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th class="numeric" scope="col">Total</th>
                    <th class="numeric" scope="col">Levy refunded</th>
                    <th class="numeric cofunding" scope="col">90% refunded to Government</th>
                    <th class="numeric cofunding" scope="col">10% owed to you</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            Financial services administrator level 3
                            <div class="form-hint">4 apprentices refunded</div>
                        </td>
                        <td class="numeric">
                            £1,000
                        </td>
                        <td class="numeric">
                            £375
                        </td>
                        <td class="numeric cofunding">
                            £562.50
                        </td>
                        <td class="numeric cofunding">
                            £62.50
                        </td>
                        <td class="details"><a href="/sprint/{{sprint}}/account/finance/apprentice-details.html">Details</a></td>
                    </tr>
                <tr class="responsive-tr">
                        <td>
                            Investment operations administrator level 4
                            <br>
                            <div class="form-hint">21 apprentices refunded</div>
                        </td>
                        <td class="numeric">
                            £1,000
                        </td>
                        <td class="numeric">
                            £500
                        </td>
                        <td class="numeric cofunding">
                            £450
                        </td>
                        <td class="numeric cofunding">
                            £50
                        </td>
                        <td class="details"><a href="/sprint/{{sprint}}/account/finance/apprentice-details.html">Details</a></td>
                    </tr>
                <tr class="total">
                    <th scope="row"><span class="vh">Total</span></th>
                    
                    <td class="numeric">£2,000</td>
                    <td class="numeric">£875</td>
                    <td class="numeric cofunding">£1,012.50</td>
                    <td class="numeric cofunding">£112.50</td>
                </tr>
            </tbody>
        </table>
<div class="grid-row">
    <div class="column-two-thirds">
        
        <p>Your refund doesn't include the costs of any apprenticeships above the <a href="#">funding caps</a></p>
    
<a href="#">Download detailed financial data (spreadsheet)</a>
    </div>
    </div>
</main>
{% endblock %}
