{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="receive-state-aid-preface" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    

                        <div class="hgroup">
        <h1 class="heading-xlarge">
            State aid
        </h1>
   </div> 
    
<p>State aid bal bla blaasldj askldj askldj askldj askldj</p>                
                <a class="button" href="state-aid-declaration.html">Continue</a>

    

     
    
</main>
{% endblock %}