{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="paye-index" id="content" role="main" tabindex="-1">

    <section id="notifications">
<div class="govuk-box-highlight hidden" id="PAYEremoved">
          <h2 class="bold-xlarge">
            You've removed 680/cacb268	
          </h2>
        </div>
<div class="govuk-box-highlight hidden" id="PAYEadded">
          <h2 class="bold-large">
680/cacb268 has been added
          </h2>
        <p>Levy funds from this PAYE scheme will now credit your account</p>
        </div>    
   </section> 
<div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-large">PAYE schemes</h1>
                        <p>Funds will credit your account from any PAYE schemes you add. No funds will credit your account until May 2017.</p>
            <p>You must add all PAYE schemes that your apprentices will be paid through.</p>
  </div>
        
        
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Added PAYE schemes</th>
                                <th scope="col" style="padding-top:0">English %</th>
                    
                            </tr>
                        </thead>
<tbody>
    <tr>
        <td class=""><a href="/sprint/{{sprint}}/account/paye/details">123/AB12345</a>
        </td>
        <td>80.034%</td>


    </tr>
    <tr>
        <td class=""><a href="/sprint/{{sprint}}/account/paye/details">680/cacb268</a>
        </td>
        <td>75.915%</td>

    </tr>
</tbody>
</table>      
    
                            <a class="button" href="/sprint/{{sprint}}/onboarding/gateway-alert.html">Add new scheme</a>

<br>
<br>
        <details class="hidden">
            <summary>What's English percentage?</summary>
                <p>Your English % is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p>Check your payroll data if you think there are any issues with your English % values.</p>
        </details>
        
        <details class="">
            <summary>What is English percentage?</summary>
            <div class="panel panel-width-thin">
            <p>Your English percentage is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p>If you think there are any issues with your English percentage, check your payroll data to make sure your employee's address information is correct.</p>
            </div>
        </details>
        
        
        
        </div>
        <div class="column-third hidden">
            <div class="related" style="margin-top: 60px; padding-top: 30px;">
                <p>Your English % is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p>Check your payroll data if you think there are any issues with your English % values.</p>
            </div>
            
            <div class="related" style="margin-top: 60px; padding-top: 30px;">
                <p>Your English % is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p><a href="">Contact HMRC</a> if there are any issues with your English % data.</p>
            </div>
            
            <div class="related" style="margin-top: 60px; padding-top: 30px;">
                <p>Your English % is provided by HMRC based on the data in your payroll submissions. It represents the proportion of your payroll that’s paid to your employees that live in England.</p>
                <p>If you think there are any issues with your English %, check your payroll data to make sure your employee's address information is correct.</p>
            </div>
        </div>
    </div>
    
    
    


</main>
{% endblock %}
