{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          Apprentice payment details
      </h1>
        <p class="lede">Showing apprentice payments for <a href="/sprint/{{sprint}}/account/finance/payment-details">Financial services administrator level 3</a>.</p>
        </div>
     </div>   
    </div>
    <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th class="numeric" scope="col">Levy funded</th>
                    <th class="numeric" scope="col">Co-funded</th>
                    <th class="numeric" scope="col">Paid out</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            Rob Edwards                            
                            <br>
                            <a href="#">Update apprentice</a>
                        </td>

                        <td class="numeric">
                            £70
                        </td>
                        <td class="numeric">
                            £0
                        </td>

                        <td class="numeric">
                            £70
                        </td>
                    </tr>
                <tr class="responsive-tr">
                        <td>
                            Sally Gunnel
                            <br>    
                            <a href="#">Update apprentice</a>
                        </td>

                        <td class="numeric">
                            £70
                        </td>
                        <td class="numeric">
                            £0
                        </td>

                        <td class="numeric">
                            £70
                        </td>
                    </tr>
                                    <tr class="responsive-tr">
                        <td>
                            Serge Gnabry
                            <br>
                            <a href="#">Update apprentice</a>
                        </td>

                        <td class="numeric">
                            £60
                        </td>
                        <td class="numeric">
                            £6
                        </td>

                        <td class="numeric">
                            £66
                        </td>
                    </tr>
                
                <tr class="responsive-tr">
                        <td>
                            Monica Selles
                            <br>
                            <a href="#">Update apprentice</a>
                        </td>

                        <td class="numeric">
                            £0
                        </td>
                        <td class="numeric">
                            £69
                        </td>

                        <td class="numeric">
                            £69
                        </td>
                    </tr>
                <tr class="total">
                    <th scope="row" colspan="3"><span class="vh">Total</span></th>
                    <td class="numeric">£206</td>
                </tr>
            </tbody>
        </table>
  </div>

</main>
{% endblock %}
