{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
          Your transactions
      </h1>

        <div class="data" style="float: left; background: #2E358B; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£10,500</h2>
                    <h2 class="bold-small">Unused levy</h2>
                <div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;">Next 3 months commitments</div>
        </div>
        <div class="data" style="float: left; background: #912B88; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£20,095</h2>
                    <h2 class="bold-small">Free bonus claimed</h2>
                <div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;">Hire more, claim more</div>
        </div>
            
        <div class="data" style="background: gray; padding: 5px; float: left; width: 33%; display:none;">
                    <h2 class="bold-xlarge">next 3 months</h2>
                    <h2 class="heading-small">based on current commitments and funds</h2>
        </div>            
     </div>   
        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Payment date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Apr 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £900</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Mar 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Acme Training Limited
                                </span>
                            </td>
                            <td class="numeric"> -£512.00 </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/{{sprint}}/account/finance/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Feb 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £0.00 </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Feb 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Feb 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Jan 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375 </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Jan 2018" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jan 2018</span>
                                    </a>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 May 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £1,950</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 May 2017" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 May 2017</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>
   

</main>
{% endblock %}
