{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="funding-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
           <h1 class="heading-xlarge">
        Funding
      </h1>
        <!--<p class="lede">View transactions and forecast your funds.</p>-->

      </div>
    </div>

    
    <div class="grid-row">
        <div class="column-third">
                            <h3 class="heading-medium" style="margin-top: 0;">Next month's outlook</h3>
            <p>Your funding data for June 2017.</p>

        <div class="data" style="background: #B10E1E; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge" id="fig1">£10,500</h2>
                    <h2 class="bold-small">Unused levy</h2>
            <div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">Start new apprenticeships</a></div>
        </div>
        <div class="data" style="background: #2B8CC4; color: white; padding: 20px 10px; margin-right: 10px;">
                    <h2 class="bold-xlarge">£20,095</h2>
                    <h2 class="bold-small">Free funds claimed</h2>
                <div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"></div>
        </div>
        </div>
        <div class="column-two-thirds">
                            <h3 class="heading-medium" style="margin-top: 0;">What you can do</h3>
                    <ul class="list list-links">
            <li><a href="/sprint/{{sprint}}/account/finance/history">View transactions</a></li>
            <p>View transactions and forecast your levy funds.</p>
            <li><a href="/sprint/{{sprint}}/account/organisations/index">Manage PAYE schemes</a></li>
            <p>Add levy funds to your account by adding PAYE schemes.</p>
                        <li>            <a href="https://das-alpha-node-ui-proto.herokuapp.com/programmeOne/apprentice-view/people">Start new apprenticeships</a> </li>
<p class="">Maximise your funding by starting new apprenticeships.</p>
            </ul>
        </div>
        
    </div>
    




</main>
{% endblock %}
