{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          Payment details
      </h1>
        <p class="lede">Payment made to Acme Ltd for 15 Apr 2017.</p>
        </div>
     </div>   
    </div>
    <table>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th class="numeric" scope="col">Levy funded</th>
                    <th class="numeric" scope="col">Co-funded</th>
                    <th class="numeric" scope="col">Paid out</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            Financial services administrator level 3
                            <br>
                            <a href="/sprint/{{sprint}}/account/finance/apprentice-details.html">View all apprentices (35)</a>
                        </td>

                        <td class="numeric">
                            £700
                        </td>
                        <td class="numeric">
                            £0
                        </td>

                        <td class="numeric">
                            £700
                        </td>
                    </tr>
                <tr class="responsive-tr">
                        <td>
                            Investment operations administrator level 4
                            <br>    
                            <a href="/sprint/{{sprint}}/account/finance/apprentice-details.html">View all apprentices (18)</a>
                        </td>

                        <td class="numeric">
                            £300
                        </td>
                        <td class="numeric">
                            £30
                        </td>

                        <td class="numeric">
                            £330
                        </td>
                    </tr>
                <tr class="total">
                    <th scope="row" colspan="3"><span class="vh">Total</span></th>
                    <td class="numeric">£1,030</td>
                </tr>
            </tbody>
        </table>
  </div>

</main>
{% endblock %}
