{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Funding {% endblock %} {% block inside_header %} {% endblock %} {% block after_header %} {% include "sprint/"+sprint+"/includes/header.html" %} {% endblock %} {% block content %}
<main class="transfers-add" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
                <div class="hgroup">
            <h1 class="heading-xlarge">
        Add transfer details
      </h1>

</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">

            
            
<div class="form-group">
    <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter receiving organisation name</label>
    <input class="form-control" id="input-keywords" type="text">
</div>
<div class="form-group">
    <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter account ID</label>
    <input class="form-control" id="input-keywords" type="text">
</div>
<div class="form-group">
            <label class="form-label-bold" for="levy-value-2">Transfer amount</label>
        <label class="form-hint">Maximum available: £14,150</label>
            <label for="levy-value-2" class="text-box-unit">£</label>
            <input class="form-control text-box-with-unit-before money-mask" id="levy-value-2" name="levy-value-2" type="text" maxlength="22">
        </div>

<div class="form-group">
    <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter transfer date</label>
    <input class="form-control" id="input-keywords" type="text" value="today">
</div>   
            
            <a class="button" href="check-details.html">Continue</a>
            
        </div>
        <div class="column-third">
            <div class="related">
                <h3 class="heading-medium">Re-use previously transferred receiptients</h3>
                <ul class="list list-links">
                    <li><a href="#">Company 1</a></li>
                    <li><a href="#">Company 2</a></li>
                    <li><a href="#">Company 3</a></li>
                    <li><a href="#">Company 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    
</main>
{% endblock %}