{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Funding {% endblock %} {% block inside_header %} {% endblock %} {% block after_header %} {% include "sprint/"+sprint+"/includes/header.html" %} {% endblock %} {% block content %}
<main class="transfers-new" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
        Who are you transferring funds to?
      </h1>

</div>


        </div>
    </div>

<form>
<div class="form-group">
				        <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter name</label>
				        <input class="form-control" id="input-keywords" type="text">
				    </div>
</form>
    
            <a class="button" href="new-org-results.html">Continue</a>
    
</main>
{% endblock %}