{% extends "layout.html" %} {% block page_title %} Sprint {{sprint}} - Funding {% endblock %} {% block inside_header %} {% endblock %} {% block after_header %} {% include "sprint/"+sprint+"/includes/header.html" %} {% endblock %} {% block content %}
<main class="transfers-index" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
        Pending transfer details
      </h1>
            <p class="lede">Review inbound transfer.</p>
        </div>
        
<div class="column-two-thirds">
        <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
            Organisation name
        </td>
        <td>
          <span class="organisation-name">Microsoft EMEA</span>
        </td>
      </tr>
        <tr>
        <td>
            Sent by
        </td>
        <td>
            <address class="organisation-address">Pete Kowalczyk</address>
        </td>         
      </tr>
        <tr>
        <td>
            Amount
        </td>
        <td>
            <address class="organisation-address">£9,000</address>
        </td>         
      </tr>
        <tr>
        <td>
            Transfer date
        </td>
        <td>
            <address class="organisation-address">11 April 2018</address>
        </td>         
      </tr>
    </tbody>
  </table> 
        </div>       
    </div>

<div class="grid-row">
        <div class="column-two-thirds">
                  <div class="">
          <h1 class="heading-medium">Do you want to accept the transfer?</h1>
          </div>
        </div>
    </div>
    
<div class="grid-row">

      
      <div class="column-two-thirds">

             <form action="">
            
        <div class="form-group">
                                    <div class="multiple-choice">
        <input id="team" type="radio" name="next" value="team">
      <label class="" data-target="team" for="team">
Accept the transfer
      </label>
            </div>            
                                    <div class="multiple-choice">
        <input id="addorg" type="radio" name="next" value="addorg">
            <label class="" data-target="addorg" for="addorg">
Decline the transfer
      </label>
            </div>            
            
      </div>

  
      <a class="button" href="pending-accepted.html" id="submit">Continue</a>
      
</form>
           
      </div></div>    
    
</main>
{% endblock %}