<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/govuk/details.polyfill.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/stackable.min.js"></script>

<script src="/public/javascripts/aml.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" integrity="sha256-gl80aFE+bSTFw7UJf+ne/RkwC55cjidIp0Oe3AX5pfo=" crossorigin="anonymous" />








<script>
$(document).ready(function () {

    //GLOBAL VAR
    var XMLSource = $('#search').attr('xmlData');
    var keyword = '';
    var catType = '';
    var stn = '';
    var frm = '';

    var i = 0;
    var msgPlural = 'are';

    var paginateCount = 5;

    

    

    
    

    

   var className = $("#content").attr('class');
   switch(className){
case 'public-sector':
   // put directory stuff here
break;
case 'public-sector-search':
   // put search keyword stuff here
break;
case 'organisations-add':
           
            $(".panel").hide()
            $("label").click(function(){
            $(".panel").hide();                    
            $(this).next().show()
            })
            // adding organisations functions
            $(".organisations-add").keypress(function(e){
            if (e.which == 13) {
            orgType()
            // check the radio value
            } else {
            //  return false;
            }
            })

            $(".organisations-add .button").click(function(e){
                e.preventDefault();
                orgType();
            });
break;
case 'organisations-address':
     $(".button").click(function(e){
         e.preventDefault();
         localStorage.setItem("organisation-address", JSON.stringify($("#address").val()));
         window.location.href = "/sprint/{{sprint}}/account/organisations/confirm.html?orgtype=";
     });
break;
       case 'test':
               
    // get companies house number
    
    
    $.ajax({
        url: 'https://api.companieshouse.gov.uk/company/09963675',
        beforeSend: function(xhr) {
             xhr.setRequestHeader("0IJg_twH_cNHRQ4TufRhHhKW72_W8xdgijXsHDyI:")
        }, success: function(data){
            alert(data);
            //process the JSON data etc
        }
    });
break; 
case 'organisations-chquestion':
           $(".button").click(function(e){
               e.preventDefault();
          chQuestion();    
           })
break;
case 'organisations-question':
          $(".button").click(function(e){
               e.preventDefault();
               orgQuestion();
           })
break;           
default: break;
   };
    
    
    
    
    
      // my functions
    
    
        function orgQuestion() {
                          if ( $('input[name=radio-group]:checked', 'form').val() == "charity" ) {
                                window.location.href = "/sprint/{{sprint}}/account/organisations/addcharity.html";                           
                          } else {
                                window.location.href = "/sprint/{{sprint}}/account/organisations/public-sector.html";    
                          }
        };
    
        function chQuestion() {
                            if ( $('input[name=radio-group]:checked', 'form').val() == "yes" ) {
                            window.location.href = "/sprint/{{sprint}}/account/organisations/companieshouse.html?orgtype=limited";                                            
                            } else {
                            window.location.href = "/sprint/{{sprint}}/account/organisations/add.html";                                            
                            }

        }
    
    
                function orgType() {
                    //check if organisation is in companies house or other
                    //company, rc, ip
                if ( $('input[name=radio-group]:checked', 'form').val() == "ltd" ) {
                    //check if company is limited, royal charter or ip
                    if($("#chn").val().match(/(IP|ip)/g)) {
                            localStorage.setItem("organisation-type", JSON.stringify("ip"));
                            window.location.href = "/sprint/{{sprint}}/account/organisations/address.html?orgtype=ip";            
                    } else if ($("#chn").val().match(/(RC|rc)/g)) {
                            localStorage.setItem("organisation-type", JSON.stringify("rc"));
                            window.location.href = "/sprint/{{sprint}}/account/organisations/address.html?orgtype=rc";                            
                    }
                    else {
                            localStorage.setItem("organisation-type", JSON.stringify("ltd"));
                            window.location.href = "/sprint/{{sprint}}/account/organisations/confirm.html";            
                    }

                } else if ( $('input[name=radio-group]:checked', 'form').val() == "public" ) {
                    //public
                            localStorage.setItem("organisation-type", JSON.stringify("public"));
                            window.location.href = "/sprint/{{sprint}}/account/organisations/public-sector.html";                
                } else {
                    //charity
                            localStorage.setItem("organisation-type", JSON.stringify("charity"));
                            window.location.href = "/sprint/{{sprint}}/account/organisations/address.html?orgtype=charity";                        
                }

            };
    
    
    
    

    
    
    
    
    
    
    
    
    
    // public body keyword search code
    $('#input-keywords').keypress(function (e) {
  if (e.which == 13) {
        e.preventDefault();
        $("#public-sector-search").hide();
        $("#results-wrapper").removeClass("hidden");
        keyword = $("#input-keywords").val();
        stn = '';
        searchThis();
      
      //$('form#login').submit();
    return false;    //<---- Add this line
  }
});
    
    $("#submit-keywords").click(function (e) {
        e.preventDefault();
        $("#public-sector-search").hide();
        $("#results-wrapper").removeClass("hidden");
        keyword = $("#input-keywords").val();
        stn = '';
        searchThis();
    });

    function searchThis() {
        $.ajax({
            type: "GET",
            url: XMLSource,
            dataType: "xml",
            success: function (xml) {
                loadstnlocation(xml)
            },
            error: function (request, error) {
                console.log(arguments);
                //alert(" Can't do because: " + error);
            }
        });
    }

    function loadstnlocation(xmlData) {

        i = 0;
        var row;
        var searchExp = "";

        $(xmlData).find('row').each(function () {


            var iName = $(this).find('iName').text();
            var iSector = $(this).find('.iSector').text();
    


            //Format the keyword expression
            var exp = new RegExp(keyword, "gi");
            searchExp = iName.match(exp);

            if (searchExp != null) {
                stn += '<li><a href="/sprint/{{sprint}}/account/organisations/confirm.html?name=' + iName + '">' + iName + iSector  + '</a>.</li>';
            };
        });

          showList(stn);
        
    }



    function showList(stn) {
        //Populate on page
        var contentTop = '<ul class="list list-links">';
        var contentBottom = '</ul>';
        $('#results').html(contentTop + stn + contentBottom);
    }

});
</script>


<script>

    
           var content = '';

    var XMLSource = $('#directory').attr('xmlData');

    
        function searchThis() {
        $.ajax({
            type: "GET",
            url: XMLSource,
            dataType: "xml",
            success: function (xml) {
                loadData(xml)
            },
            error: function (request, error) {
                console.log(arguments);
                //alert(" Can't do because: " + error);
            }
        });
    }
        function loadData(xmlData) {

            $(xmlData).find('row').each(function () {
             var iName = $(this).find('iName').text();
             var iSector = $(this).find('iSector').text();

                
                //content += iName + iSector;
                //content += '<tr>';
                //content += '<td class="org-name">' + iName + '</td>';
                //content += '<td class="org-name">' + iSector + '</td>';
                //content += '<td class="numeric"><a href="/sprint/{{sprint}}/account/organisations/confirm.html">Select organisation</a></td>';
                //content += '</tr>';
                
                
                content += '<li><a href="/sprint/{{sprint}}/account/organisations/address.html">' + iName + '</a></li>';
            });

            returnDirectory(content);
                                        };

    
    function returnDirectory(content) {
    //    var contentTop = '<table><thead><tr><th scope="col">Insitute name</th><th scope="col">Sector</th><th class="numeric"></th></tr></thead><tbody>';
    //    var contentBottom = '</tbody></table>';
      //$("#content .alpha-list").html('<table><thead><tr><th scope="col">Insitute name</th><th scope="col">Sector</th><th class="numeric"></th></tr></thead><tbody>');  
    //    $("#content .alpha-list").html(contentTop + content + contentBottom);
        //$("#content .alpha-list").html('</tbody></table>');
      
        var contentTop = '<ul id="list" class="list list-links>';
        var contentBottom = '</ul>';
        $("#content .alpha-list").html(contentTop + content + contentBottom);
        
        splitList();
    }
    
    function splitList() {
        var list = { letters: [] };
$("#list").children("li").each(function(){
    var itmLetter = $(this).text().substring(0,1).toUpperCase();
    if (!(itmLetter in list)) {
        list[itmLetter] = [];
        list.letters.push(itmLetter);
    }
    list[itmLetter].push($(this));
});
list.letters.sort();
$("#list").empty();
$.each(list.letters, function(i, letter){
    list[letter].sort(function(a, b) {
        return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
    });
    var ul = $("<ul/>");
    $.each(list[letter], function(idx, itm){
        ul.append(itm);
    });
    $("#list").append($("<li/>").append($("<h2/>").attr("id", letter.toLowerCase()).addClass("title heading-medium").html(letter)).append(ul));
});

    }
    
    searchThis();
    
  //  $("section#directory ul li h2").append()("<a>back to top</a>");
    
var chart = c3.generate({
    bindTo: 'chart',
    data: {
        columns: [
            ['data1', 70, 70, 70, 70, 70, 70],
            ['data2', 704, 704, 704, 704, 704, 704],
            ['data3', -60, 200, 160, -100, -15, 250],
            ['data4', -726, -600, -700, -800, -726, -600],
        ],
        names: {
            data1: 'levy top up',
            data2: 'levy credit',
            data3: 'balance',
            data4: 'provider payments'
        },
        type: 'bar',
        types: {
            data3: 'area-spline',
        },
       colors: {
            data1: '#2E358B',
            data2: '#6F72AF',
            data3: '#28A197'
        },
        groups: [
            ['data1','data2','data4']
        ]
    },
    axis: {
        x: {
            label: 'Tax Month'
        },
        y: {
            tick: {
                count: 5,
                format: function (d) { return "£" + d; }
            },
            label: 'Balance (£)'
        }
    },
    grid: {
        y: {
            lines: [{value:0}]
        }
    },
    subchart: {
        show: true
    },
    zoom: {
        enabled: true
    }
});
    

    
</script>

<script>
    // get & set sprint
    var sprint = {{sprint}};
    localStorage.setItem("sprint", JSON.stringify(sprint));
    
    if ( sprint == 11 ) {
        console.log("do this");
    }
    
    //get url variables    
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return (false);
    }
    var accepted = getQueryVariable("accepted");
    var invitesent = getQueryVariable("invitesent");
    var inviteresent = getQueryVariable("inviteresent");
    var invitecancelled = getQueryVariable("invitecancelled");
    var rolechange = getQueryVariable("rolechange");
    var userdeleted = getQueryVariable("userdeleted");
    var PAYEremoved = getQueryVariable("PAYEremoved");
    var PAYEadded = getQueryVariable("PAYEadded");
    var rolechange = getQueryVariable("rolechange");
    var flow = getQueryVariable("flow");
    var newOrg = getQueryVariable("newOrg");
    var newOrgSigned = getQueryVariable("newOrgSigned");
    var agreementState = getQueryVariable("agreementState");
    var newLevyAccount = getQueryVariable("newLevyAccount");
    var sessionState = JSON.parse(localStorage.getItem("sessionState"));
    var govgateway = getQueryVariable("govgateway");
    var resetPassword = getQueryVariable("resetPassword");
    var ab = getQueryVariable("ab");
    var sprintIteration = JSON.parse(localStorage.getItem("sprint-number"));
    var userEmail = JSON.parse(localStorage.getItem("email-address"));
    var emailUpdated = getQueryVariable("emailUpdated");
    var nameUpdated = getQueryVariable("nameUpdated");
    var accountCreated = getQueryVariable("accountCreated");
    var orgType = getQueryVariable("orgtype");
    
    
    // globals
    //user details
    var user = {}
    user.firstName = JSON.parse(localStorage.getItem('user.firstName'));
    user.lastName = JSON.parse(localStorage.getItem('user.lastName'));
    user.email = JSON.parse(localStorage.getItem('user.email'));
    user.password = JSON.parse(localStorage.getItem('user.password'));
    user.jobTitle = JSON.parse(localStorage.getItem('user.jobTitle'));
    //user states
    user.NDA = JSON.parse(localStorage.getItem('userNDA'));
    user.state = JSON.parse(localStorage.getItem('userState'));
    user.type = JSON.parse(localStorage.getItem('userType'));
    
    // company details
    //var companyName = JSON.parse(localStorage.getItem('companyName'));
    //var companiesHouseNumber = JSON.parse(localStorage.getItem('companiesHouseNumber'));
    // agreement object {type:"",id:"",state:""} type=org type id=unique number state=is it signed?
    //localStorage.setItem('agreements')
    //var agreements = JSON.parse(localStorage.getItem('agreements'));

    //var companyData = [{companiesHouseNumber: 342342342, companyName:"ACME Ltd",agreement:0}]
    var companyData = [{companiesHouseNumber: null, companyName:null,agreement:null}]
    
    localStorage.setItem('companyData', JSON.stringify(companyData));
    console.log(JSON.parse(localStorage.getItem('companyData')));
    
    //var payeSchemes = [{ schemeNumber: "324234/AS1", englishPercentage: 80}, {schemeNumber:"234234234",englishPercentage: 90}];
    var payeSchemes = [{ schemeNumber: null, englishPercentage: null}, {schemeNumber:null, englishPercentage: null}];
    localStorage.setItem('payeSchemes', JSON.stringify(payeSchemes));
    console.log(JSON.parse(localStorage.getItem('payeSchemes')));
    
    // useful methods
    
    //back button
    function goBack() {
        window.history.back();
    }
    
    $(".link-back").click(function(e){
        e.preventDefault();
            window.history.back();
    })
    
            
// sprint 11
    
    if ( $("main").hasClass("index") == true) {
        localStorage.setItem('payeCount',0)
    };
    
    
    // used service before page
            $(".onboarding-index .button").click(function(e){
            e.preventDefault();
            if ( $('input[name=radio-group]:checked', 'form').val() == "new" ) {
                    window.location.href = "/sprint/{{sprint}}/onboarding/before-you-start.html";
            } else {
                window.location.href = "/sprint/{{sprint}}/user/login.html";
            }
        })
            
    // adding paye scheme
            $(".sprint-11 .gateway-auth .button").click(function(e){
                e.preventDefault();
                var payeCount = localStorage.getItem('payeCount');
                payeCount++;
               localStorage.setItem('payeCount', payeCount ); 
                window.location.href = "/sprint/{{sprint}}/onboarding/paye-check.html";
            });
    
    // add paye scheme loop
                $(".sprint-11 .paye-check .button").click(function(e){
            e.preventDefault();
            if ( $('input[name=radio-group]:checked', 'form').val() == "addMore" ) {
                    window.location.href = "/sprint/{{sprint}}/onboarding/gateway-login.html";
            } else {
                window.location.href = "/sprint/{{sprint}}/account/dashboard/index.html?newLevyAccount=y";
            }
        });
    
    
    // add correct number of paye schemes to page
        if ( $("main").hasClass("paye-check") == true) {
        var i = parseInt(localStorage.getItem('payeCount'));
        i++;
        $('.sprint-11 .paye-check table tr').hide();
        $('.sprint-11 .paye-check table#paye-check-2 tr:lt('+i+')').show()
    
    // remove a paye scheme    
        $("table a").click(function(e){
        e.preventDefault();
            i--;
           localStorage.setItem('payeCount', i ); 
            location.reload();
        });
        };
    

    // add organisations
            if ( $("main").hasClass("organisations-add") == true) {

            }
    
    
    
    
    
  
    
    
    /*
    // label switching site wide
    
        if ( orgType == "rc" ) {
            $(".orgtype").text("Royal Charter")
        }
    
        if ( orgType == "ip" ) {
            $(".orgtype").text("Royal Charter")            
        }
        
        if ( orgType == "charity" ) {
            $(".orgtype").text("charity")            
        }    
        
        */
    
    

    
    //switch

   var orgType = JSON.parse(localStorage.getItem("organisation-type"));
   switch(orgType){
        case 'rc':
        $(".orgtype").text("Royal Charter");
        break;           
        case 'ip':           
        $(".orgtype").text("Industrial or Provident");
        break;           
        case 'public':
        $(".orgtype").text("public sector");
        break;           
        case 'charity':
        $(".orgtype").text("charity");
        break;           
        case 'limited':
        $(".orgtype").text("company");
        break;
        default: break;
   }
           
            
           
    
    
    // notifications site wide
        if ( newLevyAccount == "y" ) {
            $("#accountCreated").removeClass("hidden");
        }
        if ( invitesent == "y") {
            $("#invitesent").removeClass("hidden");            
        }
        if ( userdeleted == "y" ) {
            $("#userdeleted").removeClass("hidden");            
        };
        if ( inviteresent == "y" ) {
            $("#inviteresent").removeClass("hidden");                        
        };
        if ( invitecancelled == "y") {
            $("#invitecancelled").removeClass("hidden");      
        };
        if ( rolechange == "y" ){
            $("#rolechange").removeClass("hidden");                  
        }
        if ( PAYEremoved == "y" ){
            $("#PAYEremoved").removeClass("hidden");                  
        }
        if ( PAYEadded == "y" ){
            $("#PAYEadded").removeClass("hidden");                  
        }
        if ( accountCreated == "y" ) {
            $("#accountCreated").removeClass("hidden");
        }
    if ( newOrgSigned == "y" ) {
        $("#org").removeClass("hidden");
    }
    if ( newOrgSigned == "n" ) {
        $("#orgNo").removeClass("hidden");
    }
    
    
    
    
</script>
-->

