<script src="/public/javascripts/vendor/jquery-1.11.0.min.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/govuk/shim-links-with-button-role.js"></script>
<script src="/public/javascripts/govuk/show-hide-content.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/govuk/details.polyfill.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/stackable.min.js"></script>
<script src="/public/javascripts/aml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" integrity="sha256-gl80aFE+bSTFw7UJf+ne/RkwC55cjidIp0Oe3AX5pfo=" crossorigin="anonymous" />

<script>

var chart = c3.generate({
    bindTo: 'chart',
    data: {
        columns: [
            ['data1', 70, 70, 70, 70, 70, 70],
            ['data2', 704, 704, 704, 704, 704, 704],
            ['data3', -60, 200, 160, -100, -15, 250],
            ['data4', -726, -600, -700, -800, -726, -600],
        ],
        names: {
            data1: 'levy top up',
            data2: 'levy credit',
            data3: 'balance',
            data4: 'provider payments'
        },
        type: 'bar',
        types: {
            data3: 'area-spline',
        },
       colors: {
            data1: '#2E358B',
            data2: '#6F72AF',
            data3: '#28A197'
        },
        groups: [
            ['data1','data2','data4']
        ]
    },
    axis: {
        x: {
            label: 'Tax Month'
        },
        y: {
            tick: {
                count: 5,
                format: function (d) { return "£" + d; }
            },
            label: 'Balance (£)'
        }
    },
    grid: {
        y: {
            lines: [{value:0}]
        }
    },
    subchart: {
        show: true
    },
    zoom: {
        enabled: true
    }
});
    

    
</script>

<script>
    // get & set sprint
    var sprint = {{ sprint }};
    localStorage.setItem("sprint", JSON.stringify(sprint));
    
    if ( sprint == 11 ) {
        console.log("do this");
    }
    
    //get url variables    
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return (false);
    }
    var accepted = getQueryVariable("accepted");
    var justadded = getQueryVariable("justadded");
    var justremoved = getQueryVariable("justremoved");
    var rolechange = getQueryVariable("rolechange");
    var userdeleted = getQueryVariable("userdeleted");
    var noinvite = getQueryVariable("noinvite");
    var PAYEremoved = getQueryVariable("PAYEremoved");
    var PAYEadded = getQueryVariable("PAYEadded");
    var flow = getQueryVariable("flow");
    var newOrg = getQueryVariable("newOrg");
    var newOrgSigned = getQueryVariable("newOrgSigned");
    var agreementState = getQueryVariable("agreementState");
    var newLevyAccount = getQueryVariable("newLevyAccount");
    var sessionState = JSON.parse(localStorage.getItem("sessionState"));
    var govgateway = getQueryVariable("govgateway");
    var resetPassword = getQueryVariable("resetPassword");
    var ab = getQueryVariable("ab");
    var sprintIteration = JSON.parse(localStorage.getItem("sprint-number"));
    var userEmail = JSON.parse(localStorage.getItem("email-address"));
    var emailUpdated = getQueryVariable("emailUpdated");
    var nameUpdated = getQueryVariable("nameUpdated");
    
    
    // globals
    //user details
    var user = {}
    user.firstName = JSON.parse(localStorage.getItem('user.firstName'));
    user.lastName = JSON.parse(localStorage.getItem('user.lastName'));
    user.email = JSON.parse(localStorage.getItem('user.email'));
    user.password = JSON.parse(localStorage.getItem('user.password'));
    user.jobTitle = JSON.parse(localStorage.getItem('user.jobTitle'));
    //user states
    user.NDA = JSON.parse(localStorage.getItem('userNDA'));
    user.state = JSON.parse(localStorage.getItem('userState'));
    user.type = JSON.parse(localStorage.getItem('userType'));
    
    // company details
    //var companyName = JSON.parse(localStorage.getItem('companyName'));
    //var companiesHouseNumber = JSON.parse(localStorage.getItem('companiesHouseNumber'));
    // agreement object {type:"",id:"",state:""} type=org type id=unique number state=is it signed?
    //localStorage.setItem('agreements')
    //var agreements = JSON.parse(localStorage.getItem('agreements'));

    //var companyData = [{companiesHouseNumber: 342342342, companyName:"ACME Ltd",agreement:0}]
    var companyData = [{companiesHouseNumber: null, companyName:null,agreement:null}]
    
    localStorage.setItem('companyData', JSON.stringify(companyData));
    console.log(JSON.parse(localStorage.getItem('companyData')));
    
    //var payeSchemes = [{ schemeNumber: "324234/AS1", englishPercentage: 80}, {schemeNumber:"234234234",englishPercentage: 90}];
    var payeSchemes = [{ schemeNumber: null, englishPercentage: null}, {schemeNumber:null, englishPercentage: null}];
    localStorage.setItem('payeSchemes', JSON.stringify(payeSchemes));
    console.log(JSON.parse(localStorage.getItem('payeSchemes')));
    
    // useful methods
    
    //back button
    function goBack() {
        window.history.back();
    }
    
    $(".link-back").click(function(e){
        e.preventDefault();
            window.history.back();
    })
    
    
</script>


