{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

    <section id="notifications">
        <div class="govuk-box-highlight hidden" id="accountCreated">
          <h2 class="bold-large">
Levy account created          </h2>
        </div>
    </section>
    
  <div class="grid-row hidden">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
Red &amp; White Holdings Ltd
      </h1>

    </div>
  </div>
    
    <!--<div id="chart" class="chart">
    
    </div>-->
    
    <div class="grid-row">

        
    
        <div class="column-one-third"></div>



    

        <div class="column-two-thirds">
            <div class="hgroup">
                <h1 class="heading-xlarge">Things you can do</h1>
            </div>                
            <h3 class="heading-medium">
                Enable spending
            </h3>
            <p>You need to <a href=“/sprint/{{sprint}}/account/organisation/index”>sign a legal agreement</a> before you can spend your levy funds.</p>
            
            <h3 class="heading-medium">
                Invite team members
            </h3>
            <p>You can <a href=“/sprint/{{sprint}}/account/team/index”>invite team members</a> to access this account.</p>
            
            <h3 class="heading-medium">
                Forecast your funds
            </h3>
            <p><a href=“/sprint/{{sprint}}/account/finance/forecast”>Forecast the funds you’ll be able to spend</a>.</p>
            
            <h3 class="heading-medium">
                Explore training and find a provider.
            </h3>
            <p><a href=“/sprint/{{sprint}}/account/finance/forecast”>Find training courses and training providers</a>.</p>
            
            
            <h3 class="heading-medium">
                Plan your end point assessments
            </h3>
                <p><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations" rel="external">Register of apprentice assessment organisations</a></p>
            <!--
                    <h5 class="heading-small">Enable spending</h5>
                        <p></p>You need to <a href="#">sign <span class="count">1</span> agreement.</a>
                  

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p>You need to <a href="#">sign <span class="count">3</span> agreements.</a></p>
               

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p><a href="#"><span class="count">1</span> agreement needs to be signed.</a></p>
               

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p><a href="#"><span class="count">3</span> agreements needs to be signed.</a></p>
            -->

        <aside id="checklist" class="related hidden">
            <h4 class="heading-medium">Checklist</h4>    
<table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0"></th>
                               <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>

                             <tr id="" class="">
                              <td>You need to <a href="/sprint/{{sprint}}/account/organisations/index">sign <span class="count">1</span> agreement.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>
                             <tr>
                              <td><a href="/sprint/{{sprint}}/account/team/index">Invite team members.</a></td>
                                <td>
                                  <span id="teamMemberOne" class="statusToDo visually-hidden">1 Team member added</span>
                                  <span id="teamMemberTwo" class="statusToDo rj-dont-display">2 Team members added</span>
                                </td>
                              </tr>
                              <tr>
                              <!--quick hack, will fix -->
                              <td><a href="/sprint/{{sprint}}/account/finance/index">Forecast your funds</a></td>
                               <td> <span id="forecastComplete" class="statusToDo rj-dont-display">Forecast added on 20 May 2017</span> </td>
                              </tr>

                             <tr id="trainingProviders" class="rj-dont-display">
                              <td><a href="http://www.findapprenticeshiptraining.sfa.bis.gov.uk">Explore training and find a provider.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="rj-dont-display">
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Learn more about Endpoint Assesment.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>


                          </tbody>
                      </table>
        </aside>
        </div>
        
    
 
</div>
    
    
<div class="page-dashboard">
        <div class="panel panel-border-wide alert-default" style="margin-top: 20px;">
            To enable spending you must <a href="/sprint/12/account/organisations">sign 1 agreement</a>.
          </div>
            <div class="hgroup">
                <h1 class="heading-xlarge">Red &amp; White Holdings Ltd</h1>
                <hr style="border-bottom: 5px #DEE0E2 solid; background: none;" />
            </div>  
<div class="grid-row">
    <div class="column-two-thirds">
     
            <div class="grid-row">
                <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/sprint/{{sprint}}/account/organisations/index">Enable your organisations to spend levy</a>
                    </h3>
                    <p>Add and manage organisations that'll spend levy.</p>
                </div>    
                                <div class="column-half">
                    <h3 class="heading-medium">
                        <a href="/sprint/{{sprint}}/account/paye/index">Manage PAYE schemes</a>
                    </h3>
                    <p>Add levy funds to your account by adding PAYE schemes.</p>
                </div>
                

            </div>
            <div class="grid-row">
              
                <div class="column-half ">
                    <h3 class="heading-medium">
                     <a href="/sprint/{{sprint}}/account/finance/index">View your finances</a>
                    </h3>
                    <p>View transactions and forecast your levy funds.</p>
                </div>

          <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/sprint/{{sprint}}/account/apprentices/index">Spend your levy</a>
                    </h3>
                    <p>Add an apprentice or review and approve apprenticeship starts.</p>
                </div>
                
            </div>
            <div class="grid-row">
      
  
                <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/sprint/{{sprint}}/account/apprentices/index">Manage your apprentices</a>
                    </h3>
                    <p>View, pause and stop current apprentices.</p>
                </div>
                
                  <div class="column-half">
                    <h3 class="heading-medium">
                        <a href="/sprint/{{sprint}}/account/team/index">Manage your team</a>
                    </h3>
                    <p>Control what your team can do and invite new team members.</p>
                </div>
            </div>
        </div>
    <div class="column-one-third">

        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about managing your account or invitations so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about your experience of managing your own account or being invited to a team</span></a></p>
            </div>
        </section>
    </div>
</div>    
    </div>
    

    

</main><!-- / #content -->
{% endblock %}
