{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

    
      <section id="notifications">
        <div class="govuk-box-highlight rolechange">
                <h2 class="bold-large">
            Invitation accepted
          </h2>
                <p>
                    You can now access the <span class="bold-small">Portsmouth City Council</span> account.
                </p>
            </div>
          
          <div class="govuk-box-highlight rolechange">
                <h2 class="bold-large">
                    You've changed your email
              </h2>
            </div>

    </section>
    
  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
        Your user profile
      </h1>
        <p>Select an account or add a new one.</p>      
</div>
                            <table>
                        <thead>
                            <tr>
                                <th scope="col">Account name</th>
                                <th scope="col">What you can do</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Ltd Coventry</span>
                                </td>
                                <td>Everything – you're an owner</td>
<td><a href="/sprint/{{sprint}}/account/dashboard/index.html">Open</a></td>
                            </tr>
                            
                        </tbody>
                    </table>   
        
        <br>
        
        <a class="button" href="/sprint/{{sprint}}/onboarding/gateway-alert.html">Add a new levy account</a>
 
    </div>
      <div class="column-third">
          <aside class="related">
            <h3 class="heading-medium">Manage your profile</h3>
              <ul class="list list-links">
                <li><a href="#">Change your email address</a></li>
                <li><a href="#">Change your password</a></li>
                <li><a href="#">View your invitations</a></li>
              </ul>
          </aside>
      </div>
  </div>

    

</main>
{% endblock %}
