{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="activity-dashboard" id="content" role="main" tabindex="-1">


          <h2 class="heading-xlarge">
Activity         </h2>
    <p>Something here about activity</p>
    
        


    
    <div class="grid-row">
        <div class="column-one-third">
            <h3 class="heading-medium">Filters</h3>

            <fieldset class="filters filters-accordion">
                    <h2 class="toggler heading-small">Search</h2>
                    <div class="toggled-content">

                  <div class="form-group">
                            <label for="apprenticeshipKeyword" class="form-label sr-only">Keyword or job role</label>
                            <input id="apprenticeshipKeyword" type="text" class="form-control" value="">
                </div>
                                              <button class="button">Submit</button>

                    </div>
                </fieldset>
            
            <fieldset class="filters filters-accordion">
                    <h2 class="toggler heading-small">Type</h2>
                    <div class="toggled-content">
                        <div class="form-group">
                                <legend for="ofsteadFilter" class="form-label sr-only">Type</legend>                            
                            <div class="multiple-choice">
                                <input id="ofstedFilter-1" type="checkbox" value="1">
                                <label class="block-label" for="ofstedFilter-1">Payments</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="ofstedFilter-2" type="checkbox" value="2">
                                <label class="block-label" for="ofstedFilter-2">Apprentice</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="ofstedFilter-3" type="checkbox" value="3">
                                <label class="block-label" for="ofstedFilter-3">Account</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="ofstedFilter-4" type="checkbox" value="4">
                                <label class="block-label" for="ofstedFilter-4">Team</label>
                            </div>
                        </div>
                    </div>
                </fieldset>   
            <fieldset class="filters filters-accordion">
                    <h2 class="toggler heading-small">Team member</h2>
                <div class="toggled-content">
                        <div class="form-group">
                            <label for="apprenticeshipName" class="form-label">Team member</label>
                            <select id="apprenticeshipName" class="js-states form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
                                <option id="Accounting  level 2">Pete Kowalczyk</option>
                                <option id="Accounting  level 2">Andy Samberg</option>
                                <option id="Accounting  level 3">Ella Dabrowski</option>
                            </select>
                        </div>
                </div>
            </fieldset>
            
            <fieldset class="filters filters-accordion">
                    <h2 class="toggler heading-small">Apprentice</h2>
                <div class="toggled-content">
                        <div class="form-group">
                            <label for="apprenticeshipName" class="form-label">Apprentice</label>
                            <select id="apprenticeshipName" class="js-states form-control select2-hidden-accessible" multiple="" tabindex="-1" aria-hidden="true">
                                <option id="Accounting  level 2">Suzane Kowalczyk</option>
                                <option id="Accounting  level 2">Donna Summer</option>
                                <option id="Accounting  level 3">Byron B. Urger</option>
                            </select>
                        </div>
                </div>
            </fieldset>
            
            
            
               <fieldset class="filters filters-accordion">
                    <h2 class="toggler heading-small">Date range</h2>
                <div class="toggled-content">
                        <div class="form-group">
                            <label>
                            From
                            <input placeholder="31/11/18" type="text" class="form-control" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                            To
                            <input placeholder="31/12/18" type="text" class="form-control" />
                            </label>
                        </div>
                   </div>
            </fieldset>         
            
        </div>
        <div class="column-two-thirds">
            <div class="timeline">
  <div class="entry payment">
    <div class="title">
      <span class="font-small">Today</span>
    </div>
    <div class="body">
      <div>Payment failed: £5,000 for Anne Smith</div>
        <div class=""><span class="time">At  1:25pm</span> - <a class="details"  href="#">Details</a></div>
  </div>
  </div>
                 <div class="entry team">
    <div class="title">
      <span class="font-small">Yesterday</span>
    </div>
    <div class="body">
      <div>Pete Kowalczyk signed out</div>
        <div class=""><span class="time">At  3:40pm</span></div>
      </div>
  </div>  
  <div class="entry apprentice">
    <div class="title">
    </div>
    <div class="body">
        <div>Start date change approved for Anne Smith</div>
        <div class=""><span class="time">At  3:34pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Pete Kowalczyk</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>
 <div class="entry team">
    <div class="title">
    </div>
    <div class="body">
      <div>Pete Kowalczyk signed in</div>
        <div class=""><span class="time">At  3:30pm</span></div>
      </div>
  </div>                 

                
 <div class="entry apprentice">
    <div class="title">
      <span class="font-small">27 June 2018</span>
    </div>
    <div class="body">
      <div>Start date change requested for Anne Smith</div>
        <div class=""><span class="time">At  9:35am</span> by Acme Training Ltd - <a class="details"  href="#">Details</a></div>
      </div>
  </div> 
                
 <div class="entry">
    <div class="title">
      <span class="font-small">26 June 2018</span>
    </div>
    <div class="body">
      <div>Sarah Thomson signed out</div>
        <div class=""><span class="time">At 3:34pm</span></div>
      </div>
  </div>                  
                
<div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Price changed approved for Anne Smith</div>
        <div class=""><span class="time">At  3:24pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>                
                
 <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Sarah Thomson signed in</div>
        <div class=""><span class="time">At  1:24pm</span></div>
      </div>
  </div>                  
                
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Closing balance for May: £16,780</div>
        <div class=""><span class="time">At  2:20pm</span> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>
                
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Price change requested for Anne Smith</div>
        <div class=""><span class="time">At  5:50pm</span> by Acme Training Ltd - <a class="details"  href="#">Details</a></div>
      </div>
  </div>
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Outgoing payment made: £14,500 to Acme ltd</div>
        <div class=""><span class="time">At  10:12am</span> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>                
                
  <div class="entry">
    <div class="title">
                        <span class="font-small">25 June 2018</span>                    
    </div>
    <div class="body">
      <div>Sarah Thomson signed out</div>
        <div class=""><span class="time">At  5:35pm</span></div>
      </div>
  </div>
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Cohort approved: Acme Training ltd</div>
        <div class=""><span class="time">At  5:34pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>
 <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Sarah Thomson signed in</div>
        <div class=""><span class="time">At  5:30pm</span></div>
      </div>
  </div>           
                
                <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Cohort request made</div>
        <div class=""><span class="time">At  3:34pm</span> by Acme Training ltd - <a class="details"  href="#">Details</a></div>
      </div>
  </div>
                
                
  <div class="entry">
    <div class="title">
                        <span class="font-small">24 June 2018</span>                    
    </div>
    <div class="body">
      <div>Sarah Thomson signed out</div>
        <div class=""><span class="time">At  6:01pm</span></div>
      </div>
  </div>
                
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Cohort request sent to Acme Training ltd</div>
        <div class=""><span class="time">At  6:00pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Sarah Thomson signed in</div>
        <div class=""><span class="time">At  5:45pm</span></div>
      </div>
  </div>
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Cohort request made</div>
        <div class=""><span class="time">At  3:24pm</span> by Acme Training Ltd - <a class="details"  href="#">Details</a></div>
      </div>
  </div>


  <div class="entry">
    <div class="title">
        <span class="font-small">23 June 2018</span>                    
    </div>
    <div class="body">
      <div>Sarah Thomson signed out</div>
        <div class=""><span class="time">At  5:24pm</span></div>
      </div>
  </div>
    <div class="entry">
    <div class="title">

    </div>
    <div class="body">
      <div>Cohort request sent to Acme Training ltd</div>
        <div class=""><span class="time">At  5:21pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>

  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Cohort created with Acme Training ltd</div>
        <div class=""><span class="time">At  4:23pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
      </div>
  </div>

  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
      <div>Sarah Thomson signed in</div>
        <div class=""><span class="time">At 3:24pm</span></div>
      </div>
  </div>

                
  <div class="entry">
    <div class="title">
        <span class="font-small">22 June 2018</span>                    
    </div>
    <div class="body">
        <div>Levy payment received </div>
        <div class=""><span class="time">At  midnight</span> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>
                
                <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>Pete Kowalczyk timed out</div>
        <div class=""><span class="time">At  2:59pm</span>
    </div>
  </div>
                <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>Agreement signed for Tesco stores ltd</div>
        <div class=""><span class="time">At  2:29pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Pete Kowalczyk</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div> 
                <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>Pete Kowalczyk signed in</div>
        <div class=""><span class="time">At  2:24pm</span></div>
    </div>
  </div> 
                <div class="entry">
    <div class="title">

    </div>
    <div class="body">
        <div>Pete Kowalczyk joined</div>
        <div class=""><span class="time">At  2:24pm</span></div>
    </div>
  </div>         
  <div class="entry">
    <div class="title">
        <span class="font-small">19 June 2018</span>                    
    </div>
    <div class="body">
        <div>Sarah Thomson signed out</div>
        <div class=""><span class="time">At  2:46pm</span></div>
    </div>
  </div>  
                <div class="entry">
    <div class="title">

    </div>
    <div class="body">
        <div>Pete Kowalczyk invited</div>
        <div class=""><span class="time">At  2:45pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>                 
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>PAYE scheme added: 123/456789</div>
        <div class=""><span class="time">At  2:34pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>                 
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>Tesco stores ltd added</div>
        <div class=""><span class="time">At  2:30pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div> 
    <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>PAYE scheme added: 123/6543321</div>
        <div class=""><span class="time">At  2:24pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>                 
  <div class="entry">
    <div class="title">
    </div>
    <div class="body">
        <div>Tesco food ltd added</div>
        <div class=""><span class="time">At  2:24pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a> - <a class="details"  href="#">Details</a></div>
    </div>
  </div>                
  <div class="entry start">
    <div class="title">
    </div>
    <div class="body">
        <div>Account created</div>
        <div class=""><span class="time">At  2:24pm</span> by <a href="/sprint/{{sprint}}/account/team/index" class="name">Sarah Thomson</a></div>
    </div>
  </div> 
</div>

</div>
        </div>

</main><!-- / #content -->
{% endblock %}
