{% extends "layout.html" %}

{% block page_title %}
    lunchlabs.co.uk experiments
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}

{% endblock %}
    {% block body_start %}{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<main class="test-react-test" id="content" role="main" tabindex="-1">


    
    <section id="countdown" class="row middle center">
    <div></div>
    </section>
    
    
    <section id="word">
        <h1>this-is-my-word</h1>
    </section>
          
    <section id="response">
        <div>
<h1 class="heading-medium">
    Was your password spelt correctly?
</h1>

<form>
  <div class="form-group">
    <fieldset class="inline">

      <legend class="visually-hidden">Was your password spelt correctly?</legend>
        <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      <label for="radio-inline-1" required value="Yes">
        Yes
      </label>
            </div>
                <div class="multiple-choice">

        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      <label for="radio-inline-2">
        No
      </label>
</div>
    </fieldset>
  </div><br><br>
            <div class="form-group">
    <a id="continue" class="button">Continue</a>
                </div>
</form> 
</div>        
    </section>
    
    

</main>
{% endblock %}

       
      {% block footer %} 
{% endblock %}
