{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprints/11/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  {% include "includes/breadcrumb.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Dashboard
      </h1>

    </div>
  </div>

</main><!-- / #content -->
{% endblock %}
