{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="onboarding-index" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}



             <div class="govuk-box-highlight">
                <h1 class="bold-xlarge" id="changeHeadline" style="">Saved go back to bingo balls</h1></div>

    
    

    
</main><!-- / #content -->
{% endblock %}
