{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main id="content" class="provider-dashboard" role="main">


<section id="welcome" class="info-summary" style="position: relative; overflow: auto;">
                        <div class="text hgroup">
        <h2 class="heading-xlarge">Hi Pete, welcome  to your new digital account</h2>
</div>    
                <section>
                
                  
                    
                    <section id="add-paye">
                        <div class="todo">
                            <h3 class="heading-medium">Step 1 of 4</h3>
                            <form class="inline">
                              <div action="#">
                                <fieldset>

                                  <legend class="heading-small">Have you signed your apprenticeship training provider agreement with the ESFA?</legend>
                                  <label class="block-label selection-button-radio" for="add-paye-1">
                                    <input id="add-paye-1" type="radio" name="add-paye-group" value="1">
                                      Yes
                                  </label>
                                  <label class="block-label selection-button-radio" for="add-paye-2">
                                    <input id="add-paye-2" type="radio" name="add-paye-group" value="2">
                                      No
                                  </label>
           
                                </fieldset>
  <div class="panel panel-border-narrow" style="">
    <a href="#">View the ESFA now</a>
      
  </div>
</div>
                                                                    <div class="form-group sr-only">
                                    <!--<a href="/sprint/19/onboarding/before-you-start.html"> id="action" class="button">Continue</a>-->
                                    <a href="#" id="action" class="button">Continue</a>
                                    </div> 
                            </form>
   
                        </div>

                        <div class="done success-summary" style="display:none;">
                            <h3 class="heading-medium">Step 1 of 4</h3>
                            <p>X PAYE schemes added</p>
                            <span>Done <i class="fa fa-check"></i></span>
                        </div>
                    </section>
                    
                    
                    <section id="add-org" style="">
                        <div class="todo">
                                    <h3 class="heading-medium">Step 2 of 4</h3>
                            <form class="inline" action="#">
                                <fieldset>
                                  <legend class="heading-small">Have you signed a contract for services with the employer?</legend>

                                  <label class="block-label selection-button-radio" for="add-org-1">
                                    <input id="add-org-1" type="radio" name="add-org-group" value="1">
                                      Yes
                                  </label>
                                  <label class="block-label selection-button-radio" for="add-org-2">
                                    <input id="add-org-2" type="radio" name="add-org-group" value="2">
                                      No
                                  </label>

                                    <div class="sr-only">
                                    <!--<a href="/sprint/19/onboarding/before-you-start.html"> id="action" class="button">Continue</a>-->
                                    <a href="#" id="action" class="button">Continue</a>
                                    </div>            
                                </fieldset>
                                  <div class="panel panel-border-narrow" style="display: none;">
                                  <p><a href="#">Add organisations now</a> - so they can spend funds on apprentices.</p> 
                                  </div>
                            </form>
                        </div>
                        <div class="done success-summary" style="display: none;">
                            <h3 class="heading-medium">Step 2 of 4</h3>
                            <p>X organisations added</p>
                            <span>Done <i class="fa fa-check"></i></span>
                        </div>
                    </section>
                    
                                        
                      <section id="sign-agreement" style="">
                        <div class="todo">
                            <h3 class="heading-medium">Step 3 of 4</h3>
<form class="inline" action="#">
                                <fieldset>
                                  <legend class="heading-small">Have you asked the employer whether they’ve created an apprenticeship service account?</legend>
                   
                                  <label class="block-label selection-button-radio" for="add-org-1">
                                    <input id="add-org-1" type="radio" name="add-org-group" value="1">
                                      Yes
                                  </label>
                                  <label class="block-label selection-button-radio" for="add-org-2">
                                    <input id="add-org-2" type="radio" name="add-org-group" value="2">
                                      No
                                  </label>
            
                                </fieldset>
                                  <div class="panel panel-border-narrow" style="display: none;">
                                  <p><a href="/sprint/35/account/organisations/index">Add organisations now</a> - so they can spend funds on apprentices.</p> 
                                  </div>
                            </form>
                        </div>
                        <div class="done success-summary" style="display: none;">
                            <h3 class="heading-medium">Step 3 of 4</h3>
                            <p>X agreements signed</p>
                            <span>Done <i class="fa fa-check"></i></span>
                        </div>
                    </section>
                    
                    <section id="invite-users">
                        <div class="todo">
                            <h3 class="heading-medium">Step 4 of 4</h3>
                            <form class="inline">
                              <div class="form-group" action="#">
                                <fieldset>
                                  <legend class="heading-small">Have you encouraged the employer to start adding apprentices to their account?</legend>
                                  <label class="block-label selection-button-radio" for="invite-users-1">
                                  <input id="invite-users-1" type="radio" name="invite-users-group" value="1">
                                      Yes
                                  </label>
                                  <label class="block-label selection-button-radio" for="invite-users-2">
                                    <input id="invite-users-2" type="radio" name="invite-users-group" value="2">
                                      No
                                  </label>
                                    <div class="sr-only">
                                    <!--<a href="/sprint/19/onboarding/before-you-start.html"> id="action" class="button">Continue</a>-->
                                    <a href="#" id="action" class="button">Continue</a>
                                    </div>     
                                </fieldset>
                                    <div class="panel panel-border-narrow" style="display: none;">
                                    <h4 class="heading-small">Next steps</h4>
                                        <ul class="list list-links">
                                            <li><a href="#">Add apprentices</a></li>
                                            <li><a href="#">Check finances</a></li>
                                            <li><a href="#">Find apprenticeship training (opens in new window)</a></li>
                                            <li><a href="#">Recruit an apprentice (opens in new window)</a></li>
                                            <li><a href="#">Invite team members to this account</a></li>
                                        </ul>
                                  </div>
                                  
                                  <div class="panel panel-border-narrow" style="display: none;">
                                    <p><a href="#">Invite someone else to this account</a> - so the can add apprentices.</p> 
                                  </div>
                              </div>
                            </form>
                        </div>
                    </section>       

                    
                    <a class="" href="#">Close this message</a>

                </section> 
    </section>

<!--h1 class="heading-large">Levy account</h1-->
 <!--h2 class="bold-medium">Acme Ltd Levy Account</h2-->

            <h1 class="heading-xlarge rj-headings-border" id="">Hackney Skills &amp; Training</h1>



 <div class="grid-row">
           <div class="column-two-thirds">
            <!--h2 class="heading-large" style="margin:0px 0 50px 0">


Funding</h2-->
         <div style="max-width:90%">
          <div class="grid-row">
            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0;"><a href="/programmeTen&#10;&#10;&#10;&#10;/contracts/provider-in-progress/overview">Your cohorts</a></h3>
              <p>Review, edit, approve and add apprentices to new cohorts.</p>
            </div>

            <div class="column-half">
              <h3 class="heading-medium rj-top-border-mobile" style="margin-top:0;"><a href="/programmeTen&#10;&#10;&#10;&#10;/apprentice-view/manage-options-provider">Manage your apprentices</a></h3>
              <p>View and update approved apprentice records.</p>
            </div>
          </div> 


          <div class="grid-row">
            <div class="column-half ">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"></h3>
            </div>

            <div class="column-half ">
              <h3 class="heading-medium rj-top-border looks-like-a-link-underline-h2" style="margin-top:0; padding-top:35px"></h3>
            </div>
         </div>
       </div>
          </div>


<div class="column-one-third">
     
                <div class="info-highlighted">
                    <h3 class="heading-medium">Getting started</h3>
                <p>If you’ve agreed to train an employer’s apprentices, the employer will need to create their own account and start adding apprentices before you’ll see any cohorts or apprentices in your account.</p>
                <p>The <a href="#">apprenticeship funding: how it will work guide</a> contains more information about the overall steps employers need to follow.</p>
                </div>

<div style="border: 1px solid #ccc; padding: 20px; margin-top: 30px;">
            <h2 class="heading-medium" style="margin-top:0">To do:</h2>
             <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Apprenticeship agreements that need to be signed: 1</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Review your agreements</p>
                </div>
            </div>
            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Employer requests that need your attention: 5</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Review your apprentices</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Requests to change apprentice details: 5</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Review the changes</p>
                </div>
            </div>

            <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Apprentices that failed double lock: 267 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Update details</p>
                </div>
            </div>
        </div>
    </div>
</div></main>
{% endblock %}
