{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
You can't approve this cohort
      </h1>
        
        <p>To use funds from an employer's apprenticeship account you must follow the <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">funding rules</a>. These include:</p></div>
        
        
        <ul class="list list-bullet">
            <li>having a written agreement and a commitment statement in place</li>
            <li>making sure the apprentice and their apprenticeship are eligible for funding before the individual starts</li>
            </ul>
<p>The cohort and any changes you've made to it have been saved. You will be able to return to it and approve it once you're happy you meet the requirements of the funding rules.
</p>
        
        <a class="link-back" href="/sprint/{{sprint}}/provider/your-cohorts.html">Return to home page</a>

    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
