
{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="no-agreement" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

<div class="grid-row">

           <div class="column-two-thirds">
  <h1 class="heading-xlarge">Agreement not signed</h1>
 
<form action="find-provider">

<div class="notice long">
  <i style="  " class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    You must sign your apprenticeship training provider agreement with the Skills Funding Agency before you can approve cohorts.
  </strong>
</div>
    <div style="margin-top:35px"></div>

    <a class="button" id="search-provider">Review your agreement</a>
    <a class="button text-link" href="/sprint/{{sprint}}/providers/approve-cohorts.html">Continue to cohort</a>
</form>



            </div>

</div>
    
    

    
</main><!-- / #content -->
{% endblock %}
