{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="your-cohorts" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
              <div style="" class="panel panel-border-wide alert-default ">
  You must <a href="#">review and sign your apprenticeship training provider agreement</a> before you can approve cohorts.
    </div>


    <h1 class="heading-xlarge ">


Your cohorts</h1>

      </div>
</div>
    
    <div class="grid-row">
  <div class="column-two-thirds">

    <a id="button" style="display:block" href="/sprint/{{sprint}}/providers/approve-cohorts.html">  <div class="column-one-half" style="padding-left:0">
                <div style="background-color:#D53880; min-height:180px">
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">1</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">New from employer</h2>
                </div>
      </div> </a>

     <div class="column-one-half" style="padding-right:0">
               <div style="background-color:#D53880; min-height:180px">
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">4</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">Ready for approval</h2>
                </div>
      </div>
      <div class="column-one-half" style="padding-left:0; margin-top:35px">
               <div style="background-color:#D53880; min-height:180px">
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">3</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">Ready for review</h2>
                </div>
      </div>

      <div class="column-one-half" style="padding-right:0; margin-top:35px">
                 <div style="background-color:#D53880; min-height:180px">
                  <h2 class="bold-xxlarge" style=" color:#fff; margin: 0px 0 0px 15px; padding-top:25px">8</h2>
                  <h2 class="heading-small" style="color: #fff; margin: 25px 0 0px 15px;">With employers</h2>
                </div>
      </div>

  </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
