{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-index" id="content" role="main" tabindex="-1">

    <section id="notifications">
    <div class="govuk-box-highlight hidden" id="org">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span>  can now spend levy funds</h2>

    <!--<p class="asNotSigned"><span class="organisation-name">Acme Ltd Coventry</span> can now spend levy funds</p>-->
        </div>
        
        <div class="govuk-box-highlight hidden" id="orgNo">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span>  has been added</h2>

    <p class="asNotSigned">To spend levy funds somebody needs to <a href="/sprint/{{sprint}}/organisations/view.index?agreementState=not-signed">sign the agreement</a></p>    
    <p class="asSigned hidden">This account can now spend levy funds</p>
        </div>
    </section>
    
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge">Your organisations and agreements</h1>
                        <p>Add the organisations that you want to hire apprentices through.</p>
                        <p>To spend levy funds on apprentices for an organisation, you need to sign the SFA agreement for that organisation.</p>
            </div>
  </div>

        <div class="column-third">
               
        <div class="panel alert-default" style="margin-top: 50px;">
        <h3 class="bold-medium">Which organisations should I add?</h3>
            Guideance on how to <a href="#">configure your organisations</a> to reflect your apprenticeship programme.
    </div>
        </div>
</div>

        <div id="orgTable"></div>

            <a class="button" href="/sprint/{{sprint}}/account/organisations/add.html" id="">Add new organisation</a>         
<table class="hidden">
    <thead>
        <tr>
            <th scope="col" style="padding-top:0">Organisation</th>

            <th>Activated on</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td class=""><span class="company-name">Acme Ltd Coventry</span>
            </td>
            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Enable spending</a></td>


            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Replace</a></td>        
        </tr>
        <tr class="">
            <td class=""><span class="company-name">Acme Ltd Coventry</span>
            </td>
            <td>12 Jan 2014</td>

            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Remove</a></td>        
        </tr>
        <tr class="hidden">
            <td class="">Acme Ltd Bradford
            </td>

            <td><a href="/sprint/{{sprint}}/account/organisations/view.html">12 Jan 2014</a></td>
<td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Remove</a></td>
        </tr>
    </tbody>
</table>
 
            
            
            

</main>
{% endblock %}
