

.header-global {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 15px;
}

.header-global__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    @include media(tablet) {
        font-size: 32px;
    }
    a {
        border-bottom: 1px solid #000;
        color: #fff;
        display: inline-block;
        padding: 2px 0;
        text-decoration: none;
    }
}

.phase-banner-alpha {
	.phase-tag {
		background: $beta-colour
	}
}

#global-header-bar {
    background: $grey-1;
}

.header-user {
	background: $grey-4;
}

.header-user, 
.header-organisation {
	border-bottom: 1px solid $grey-2;
}

.header-inner {
	@extend #content;
	padding: 0;
}

.global-header-bar {
	height: 10px;
	background: $govuk-blue;
}

.header-organisation h2 {
	padding: 0;
	margin-top: .75em;
	margin-bottom: 0;
}

.js-hidden-mobile {
	display: none;
	@include media(tablet) {
		display: block;
	}
}

.js-hidden-desktop {
	display: block;
	@include media(tablet) {
		display: none;
	}
}

$nav-padding: 15px;

a.nav-menu-link {
	float: right;
	clear: both;
	margin: 10px 0;
	font-size: 14px;
	padding-left: 15px !important;
	color: #000;
	text-decoration: none;
	&:before {
		left: 5px !important;
		margin-top: -6px !important;
	}
}

nav#user-nav {
	font-size: 14px;
	clear: both;
	@include media(tablet) {
        font-size: 16px;
    }
	> ul {
		list-style:none;
		margin-left: -$nav-padding;
		margin-right: -$nav-padding;
		position: relative;
		@include media(tablet) {
			float: right;
			margin: 0;	
		}
		li {
			border-top: 1px solid $grey-2;
			@include media(tablet) {
				border: none;	
			}
			a {
				padding: 12px $nav-padding 10px 20px;
                display: block;
			}
			li { 
				a {
					padding-left: $nav-padding * 1;
				}
			}
		}
		li.top-level {
			> a {
				text-decoration: none;
				color: $black
			}
			&.open {
				ul li.selected a {
					padding-left: 20px;
					background-image: url('/public/images/tick.png');
					background-repeat: no-repeat;
					background-position: 0px 14px;
					background-size: 15px;
					text-decoration: none;
					color: $black;
					margin-left: $nav-padding * 1;
				}	
			}
			@include media(tablet) {
				display: inline-block;
				float: left;
				> a {
					padding-top: 10px;
					padding-bottom: 8px;
					margin: 3px 0;
					 &.js-toggle {
		                padding-left: 25px;
	                }
				}	
				ul {
					display: none;
				}
				&.open {
					position: relative;
					ul {
						display: block;
						position: absolute;
						width: 250px;
						top: 100%;
						right: 0;
						background: $grey-4;
						border: 1px solid $grey-2;
						z-index: 100;
						li {
							margin: 0 10px;
							border-bottom: 1px solid $grey-2;
							&:last-child {
								border: none;
							}
							a {
								padding-left: 0;
								padding-right: 0;
							}
							&.selected a {
								
								margin-left: 0;
							}
						}
					}
				}
				a.menu-open,
				a.menu-open:focus {
					background: $grey-4;
					border: 1px solid $grey-2;
					border-bottom: none;
					position: relative;
					margin-bottom: -1px;
					z-index: 101;
				}
			}
		}
	}
}



a.menu-open, 
a.menu-closed {
	padding-left: 20px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		left: 10px;
		border-color: transparent;
		border-width: 7px 4px;
		border-style: solid;
		display: block;
		width: 0;
		height: 0;
		top: 50%;
		margin-top: -4px;
	}
}

a.menu-open:before {
	border-top-color: black;
}

a.menu-closed:before {
	border-left-color: black;
	border-width: 4px 7px;
}

nav.global-nav {
	@extend %contain-floats;
	font-size: 14px;
	@include media(tablet) {
        font-size: 16px;
    }
    ul {
        list-style: none;
        margin: 0;
        margin-left: -$nav-padding;
        margin-rightr: -$nav-padding;
        padding: 0;
        position: relative;
        li {
            display: inline-block;
            float: left;
            a {
                padding: 12px $nav-padding 10px;
                display: block;
                position: relative;
                &:focus {
                    outline: 0;
                }
               
            }
            &.current {
                a {
                    color: black;
                    text-decoration:none;
                    &:after {
                        content: "";
                        display: block;
                        height: 5px;
                        position: absolute;
                        left: $nav-padding;
                        right: $nav-padding;
                        bottom: -1px;
                        z-index: 1;
                        background: $govuk-blue;
                    }
                }
            }
            &.more-link {
	            a {
		            position: absolute;
	            }
	            @include media(tablet) {
		        	display: none;   
	            }
            }
        }
    }
    ul#global-nav-links-secondary {
	    float: none;
	    clear: both;
	    margin-right: -$nav-padding;
	    @include media(tablet) {
		    float: left;
		    clear: none;
		    margin-left: 0;
	    }
	    li {
		    display: block;
		    float: none;
		    border-top: 1px solid $grey-2;
		    @include media(tablet) {
			    float: left;
			    border: none;
		    }
	    }
    }
}

nav.global-nav ul {
	@include media(desktop) {
		font-size: 19px;
	}
	li.sa-stacker {
		float: right;
		ul {
			display: none;
		}
		&.sa-open {
			ul {
				display: block;
				position: absolute;
				background: white;
				left: $nav-padding;
				right: -$nav-padding;
				border-bottom: 2px solid $grey-2;
				li {
				    display: block;
				    float: none;
				    border-top: 1px solid $grey-2;
				    
			    }
			}
		}
	}
	
}