{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="agreement-cover" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">
                <span class="heading-secondary organisation-name">GOV.UK elements</span>
               About your SFA agreement</h1>
            <p>To spend levy funds on apprentices for an organisation, you need to accept the SFA agreement for that organisation.</p>
        </div>
            <p>By accepting the agreement you agree to:</p>
                <ul class="list list-bullet">
                <li>allow the SFA to pay levy funds to your training providers
                </li>
                <li>keep records according to specific record keeping requirements
                </li>
                <li>participate in audits
                </li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
                </ul>
            <div class="panel panel-thin">
            <p>Only account 'owners' can accept SFA agreements. If you're not sure who the owner is, you can <a href="/sprint/{{sprint}}/account/team/index">check your team details.</a></p>
            </div>
 
        
 
        
        
     
    </div>
</div>


    <div class="grid-row">
        
        <div class="column-two-thirds">      
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/agreement-sign.html"  class="button" >Continue to your agreement</a>
            <hr />
            <div class="form-group">
            <a class="button secondary" href="/sprint/{{sprint}}/account/organisations/remove-org.html">Remove this organisation</a>
            </div>
            <div class="panel panel-border-wide alert-default">
                <h5 class="heading-small">You can't remove <span class="organisation-name">Acme Limited</span></h5>
            <span class="organisation-name">Acme ltd</span> can't be removed because it's the only organisation on your account. 
          </div>
        </div>
    </div>
    <br>
      {% include "includes/link-back.html" %}
    

</main>
{% endblock %}
