{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-your-organisation-relationship" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

    
    <div class="grid-row">
           <div class="column-two-thirds">
            
               <div class="hgroup">
               <h1 class="heading-xlarge">Confirm your relationship with the employer</h1>
            
                
                <dl class="confirm-details">
                    <dd>Name:</dd>
                    <dt>Acme Coventry Ltd</dt>
                    <dd>Registered address:</dd>
                    <dt>1 Some street, Some place, Coventry, CV1 1AA</dt>
                    <dd>Companies House number:</dd>
                    <dt>52819038</dt>
                </dl>
</div>
             <div>
   
                <form class="state-2">
                    <h3 class="heading-small">Is this organisation your own organisation or a connected company?</h3>
                    <legend class="visuallyhidden">Things to do next</legend>
                      <div class="form-group">
       
                      <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="1">
                       <span id="changeOne">Yes, <span class="organisation-name">Acme Coventry Ltd</span> is my organisation or a connected company</span></label>
                      <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="2">
                        <span id="changeThree">No, <span class="organisation-name">Acme Coventry Ltd</span> is a separate organisation</span>
                      </label>
                          
                    </div>
                    <div style="margin-top:20px;">
    
                        <details>
                            <summary>What is a connected company?</summary>
                            <div class="panel panel-width-thin">
<p>Your organisation is a connected company if:</p>
                                <ul class="list list-bullet">
                                    <li>it has control of another company, in this case the <span class="organisation-name">Acme Coventry Ltd</span></li>
                                    <li>both your organisation and <span class="organisation-name">Acme Coventry Ltd</span> are controlled by the same people, such as a board of directors</li>
                                </ul>
                                </div>
                        </details>
                        
                    </div>
                     <div style="margin-top:20px;"><a class="button" href="/sprint/{{sprint}}/providers/id-check.html">Continue</a></div>
                  </form>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
            </div>
        </div>
    
</main><!-- / #content -->
{% endblock %}
