{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="send-offer-start" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
<div class="grid-row">
        <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-xlarge">
Offer a monthly transfer
                </h1>
            <p class="lede">Send government funds from another employer to cover the entire cost of apprenticeship training.</p>

</div>
            <h3 class="heading-medium">Before you start</h3>
            <p>You will need:</p>
            <ul class="list list-bullet">
                <li>the receiving employer's apprenticeship account ID</li>
                <li>basic details of the apprenticeships you want to fund:
                    <ul class="list list-bullet">
                        <li>apprenticeship standard/Framework
</li>
                        <li>start date
</li>
                        <li>number of apprentices</li>
                    </ul>
</li>
                <li>available funds to transfer</li>
            </ul>
<a class="button button-start" href="/sprint/{{sprint}}/account/transfers/send/does-employer-have-account">Start</a>            

            <h3 class="heading-medium">What you need to know</h3>
 
            <ul class="list list-bullet">
                <li>you can't get these funds back once they are sent.</li>
<li>you must fund the full cost of the apprenticeship rather than part of it</li>
<li>funds may not cover the entire apprenticeship you wish to fund</li>
<li>you have forecasted your monthly outgoing payments carefully, so that the receiving employer will get the funds</li>
<li>your oldest funds will be used first</li>
<li>that the expiry dates of the funds you're transferring will be carried over to the receiving employer</li>
            </ul>
            
    </div>
    </div>
    
</main>
{% endblock %}