{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}


  
    
<div class="grid-row">
            <div class="column-two-thirds">
                <div class="hgroup">
                    <h1 class="heading-large user-name">Remove team member</h1>
                    <p class="lede">Are you sure you want to permenantly remove <span class="user-name bold-medium">Ty Fairclough</span> from this team.</p>
                </div>
                
                
                <div class="form-group" action="add-your-details.html">
    <fieldset>

      <legend class="visually-hidden">Are you sure you want to cancel?</legend>
        <div class="form-group">
      <label class="block-label selection-button-radio" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="cancel">
          Yes, cancel invitation
            </label>
      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="abort">
          No, don't cancel invitation
            </label>
            </div>
        <div class="form-group">
        <a href="/sprint/{{sprint}}/account/team/index.html?userdeleted=y" class="button">Continue</a>
        </div>            
    </fieldset>
  </div>
                
               
            </div>
        </div>

    
    
</main>
{% endblock %}
