{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="apprentices-index" id="content" role="main" tabindex="-1">
  <h1 class="heading-xlarge">Apprentices      </h1>

    
    <div class="grid-row">
        <div class="column-third">
            <h3 class="heading-medium">Add</h3>
            <p>Add apprentices to a new cohort or ask your training provider to add them.</p>
            <button type="button" class="button">Add a new apprentice</button>
        </div>
        <div class="column-third">
            <h3 class="heading-medium">Cohorts</h3>
            <p>Review, edit, approve and add more apprentices to cohorts you’ve already started.</p>
       <a href="/sprint/{{sprint}}/account/apprentices/cohort-review">  
                <div class="data purple">
                  <h2 class="bold-large" >8</h2>
                  <h2 class="bold-small" >Ready for review</h2>
                </div>
       </a>

            <a href="/sprint/{{sprint}}/account/apprentices/index">  

               <div class="data purple column-half">
                  <h2 class="bold-large" >3</h2>
                  <h2 class="bold-small" >With training providers</h2>
                </div>
      </a>
            <a href="/sprint/{{sprint}}/account/apprentices/index">  

               <div class="data purple column-third">
                  <h2 class="bold-large">1</h2>
                  <h2 class="bold-small">Draft</h2>
                </div>
            </a>
        </div>
        <div class="column-third">
            <h3 class="heading-medium">Manage</h3>
            <p>Handle existing apprentices in the system.<br><br></p>
          <a href="/sprint/{{sprint}}/account/apprentices/manage-2">  
                <div class="data pink">
                  <h2 class="bold-large" >132</h2>
                  <h2 class="bold-small" >Total apprentices</h2>
                </div>
            </a>  
            
            <a href="/sprint/{{sprint}}/account/apprentices/index">  

                <div class="data pink column-half">
                  <h2 class="bold-large" >34</h2>
                  <h2 class="bold-small" >Live apprentices</h2>
                </div>
            </a>                
            <a href="/sprint/{{sprint}}/account/apprentices/index">  
                <div class="data pink column-third">
                  <h2 class="bold-large" >66</h2>
                  <h2 class="bold-small" >Stopped</h2>
                </div>
            </a>            
        </div>
    </div>
    
</main>
{% endblock %}
