{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
{% include "includes/link-back.html" %}

<div class="grid-row">
                    <div class="column-two-thirds">


             <div class="govuk-box-highlight">
                <h1 class="bold-xlarge" id="changeHeadline" style="">
                  Sent
            </h1></div>
 <table class="">
                    <thead>
                      <tr>
                        <!--h2 class="heading-medium">Apprenticeship 1</h2-->
                           <th scope="col"></th>
                          <th scope="col"></th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td style="">Reference</td>
                        <td style="font-weight:700; ;">98HGS3F</td>
                      </tr>
                       <tr>
                        <td style="">Sent to</td>
                        <td style="font-weight:700; ;">Hackney Skills and Training Ltd</td>
                      </tr>
                       <tr>
                        <td style="">Sent from</td>
                        <td style="font-weight:700; ;">Alice Jones</td>
                      </tr>
                      <tr>
                        <td>On behalf of</td>
                        <td style="font-weight:700; ">Acme Ltd Coventry</td>
                      </tr>
                      <tr>
                        <td style="">Date</td>
                        <td style="font-weight:700;  ">Thursday 18 May 2017</td>
                      </tr>
                      <tr>
                        <td style="">Apprentices</td>
                        <td style="font-weight:700;  ">23 Mechatronics Level 2 Engineers</td>
                      </tr>
                      <tr>
                        <td style="">Message</td>
                        <td style="font-weight:700;  max-width:280px">Please add the 12 x admin level 2 apprentices and 13 x engineering level 3 apprentices, as agreed on contract #51314.</td>
                      </tr>
                        <tr>

                      </tr>
                    </tbody>
                </table>

            <h2 class="heading-medium">What happens next?</h2>
                <p id="changeMainCopy">The information you added has been sent to Hackney Skills &amp; Training Ltd to enter the rest of the details.</p><p> You can view the progress in <span class="looks-like-a-link-underline">apprenticeships in progress</span></p>


          </div>

    
        </div>    
    
</main>
{% endblock %}
