{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

    <section id="notifications">
        <div class="govuk-box-highlight hidden" id="accountCreated">
          <h2 class="bold-large">
Levy account created          </h2>
        </div>
    </section>
    
  <div class="grid-row hidden">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
Manage your account
      </h1>

    </div>
  </div>
    
 

    
    
                <div class="hgroup">
                <h1 class="heading-xlarge">Manage your account</h1>
                <hr style="border-bottom: 5px #DEE0E2 solid; background: none;" />
            </div>
    

   <div class="grid-row">


        
        <div class="column-one-third">

            
            
            <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/finance/index">Finance</a></h3>
            <p>View transactions and forecast your funds.</p>
            
            <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/apprentices/index">Apprentices</a></h3>
            <p>Update the status of your apprentices, or recruit new ones.</p>            
            
            <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/organisations/index">Organisations</a></h3>
            <p>Add and manage organisations that’ll hire apprentices.</p>

          
        </div>
       
       <div class="column-one-third">  
            <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/paye/index">PAYE schemes</a></h3>
            <p>Access funds by adding PAYE schemes.</p>

            <h3 class="heading-medium" style="margin-top: 0">
            <a href="/sprint/{{sprint}}/account/team/index">Your team</a></h3>
            <p>Control what your team can do and invite new team members.</p>
</div>
        
        <div class="column-one-third">
       

            <aside class="related">
            <h4 class="heading-medium">Notifications</h4>
            <ul class="list list-links">
                <li>
                    <h5 class="heading-small">Spending not enabled (1)</h5>
                    <p>To enable your organisations to spend levy you need to <a href="/sprint/{{sprint}}/account/organisations/index.html">accept the SFA agreement.</a></p>
                </li>    
            </ul>
            </aside>
            
 
       
        </div>
 
       
       
                  <section>
            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this site</h3>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Take our 3 minute survey</a> so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
            </div>
        </section>
</div>
    
    
  

</main><!-- / #content -->
{% endblock %}
