{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

    <section id="notifications">
        <div class="govuk-box-highlight hidden" id="accountCreated">
          <h2 class="bold-large">
Levy account created          </h2>
        <p>You need to <a href="/sprintbeta8-4&#10;&#10;&#10;&#10;/account/organisation/view?agreementState=not-signed">sign the SFA agreement</a> before you can start spending your levy.</p>
        </div>
    </section>
    
  <div class="grid-row">
    <div class="column-two-thirds">
<!--
      <h1 class="heading-xlarge">
        Home
      </h1>
-->
    </div>
  </div>
    
    <!--<div id="chart" class="chart">
    
    </div>-->
    
    <div class="grid-row">
<br>
<br>

        
    
        <div class="column-one-third"></div>



    

<div class="panel panel-border-wide alert-default">
            To enable spending you must <a href="/sprint/{{sprint}}/account/organisations">sign 1 agreement</a>.
          </div>
        
        <div class="column-two-thirds hidden">

            <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/finance/index">Find apprenticeship training</a></h3>
            <p>View transactions and forecast your funds.</p>
            
            
            <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/finance/index">Finance</a></h3>
            <p>View transactions and forecast your funds.</p>
            <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/paye/index">PAYE schemes</a></h3>
            <p>Access funds by adding PAYE schemes.</p>

            <p>View transactions and forecast your funds.</p>
       
            <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/apprentices/index">Apprentices</a></h3>
            <p>Update the status of your apprentices, or recruit new ones.</p>

            <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/organisations/index">Organisations and agreements</a></h3>
            <p>Add and manage organisations that’ll hire apprentices.</p>

            <h3 class="heading-medium" style="margin-top: 0">
            <a href="/sprint/{{sprint}}/account/team/index">Manage your team</a></h3>
            <p>Control what your team can do and invite new team members.</p>
            
        </div>
        
        <div class="column-two-thirds">
            <div class="hgroup">
                <h1 class="heading-xlarge">Things you can do</h1>
            </div>                
            <h3 class="heading-medium">
                Sign agreements
            </h3>
            <p>You need to <a href="#">sign 1 agreement.</a></p>
            
            <h3 class="heading-medium">
                Build your team
            </h3>
            <p><a href="#">Invite team members.</a></p>
            
            <h3 class="heading-medium">
                Forecast your funds
            </h3>
            <p><a href="#">Forecast your funds.</a></p>
            
            <h3 class="heading-medium">
                Explore training and find a provider.
            </h3>
            <p>For employers looking to take on apprentices.</p>
            <p><a href="http://findapprenticeshiptraining.sfa.bis.gov.uk">Find apprenticeship training.</a></p>
            
            <h3 class="heading-medium">
                Learn more about Endpoint Assesment.
            </h3>
            <p>Each apprenticeship requires an end point assesment to verify the apprenticeship has be completed at a level of competenance.</p>
            <p><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations">Register of apprentice assessment organisations</a></p>
            <!--
                    <h5 class="heading-small">Enable spending</h5>
                        <p></p>You need to <a href="#">sign <span class="count">1</span> agreement.</a>
                  

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p>You need to <a href="#">sign <span class="count">3</span> agreements.</a></p>
               

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p><a href="#"><span class="count">1</span> agreement needs to be signed.</a></p>
               

                    <h5 class="heading-xsmall">Enable spending</h5>
                    <p><a href="#"><span class="count">3</span> agreements needs to be signed.</a></p>
            -->

        <aside id="checklist" class="related hidden">
            <h4 class="heading-medium">Checklist</h4>    
<table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0"></th>
                               <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>

                             <tr id="" class="">
                              <td>You need to <a href="/sprint/{{sprint}}/account/organisations/index">sign <span class="count">1</span> agreement.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>
                             <tr>
                              <td><a href="/sprint/{{sprint}}/account/team/index">Invite team members.</a></td>
                                <td>
                                  <span id="teamMemberOne" class="statusToDo visually-hidden">1 Team member added</span>
                                  <span id="teamMemberTwo" class="statusToDo rj-dont-display">2 Team members added</span>
                                </td>
                              </tr>
                              <tr>
                              <!--quick hack, will fix -->
                              <td><a href="/sprint/{{sprint}}/account/finance/index">Forecast your funds</a></td>
                               <td> <span id="forecastComplete" class="statusToDo rj-dont-display">Forecast added on 20 May 2017</span> </td>
                              </tr>

                             <tr id="trainingProviders" class="rj-dont-display">
                              <td><a href="http://www.findapprenticeshiptraining.sfa.bis.gov.uk">Explore training and find a provider.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="rj-dont-display">
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Learn more about Endpoint Assesment.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>


                          </tbody>
                      </table>
        </aside>
        </div>
        
            <div class="column-one-third">

        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about managing your account or invitations so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about your experience of managing your own account or being invited to a team</span></a></p>
            </div>
        </section>
    </div>
 
</div>
    
<div class="grid-row page-dashboard">
            <div class="hgroup">
                <h1 class="heading-xlarge">Your options</h1>
            </div>    
    <div class="column-two-thirds">
     
            <div class="grid-row">
                <div class="column-half">
                    <h3 class="heading-medium">
                        <a href="/accounts/MKKKN6/Teams">Your team</a>
                    </h3>
                    <p>Control what your team can do and invite new team members.</p>
                </div>
                <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/accounts/MKKKN6/Balance">Finance</a>
                    </h3>
                    <p>View transactions and forecast your funds.</p>
                </div>

            </div>
            <div class="grid-row">
                <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/accounts/MKKKN6/Agreements">Organisations and agreements</a>
                    </h3>
                    <p>Add and manage organisations that'll hire apprentices.</p>
                </div>
                <div class="column-half">
                    <h3 class="heading-medium">
                        <a href="/accounts/MKKKN6/Schemes">PAYE schemes</a>
                    </h3>
                    <p>Add or remove <abbr title="Pay as your earn">PAYE</abbr> schemes.</p>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-half ">
                    <h3 class="heading-medium">
                        <a href="/accounts/MKKKN6/apprentices/Home">Apprentices</a>
                    </h3>
                    <p>Update the status of your apprentices, or recruit new ones.</p>
                </div>
            </div>
        </div>
    <div class="column-one-third">

        <section>
            <div class="panel panel-filled">
                <h2 class="heading-medium">Help us improve this section</h2>
                <p>Take a 3 minute survey about managing your account or invitations so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/viewlevy" target="_blank" class="button">Take the survey <span class="vh">about your experience of managing your own account or being invited to a team</span></a></p>
            </div>
        </section>
    </div>
</div>    
    

    

</main><!-- / #content -->
{% endblock %}
