{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Name your account
      </h1>
       
        <div class="form-group">
        <p>You account is called:</p>
        <p class="bold-large" style="margin-bottom: 0; padding-bottom: 10px;">My levy account</p>
        <hr style="margin-top: 0; padding-top: 0;"/>
        <a href="#" class="button">Continue</a>
        <a href="#" class="button text-link">Rename account</a>
        </div>
        
        <form class="">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">How do you want to be contacted?</legend>
        <div class="form-group">
      <label class="block-label" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
        Use, "My levy account"
      </label>

      <label class="block-label" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
        Let me pick a name
      </label>
      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
        <label class="form-label" for="contact-phone">Your levy account name</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
      </div>
        </div>
        <div class="form-group">
            <a class="button" href="/sprint/{{sprint}}/account/dashboard/index.html?account=created">Continue</a>
        </div>
    </fieldset>
  </div>
</form>

    </div>
  </div>

</main>
{% endblock %}
