{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="zxcvb" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
              <h1 class="heading-xlarge">
                  Get set up as a user
            </h1>
        </div>
    </div>
  </div>        
        <form id="profileSetup" action="accesscode">
  <fieldset>
    <legend class="visuallyhidden">Your name</legend>
      <div class="form-group" id="name">
          <label class="form-label-bold" for="users-name">
          <!--span class="form-hint">Here is a hint for this form field.</span-->
          <span class="form-label-bold">Your name</span>
          <span class="error-message hidden" style="display: none;">
          Enter a name to continue
        </span>
        </label>
              
          <input aria-invalid="true" class="form-control" id="users-name" type="text" aria-required="true">
      </div>
      
      <div class="form-group" id="emailGroup">
          <label class="form-label-bold" for="email-address">
            <span class="form-label-bold">Email</span>
  <span class="form-hint">We'll send you an email to confirm your identity.</span>              
            <span class="error-message hidden" style="display: none;">Error message about valid email here</span>
          </label>
          <input class="form-control" id="email-address" type="text">
      </div>
    </fieldset>
             <fieldset>
   
            <div class="form-group" id="passwordgroup">
          <label class="form-label-bold" for="user-password">
              <span class="form-label-bold">Create password</span>
          <!--span class="form-hint">Here is a hint for this form field.</span-->
                        <span class="error-message hidden" style="display: none;">
          Enter a name to continue
        </span>
        </label>        
        
              
       
                <input id="password" type="password" class="form-control">
                <span data-toggle="tooltip" data-placement="left" title="Press and hold the eye to show your password" class="show-pw">Show</span>
                                <div class="password-strength">
                                    <span class="tooweak"></span>
                                    <span class="weak"></span>
                                    <span class="medium"></span>
                                    <span class="strong"></span>
                                </div>
 <p>Password strength: <span class="pw-strength"></span></p>
                
                                          <div class="popover">
                                    <div class="arrow"></div>
                                            <p class="bold-small">Your password should:</p>
                                    <div class="popover-content">
                                        <ul>
                                            <li id="8num" class="danger"><i class="fa fa-circle"></i>have at least 8 characters</li>
                                            <li id="1cap" class="danger"><i class="fa fa-circle"></i>have at least one uppercase and one lowercase letter</li>
                                            <li id="1num" class="danger"><i class="fa fa-circle"></i>have at least one number</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
      <div class="form-group" id="confirmPassword">
          <label class="form-label-bold" for="user-password_confirm">
              <span class="form-label-bold">Re-type password</span>
          <span class="error-message" id="error1" style="display: none;">Reconfirm you password</span>
          <span class="error-message" id="error2" style="display: none;">Passwords do not match</span>
          </label>
          <input class="form-control" id="user-password_confirm" type="password">
      </div>     
                  
        </fieldset>
        <div class="panel panel-width-thin">
            <p>By continuing you accept the <a href="terms">terms of use.</a></p>
        </div>
        
            <a href="/sprint/{{sprint}}/onboarding/check-mail.html" class="button">Set me up</a>
</form>


</main>
{% endblock %}
