{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
{% include "includes/link-back.html" %}
<div class="grid-row">
           <div class="column-two-thirds">
  <h1 class="heading-xlarge">Add apprentices</h1>

            <form action="individual-figures">
                <fieldset>
                  <!--h2 class="heading-medium">Choose</h2-->
                            <!--h2 class="heading-medium">Choose</h2-->
                  <legend class="visuallyhidden">How do you want to add apprentices</legend>
                  <div class="form-group">
                              <label class="form-label-bold" for="search">How do you want to add apprentices?</label>
                      <div class="multiple-choice">
                      <input id="radio1" type="radio" name="radio-group" value="one-at-time">
                      <label for="radio1">
                     One at a time
                  </label>
                          </div>


                      <div class="multiple-choice">
                    <input id="radio2" type="radio" name="radio-group" value="bulk-upload">
                    <label for="radio2">
                    Bulk upload using a file
                  </label>
                      </div>
                      
                      <div class="multiple-choice">
                    <input id="radio3" type="radio" name="radio-group" value="addULN">
                  <label id="addULN" for="radio3">
                    Add unique learner numbers (ULNs) to apprentices
                  </label>                      
                      </div>


                  </div>
                </fieldset>
                <a class="button" id="saveAndContinue" type="button">Continue</a>
              </form>


            </div>

</div>
</main>
{% endblock %}
