{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-remove" id="content" role="main" tabindex="-1">


{% include "includes/link-back.html" %}
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge"><span class="heading-secondary organisation-name">Acme Ltd</span>Remove organisation</h1>
                        <p>Removing Acme ltd will end its agreement with SFA.</p>
            </div>
        
        
        <form>
  <div class="form-group" action="add-your-details.html">
    <fieldset>

        <legend class="heading-small">Are you sure? </legend>
        <div class="form-group">
      <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="existing">
Yes, remove now
      </label>
      <label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="new">
No, don’t remove
      </label>
            </div>
        <div class="form-group">
        <!--<a href="/sprint/{{sprint}}/onboarding/before-you-start.html"> id="action" class="button">Continue</a>-->
        <a href="#" id="action" class="button">Continue</a>
        </div>            
    </fieldset>
  </div>
</form>
  </div>

        <div class="column-third">
               
        
        </div>
</div>

    
    
            
            

</main>
{% endblock %}
