{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-remove" id="content" role="main" tabindex="-1">


{% include "includes/link-back.html" %}
    
    
        <div class="hgroup text">
            <h1 class="heading-xlarge">Remove an organisation</h1>
                        <p>You can only remove organisations that aren’t currently employing apprentices.</p>
            </div>

 <div class="grid-row">
    <div class="column-two-thirds">
                  </div>

        <div class="column-third">
               
        
        </div>
</div>

        <div id="orgTable"></div>
    
            
            

</main>
{% endblock %}
