{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}


  
    
<div class="grid-row">
            <div class="column-two-thirds">
                <div class="hgroup">
                    <h1 class="heading-large user-name">Ty Fairclough</h1>
                    <p class="lede">Choose what you allow this team member to do.</p>
                </div>
               
                <div class="form-group">
                <fieldset>
                    <legend class="visually-hidden">Select a role for Ty Fairclough</legend>
                    <label class="block-label selection-button-radio" for="radio1">
                        <input id="radio1" type="radio" name="Role" value="3">
                        View information but can’t make changes
                    </label>
                    <label class="block-label selection-button-radio" for="radio2">
                        <input id="radio2" type="radio" name="Role" value="2">
                        Add apprentices and view information
                    </label>
                    <label class="block-label selection-button-radio" for="radio3">
                        <input id="radio3" type="radio" name="Role" value="1">
                        Invite team members, sign agreements, add apprentices and view information
                    </label>
                </fieldset>
            </div>
                
                <a href="/sprint/{{sprint}}/account/team/index.html?rolechange=y" class="button">Update</a>
                <a href="/sprint/{{sprint}}/account/team/index.html?rolechanger=n" class="button text-link">Cancel</a>
            </div>
        </div>

    
    
</main>
{% endblock %}
