{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

    
<div class="grid-row">
    <div class="column-two-thirds">
        
<div class="success-summary">
    <h3 class="heading-medium">Account successfully created</h3>
    <p>The miminum requirements to create a levy account have now been met.</p>
</div>        
        
    <h2 class="heading-xlarge">Next steps</h2>
<p class="">Choose any of the following options or <a href="/sprint/{{sprint}}/account/dashboard/index">skip to your account dashboard</a>
</p>
</div>    
</div>

<div class="">
<h3 class="heading-large"><a href="/sprint/{{sprint}}/account/organisations/index">1. Enable spending - you need to sign an agreement</a></h3>

<h3 class="heading-large"><a href="/sprint/{{sprint}}/account/team/index">2. Invite team members</a></h3>

<h3 class="heading-large"><a href="#">3. Forecast your funds</a></h3>
        
<h3 class="heading-large"><a href="findapprenticeshiptraining.sfa.bis.gov.uk">4. Explore training and find a provider</a></h3>

<h3 class="heading-large"><a href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations">5. Learn more about Endpoint Assesment</a></h3>

    <a href="/sprint/{{sprint}}/account/dashboard/index">Skip to dashboard</a>
 </div> 

</main><!-- / #content -->
{% endblock %}
