{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="test-react-setup" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
          zxcvbn experiment
      </h1>
            <p>I am trying to discover if users can find anomolies in their password entry quicker than they can read similar length and types of words</p>
            <p>The experiment aims to prove that a user can identify an issue in a pattern of words quicker than a third party can understand those words when spelt correctly.</p>
            <p>The aim is to build a 'peek' feature on a password input that visibly shows a user their password only for as long as they need to see it, making it impossible for a user to use over the shoulder tactics to steal the password. Even taking a photo would require the hacker to capture an image with split second reaction times. A video would be required and as in entering a pin people should/can protect their input from prolonged view. This statement makes it clear this is not a solution but an enhancement to an issue that plagues many a user in their day to day lives.</p>          
     </div>   
    
    <form>
<div class="form-group">
          <label class="form-label-bold" for="real-word">
            <span class="form-label-bold">Real word</span>
            <span class="form-hint">Enter the word the user wrote down as is.</span>              
          </label>
          <input class="form-control" id="real-word" type="text">
      </div>
        
        <div class="form-group">
          <label class="form-label-bold" for="fake-word">
            <span class="form-label-bold">fake word</span>
            <span class="form-hint">Make only a small typical keyboard entry error</span>              
          </label>
          <input class="form-control" id="fake-word" type="text">
      </div>
        
        <a href="/sprint/{{sprint}}/test/react/ready-1.html" class="button">Continue</a>
    </form>
    

</main>
{% endblock %}
