{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-add" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
		  <ul class="error-summary-list">
		    <li class="hidden"><a href="#chn">Company not found</a></li>
		    <li class="hidden"><a href="#chn">Enter a Companies House number</a></li>
		    <li class="hidden"><a href="#ccn">Charity not found</a></li>
		  </ul>
		</div>

    
		<section id="search" xmldata="/sprint/{{sprint}}/proData.xml">
		    
		    <form id="public-sector-search">
		        <h1 class="heading-large">Search for your organisation</h1>
                <p>Add organisations so they can spend funds.</p>
				    <div class="form-group">
				        <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter name</label>
				        <input class="form-control" id="input-keywords" type="text" />
				    </div>
		        <button type="submit" class="button" id="submit-keywords">Search</button>
		    </form>
		
 
				<section id="results-wrapper" class="hidden">
					<h1 class="heading-large">Select your organisation</h1>
						<div class="search-header">
							<fieldset class="search-input">
				    		<label for="search-main">
				        	<h1 class="heading-medium">Search results <span class="visuallyhidden">for “{{keyword}}”</span></h1>
									</label>
							    <input type="search" name="q" id="search-main">
				  		</fieldset>
							<fieldset class="search-submit">
								<button type="submit" class="button">Search</button>
				  		</fieldset>
						</div>
				    <p><span class="count">xxx,xxx</span> results found</p>
				        <div class="grid-row">
				
				            <div class="column-one-third">
				                <aside>
				                    <h3 class="bold-small">Filter results</h3>
				                    <fieldset class="filters filters-accordion">
				                    <h2 class="toggler heading-small">Organisation type</h2>
				                    <div class="toggled-content">
				                        <div class="form-group org-search-filter">
				                            <legend class="form-label sr-only">Select an organisation type</legend>
				                            
				                            <div class="multiple-choice">
															        <input id="ltd" type="radio" name="org-type-filter" value="Private limited company"> 
															        <label for="ltd">Private limited company</label>
															      </div>
															      <div class="multiple-choice">
															        <input id="plc" type="radio" name="org-type-filter" value="Public limited company"> 
															        <label for="plc">Public limited company</label>
															      </div>
															      <div class="multiple-choice">
															        <input id="pb" type="radio" name="org-type-filter" value="Public body"> 
															        <label for="pb">Public body</label>
															      </div>
															      <div class="multiple-choice">
															        <input id="all" type="radio" name="org-type-filter" value="all" checked="checked"> 
															        <label for="all">All</label>
															      </div>

				                        </div>
				                    </div>
				                </fieldset>
				                </aside>
				            </div>            
				            <div class="column-two-thirds">
				                <div id="results"></div>  
													<div id="pagedat" style="display: none;">
				
				                </div>
				
				
				                <div class="page-navigation">
				                    <a class="page-navigation__btn previous">
				                        <i class="arrow-button fa fa-angle-left"></i>
				                        <span class="description">Previous <span class="hide-mob">page</span></span>
				                        <span class="counter">Page <span class="prevPage"></span> of <span class="totalPage"></span></span>
				                    </a>
				
				
				
				                    <a style="" class="page-navigation__btn next">
				                        <i class="arrow-button fa fa-angle-right"></i>
				                        <span class="description">Next <span class="hide-mob">page</span></span>
				                        <span class="counter">Page <span class="nextPage"></span> of <span class="totalPage"></span></span>
				                    </a>
				
				                </div>
				            </div>
				        </div>
				    </section>

</section>

</main>
{% endblock %}
