{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-index" id="content" role="main" tabindex="-1">

    <section id="notifications">
    <div class="govuk-box-highlight hidden" id="org">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span>  can now spend levy funds</h2>

    <!--<p class="asNotSigned"><span class="organisation-name">Acme Ltd Coventry</span> can now spend levy funds</p>-->
        </div>
        
        
        <div class="govuk-box-highlight hidden" id="removeOrgMsg">
          <h2 class="bold-large">You have removed <span class="organisation-name">Acme Ltd Coventry</span>.</h2>

    <!--<p class="asNotSigned"><span class="organisation-name">Acme Ltd Coventry</span> can now spend levy funds</p>-->
        </div>
        
        <div class="govuk-box-highlight hidden" id="org">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span>  successfully removed, contract terminated</h2>

    <!--<p class="asNotSigned"><span class="organisation-name">Acme Ltd Coventry</span> can now spend levy funds</p>-->
        </div>
        
        <div class="govuk-box-highlight hidden" id="org">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span> successfully removed</h2>

    <!--<p class="asNotSigned"><span class="organisation-name">Acme Ltd Coventry</span> can now spend levy funds</p>-->
        </div>
        
        <div class="govuk-box-highlight hidden" id="orgNo">
          <h2 class="bold-large"><span class="organisation-name">Acme Ltd Coventry</span>  has been added</h2>

    <p class="asNotSigned">To spend levy funds somebody needs to <a href="/sprint/{{sprint}}/organisations/view.index?agreementState=not-signed">sign the agreement</a></p>    
    <p class="asSigned hidden">This account can now spend levy funds</p>
        </div>
    </section>
    
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-xlarge">Enable spending</h1>
                        <p>Add each organisation that will hire apprentices by making agreements with training providers. There is no restriction on the number of <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="external">connected organisations</a> you can add.</p>
                        <p>To spend levy funds on apprentices for an organisation, you need to sign the SFA agreement for that organisation.</p>
                        <!--<a href="#">Read the SFA agreement</a>.-->
            </div>
  </div>

        <div class="column-third">
               
        
        </div>
</div>

        <div id="orgTable"></div>

            <a class="button" href="/sprint/{{sprint}}/account/organisations/add.html" id="">Add new organisation</a>         
<table class="hidden">
    <thead>
        <tr>
            <th scope="col" style="padding-top:0">Organisation</th>

            <th>Activated on</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td class=""><span class="company-name">Acme Ltd Coventry</span>
            </td>
            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Enable spending</a></td>


            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Replace</a></td>        
        </tr>
        <tr class="">
            <td class=""><span class="company-name">Acme Ltd Coventry</span>
            </td>
            <td>12 Jan 2014</td>

            <td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Remove</a></td>        
        </tr>
        <tr class="hidden">
            <td class="">Acme Ltd Bradford
            </td>

            <td><a href="/sprint/{{sprint}}/account/organisations/view.html">12 Jan 2014</a></td>
<td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Remove</a></td>
        </tr>
    </tbody>
</table>
    
    <hr />

    <p class="font-xsmall"><a href="/sprint/{{sprint}}/account/organisations/remove-org.html">Remove an organisation from your account</a>.</p>
            
            
            

</main>
{% endblock %}
