{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="account-dashboard" id="content" role="main" tabindex="-1">


       <div class="govuk-box-highlight hidden">
          <h2 class="bold-large">
Levy account created          </h2>
        <p>You need to <a href="/{{sprint}}/account/organisation/view?agreementState=not-signed">sign the SFA agreement</a> before you can start spending your levy.</p>
        </div>
    
           <div class="govuk-box-highlight hidden" id="emailUpdated">
          <h2 class="bold-large">
Email changed         </h2>
           <p>You've changed your email address to <span class="user-email bold-small">john@tesco.co.uk</span> </p>
        </div>
    


  
    <h1 class="heading-xlarge organisation-namee">Manage your apprenticeship</h1>
    <div class="grid-row" style="margin-top:30px;">
        <div class="bingo-1">
        <div class="column-third">
            <div>
            <h2 id="numberOfApprentices" class="bold-xlarge">£3,010</h2>
            <h2 class="heading-medium">May funding position</h2>
            <!--<div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">On programme</a></div>-->
            </div>
                <h3 class="heading-medium"><a href="/sprint/31/account/finance/index">Finance</a></h3>
                <p>View transactions and forecast your funds.</p>
                <hr/>
                <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/31/account/organisations/index">Enable spending</a></h3>
                <p>Create agreements for each organisation that will hire apprentices.</p>
                <hr/>
                          <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/31/account/paye/index">PAYE schemes</a></h3>
                <p>Access funds by adding PAYE schemes.</p>  
                <hr/>

              
        </div>
        </div>
        <div class="bingo-2">
        <div class="column-third">
            <div>
            <h2 id="numberOfApprentices" class="bold-xlarge">0</h2>
            <h2 class="heading-medium">Pending cohorts</h2>         
            </div>
                <h3 class="heading-medium"><a href="/sprint/31/account/apprentices/index">Apprentices</a></h3>
                <p>Update the status of your apprentices, or recruit new ones.</p>            
                <hr/>
                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/31/account/paye/index" target="_blank">Find apprenticeship training</a></h3>
                <p>Search for training providers, training frameworks and end-point assessors.</p>                       <hr/>  


        </div>
        </div>        
        <div class="bingo-3">
        <div class="column-third">
            <div>
            <h2 id="numberOfApprentices" class="bold-xlarge">£123,710</h2>
            <h2 class="heading-medium">Comitted spend*</h2>
            <!--<div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">On programme</a></div>-->
            </div>      
   
             <h3 class="heading-medium">
                <a href="/sprint/31/account/dashboard/settings">Settings</a></h3>
                <p>Your account and etc etc.</p>
            <hr>
            
        </div>
        </div>

    </div>
    
    <section class="text">
                <div class="panel panel-filled">
                    <h3 class="bold-medium">Help us improve this site</h3>
                    <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Take our 3 minute survey</a> so that we can improve the service.</p>
                    <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
                </div>
            </section>

    <script>
        $("document").ready(function(){
           $("i").click(function(e){
               e.preventDefault();
               $("#welcome").hide();
           }) 
        });
    </script>



</main><!-- / #content -->
{% endblock %}
