{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="agreement-cover" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge"><span class="heading-secondary organisation-name">GOV.UK elements</span>
                Your SFA agreement</h1>
            
            <p>This agreement is a legal contract between <span class="organisation-name bold-small">Acme ltd</span> and <span class="bold-small">SFA</span>. It allows SFA to pay your training providers for apprenticeships. </p>

        </div>
 
 
        
        
     
    </div>
</div>
    
    
<section class="attachment-full-width">
  <div class="head-section">
    <h3 class="heading-medium">Document</h3>
  </div>
  <div class="content">
    <article>
      <div class="govspeak">
          <section class="attachment embedded">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/sprint/{{sprint}}/account/organisations/agreement.html"><img alt="" src="https://assets.publishing.service.gov.uk/government/assets/pub-cover-html-b0465911e56983d98c70f0e25fba24bc206d37e8c83d4addf6421dcf6022c6cd.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title font-medium"><a href="/sprint/{{sprint}}/account/organisations/agreement-signed.html">Your SFA agreement</a></h2>
    <p class="metadata">
        <span class="type">HTML</span>
    </p>


  </div>
</section>

      </div>
    </article>
  </div>
</section>
    <hr />
    <div class="grid-row">
        
        <div class="column-two-thirds">
        <div class="hgroup">
            <h3 class="heading-medium">This agreement has been accepted</h3>
            </div>        
            <table class="top-border">
                <tbody>
                    <tr>
                    <th scope="row">
                        Accepted by:
                    </th>
                    <td>
                            <span class="user-name">Pete Kowalczyk</span>
                    </td>
                </tr>
    <tr>
                    <th scope="row">
                        On behalf of:
                    </th>
                    <td>
                            <span class="organisation-name">Acme Ltd</span>
                    </td>
                </tr>
    <tr>
                    <th scope="row">
Address:
                    </th>
                    <td>
1 Aviation House, WC1V 6AL
                    </td>
                </tr> 
                    
                    <tr>
                    <th scope="row">
Accepted on:
                    </th>
                    <td>
<span class="today">1 April 2017</span>
                    </td>
                </tr>                    
    </tbody></table>  
        </div>    
    </div>
    
  {% include "includes/link-back.html" %}
        

</main>
{% endblock %}
