{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          You must have a contract for services
          </h1>

          <p>For training to be funded through an employer’s account, there must be a written agreement 
          in place between the employer and training provider before the apprenticeship starts. 
          This agreement is known as a contract for services.</p>
           
         <p>Until you have a contract for services you won't be able to approve this cohort.</p>
        
          <p>For more information, see <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">
          Apprenticeship funding and performance-management rules for training providers</a>.</p></div>
      
      <p>Return to home page</p>
       
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
