{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          You must have a contract for services
          </h1>

          <p>To approve this cohort, and for training to be funded through the employer’s account, 
            you must have a contract for services. For more information, see the 
            <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">
          apprenticeship funding and performance-management rules for training providers</a>.</p>
      
        <p>Any changes you've made to this cohort have been saved. Once you've agreed and signed a contract 
          with the employer you'll be able to return to your account and continue the approval process.</p>
      
          <p><a href="/">Return to home page</a></p>
      </div>
      
      
       
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
