{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-apprentices" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Confirm employer of apprentices
      </h1>
        
        <p>By approving this cohort, you’re confirming that the apprentices are employed 
          by the employer, or a connected company or charity.</p></div>
        

        
        <a href="#" class="button">Continue</a>

        

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
