{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-identity" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Confirm employer identity
      </h1>
        
        <p>Tell the user what they are undertaking, that they must confirm the identity or they loose their funding if found to be wrong. Are they a connected company?</p></div>
        
<form id="form1">
                    <div class="form-group">
                      <label class="form-label-bold" for="">Is this company a company?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                     Yes, THEY'RE ARE FOR REAL
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="0">
                    No, THEY'RE NOT BRAH
                     </label>
                  </div>
                

              </form>
        
        <a href="#" class="button">Go</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
