{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Confirm contract for services
          </h1>
        
<form id="form1">
                    <div class="form-group">
                      <label class="form-label-bold" for="">Do you have an agreement (contract for services) in place with the employer?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                     Yes, we have a contract for services
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="0">
                    No, we don't have a contract for services
                     </label>
                  </div>
  
   </form>
  
  <details>
  <summary><span class="summary">What is a contract for services?</span></summary>
    <div class="panel panel-border-narrow">
  <p>A contract for services is a formal agreement between a buyer and a supplier. 
    In this case, the contract is between the employer that’s buying apprenticeship training 
    for their apprentices and the training provider that’s training the apprentices.</p>
    </div>
          </details>
             
        
        <a href="#" class="button">Continue</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
