{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="no-contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Why isn’t there a contract for services?
            </h1>
        </div>
        
<form id="form1">
                    <div class="form-group">
                      <label class="form-label-bold" for="">Why don’t you have a contract for services with the employer?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                      We don’t have a contract in place yet
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="0">
                   The apprentices are our employees, so we don’t need one
                     </label>
                  </div>
                

              </form>
        
        <a href="#" class="button">Continue</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
