{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="agreement-cover" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Your agreement</h1>
            <p>Tell the user about the agreement, what it contains and who should sign it.</p>
        </div>
 
 
        
        
     
    </div>
</div>
    
    
    <div class="grid-row">
    
        <div class="column-one-third">
            <h3 class="heading-medium">Skills Funding Agency</h3>
        </div>
        <div class="column-two-thirds">
            <address>
                Cheylesmore House 
                <br>
                Quinton Road 
                <br>
                Coventry 
                <br>
                CV1 2TW
            </address>
        </div>
    </div>
            
    
    <div class="grid-row">
    
        <div class="column-one-third">
            <h3 class="heading-medium"><span class="company-name">Acme Ltd Coventry</span></h3>
        </div>
        <div class="column-two-thirds">
            <address>
                13 Threadneedle Street
                <br>
                London
                <br>
                EC2A 3LT
            </address>
        </div>
    </div>
<section class="attachment-full-width">
  <div class="head-section">
    <h3 class="heading-medium">Document</h3>
  </div>
  <div class="content">
    <article>
      <div class="govspeak">
          <section class="attachment embedded">
  <div class="attachment-thumb">
      <a aria-hidden="true" class="thumbnail" href="/sprint/{{sprint}}/account/organisations/agreement.html"><img alt="" src="https://assets.publishing.service.gov.uk/government/assets/pub-cover-html-b0465911e56983d98c70f0e25fba24bc206d37e8c83d4addf6421dcf6022c6cd.png"></a>
  </div>
  <div class="attachment-details">
    <h2 class="title font-medium"><a href="/sprint/{{sprint}}/account/organisations/agreement.html">Employer agreement</a></h2>
    <p class="metadata">
        <span class="type">HTML</span>
    </p>


  </div>
</section>

      </div>
    </article>
  </div>
</section>
        <section class="attachment-full-width">
  <div class="head-section">
    <h3 class="heading-medium">Detail</h3>
  </div>
  <div class="content">
    <article>
      <div class="govspeak">

          <section class="attachment detail">
                <ul class="list list-bullet">
                <li>allow the SFA to pay levy funds to your training providers
                </li>
                <li>keep records according to specific record keeping requirements
                </li>
                <li>participate in audits
                </li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
                </ul>
          </section>

      </div>
    </article>
  </div>
</section>
        

    <hr />
    <div class="grid-row">
        
        <div class="column-two-thirds">
        <div class="hgroup">
            <h3 class="heading-medium">This agreement needs to be signed</h3>
            <p>Tell the user again who should sign it.</p>
            </div>        
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/agreement-sign.html"  class="button" >Continue to sign</a>
        </div>
    </div>
      {% include "includes/link-back.html" %}
    

</main>
{% endblock %}
