{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="onboarding-index" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}



    <h1 class="heading-xlarge ">


Approve cohorts</h1>


   <p class="lede ">You have <span style="font-weight:700">4</span> cohorts that need your approval: </p>
        <table id="transactionsOUT">
      

                    <thead>
                      <tr>
                        <th scope="col" class="mini-pad">Employer</th>
                        <th scope="col">Reference</th>
                        <th class="" scope="col" style="">Last message</th>

                        <th scope="col"></th>
                      </tr>
                    </thead>

                      <tbody><tr>
                        <td class="mini-pad">Acme Coventry Ltd</td>
                        <td>98HGS3F</td>
                        <td style="max-width:300px">This is contract ref#90210, can you add the 25 bakery assistants to it.</td>

                        <td class=""><a href="provider-validated-employer">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Cyberdyne Systems</td>
                        <td>55HGS3F</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="/programmeFour&#10;&#10;&#10;&#10;/contracts/provider-in-progress/provider-list">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Tyrell Corp</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class="looks-like-a-link-underline">Details</td>
                      </tr>
                       <tr>
                        <td class="mini-pad">Oscorp</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class="looks-like-a-link-underline">Details</td>
                      </tr>

                    </tbody>
                </table>


    
    

    
</main><!-- / #content -->
{% endblock %}
