{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-apprentices" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Confirm employer of apprentices
      </h1>
        
        <p>ASK USERS IF THEY ARE HIRING THEIR OWN EMPLOYEES </p></div>
        
<form id="form1">
                    <div class="form-group">
                      <label class="form-label-bold" for="">Connected company question</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                     Yes, they are connected and I want to loose all my funding because if i'm honest i dont have a clue, a way to find out and can only get an assurance from the employer who already wrongly said they are connected!
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="0">
                    No, Go to advice page
                     </label>
                  </div>
                

              </form>
        
        <a href="#" class="button">Continue</a>

        

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
