{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="provider-index" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row logic-page">
    <div class="column-two-thirds">

<div class="hgroup">
    <h1 class="heading-xlarge">Provider screens</h1>
    <p>Has the provider already approved a commitment with this employer</p>
</div>
        <form>
                    <legend class="visuallyhidden">Has the provider already approved a commitment with this employer</legend>
                      <div class="form-group">
                       <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="1">
                        <span id="changeTwo">Yes</span>
                      </label>
                      <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="0">
                       <span id="changeOne">No<span>
                      </span></span></label>
                    </div>
                    
                  </form>


        <a href="/sprint/{{sprint}}/providers/" class="button">Continue</a>

    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
