{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="onboarding-index" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Provider screens
      </h1>
        
        <p>These are for story DCM-xXx</p></div>
        


        <a href="#" id="action" class="button">Continue</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
