{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="no-contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          No contract reason
            </h1>
        
        <p>Why don't they have a contract?.</p></div>
        
<form id="form1">
                    <div class="form-group">
                      <label class="form-label-bold" for="">No contract reason?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                     I don't have one yet
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="0">
                    I am placing my own apprentices in my company
                     </label>
                  </div>
                

              </form>
        
        <a href="#" class="button">Continue</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
