{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="provider-sign-agreement" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Sign SFA Provider Agreement
      </h1>
        
        <p>TELL THE USER THEY HAVEN'T SIGNED THE PROVIDER AGREEMENT. TELL THEM THEY WILL LOOSE THE PROGRESS THEY JUST MADE, BUT AMENDS TO COHORTS WILL BE SAVED.</p></div>
        


        <a href="/sprint/{{sprint}}/account/organisations/index.html" class="button">Continue</a>

          {% include "includes/link-back.html" %}

    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
