{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Enter Companies House number
      </h1>
        <p>Use the companies house number for an organisation that your apprentices will be employed through.</p>
        
        <p><a href="https://beta.companieshouse.gov.uk" rel="external">Find my Companies House number</a></p>
        
        <form action="step_a5">
            
            <fieldset>
                <div class="form-group">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Companies House number</span>
                    <span id="validNo" class="error-message visually-hidden">Enter a valid Companies House number
</span>
                    <span id="alreadyRegistered" class="error-message visually-hidden">Enter a company that isn't already registered
                        </span>
                    <span id="noCompaniesFound" class="error-message visually-hidden">No company found. Try again</span>
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
                </fieldset>
            
            <a rel="external" href="/sprint/{{sprint}}/account/organisations/confirm" class="button">Continue</a>
            </form>
        
        

    </div>
  </div>

</main>
{% endblock %}
