{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/breadcrumb.html" %}

    <section id="notifications">
    <div class="govuk-box-highlight" id="org">
          <h2 class="bold-large"><span class="company-name">Acme Ltd Coventry</span>  has been added</h2>

    <p class="asNotSigned">To spend levy funds somebody needs to <a href="/sprint/{{sprint}}/organisations/view.index?agreementState=not-signed">sign the agreement</a></p>    
    <p class="asSigned hidden">This account can now spend levy funds</p>
        </div>
    </section>
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-large">Organisation agreements</h1>
                        <p>You need to sign an agreement for each organisation before you can access levy funds and hire apprentices through that organisation.</p>
            </div>
  </div>

        <div class="column-third">
                        <a class="button" href="/sprint/{{sprint}}/account/organisations/add.html" id="dothething">Add new organisation</a>
        
        </div>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

            
            
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Organisation</th>
                                <th scope="col" style="padding-top:0">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Ltd Coventry</span>
                                </td>
                                <td>Signed</td>
<td><a href="/sprint/{{sprint}}/account/organisations/view.html">View</a></td>                            </tr>
                            <tr>
                                <td class="">Acme Ltd Bradford
                                </td>
                                <td>Not signed</td>
<td><a href="/sprint/{{sprint}}/account/organisations/sign.html">View or sign</a></td>                            </tr>
                        </tbody>
                    </table>            
 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
