{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-large">Sign agreement</h1>
            <p>You must sign this agreement to spend levy funds on apprentices for <span class="company-name bold-small">Acme Ltd Coventry</span>.</p>
            <p>By signing you agree to:</p>
            <ul class="list list-bullet">
                <li>your specific record keeping requirements</li>
                <li>your obligations to participate in audits</li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
            </ul>
        </div>
    </div>
</div>
    
    <article id="draftContract" class="html-publications-show">

            <header class="publication-header" id="contents">
<div class="inner-block floated-children">
<div class="headings">
<p class="document-type">Apprenticeships levy</p>
<h1>Employer agreement</h1>
<p>Updated <time class="published-at date" datetime="2016-08-12T09:34:04+01:00">12 August 2016</time></p>
</div>
<nav class="in-page-navigation">
<h3 class="bold-small">Contents</h3>
<ol class="unnumbered">
<li><a href="#Introduction ">Introduction </a></li>
<li><a href="#Definitions">Definitions</a></li>
<li><a href="#term-of-agreement">Term of agreement</a></li>
<li><a href="#conditions-of-funding">Conditions of Funding</a></li>
<li><a href="#contract-requirements">Contract requirements</a></li>
<li><a href="#contract-compliance-and-audit">Contract compliance and audit</a></li>
<li><a href="#payments-employer-obligations">Payment to providers – employer obligations</a></li>
<li><a href="#payments-sfa-obligations">Payment to providers - SFA obligations</a></li>
<li><a href="#limitation-of-liability">Limitation of liability</a></li>
<li><a href="#compliants">Complaints about providers</a></li>
<li><a href="#stopping-payments">Stopping payments to providers</a></li>
<li><a href="#termination">Termination of agreement</a></li>
<li><a href="#dispute">Dispute resolution</a></li>
<li><a href="#jurisdiction">Jurisdiction / authorised signatory</a></li>
<li><a href="#aid">State aid</a></li>
<li><a href="#entire-agreement">Entire agreement / amendment</a></li>
</ol>
</nav>
</div>
</header>
            

<div class="block publication-content">
  <div class="inner-block floated-children">
    <div class="govspeak">
<h2 id="Introduction"><span class="number">1.</span>Introduction</h2>

<h3><span class="number">1.1</span></h3>
<p>This Agreement is made between the Secretary of State for Education through the Skills Funding Agency, an executive agency of the Department for Education (the SFA) and <span class="company-name">Acme Ltd Coventry</span>, (the Employer).</p>


<h3><span class="number">1.2</span></h3>    
<p>The Agreement applies to any organisation that employs Apprentices and sets out the terms and conditions on which the SFA will make payments to Providers who have a Contract with the Employer to deliver Apprenticeships.</p>        
        
<h2 id="Definitions"><span class="number">2.</span>Definitions</h2>

<p>“Agreement” means this agreement between the Employer and the SFA</p>
<p>“Apprentice” means those who receive apprenticeship training and (where required) end-point assessment through an apprenticeship framework or standard funded by the Skills Funding Agency.</p>
<p>“Apprenticeship” means a job with an accompanying skills development programme. This includes the training and (where required) end-point-assessment for an employee as part of a job with an accompanying skills development programme.</p>
<p>“Apprenticeship Framework” means</p>
<p>“Apprenticeship Levy” means  a levy on UK employers to fund new apprenticeships. In England, control of apprenticeship funding will be put in the hands of employers through the Digital Apprenticeship Service</p>
<p>“Apprenticeship Standard” means</p>
<p>“Contract” means the Contract between the Employer and the Provider for the delivery of Apprenticeships.</p>
<p>“Digital apprenticeship service” means the digital interface to services designed to support the uptake of apprenticeships. The service is aimed primarily at employers, with information coming from a range of different sources including learning providers and apprenticeship assessment organisations.</p>
<p>“Funding” means</p> 
<p>“Funding Rules” means the document which sets out the detailed requirements for Apprenticeships which the Employer and Provider must comply with in order for the Provider to be funded by the SFA.</p>
<p>“Provider” means an organisation body who has a Contract with the Employer to deliver Apprenticeships.</p>
<p>“Provider Agreement” means the agreement between the Provider and the SFA setting out the condition on which the Provider will receive Funding from the SFA.</p>
<p>“Register” means the Register of Apprenticeship Training Providers on which all Providers must appear and the Register of Apprenticeship Assessment Organisations on which all Assessment Organisations must appear.</p>        
        
        
<h2 id="term-of-agreement"><span class="number">3.</span>Term of agreement</h2>

<h3><span class="number">3.1</span></h3>        
<p>The Agreement will commence on XXXXX and shall end on XXXXX unless it is terminated in accordance with clause 12.</p>        
        
<h2 id="conditions-of-funding"><span class="number">4.</span>Conditions of funding</h2>

<h3><span class="number">4.1</span></h3>        
<p>The Employer agrees to comply with the terms and conditions of this Agreement together with current versions of the following documents which are incorporated and form part of this Agreement:
</p>        
    <ol>
        <li>The Funding Rules</li>
        <li>The Apprenticeship Funding Bands Document / Funding rates and Calculations documents?</li>
        <li>DAS conditions of use</li>
        </ol>    
        
<h2 id="contract-requirements"><span class="number">5.</span>Contract Requirements</h2>

<h3><span class="number">5.1</span></h3>        
<p>The Employer must record as a commitment in a digital apprenticeship service account details of all the Apprenticeships that will be delivered under a Contract with a Provider and must agree any changes to any commitment with the relevant provider before these are recorded in the digital apprenticeship service.
</p>  

    <h3><span class="number">5.2</span></h3>            
<p>The Employer must enter into a binding Contract for Services with a Provider for the provision of Apprenticeships detailed in a commitment recorded in the digital apprenticeship service. The Contract for Services must recognise that the Employer is liable to pay the Provider the SFA may make full or partial payments to the Provider in accordance with a Provider Agreement.
</p>        
        
        <h3><span class="number">5.3</span></h3>        
<p>The Employer must enter into a Contract with a Provider which appears on the Register to deliver Apprenticeships and the Contract must include terms which deal with the following:
</p>
        

                <h3><span class="number">5.3.1</span></h3>        
        <p>monitoring of the activity and quality of apprenticeships being delivered, I	ncluding supporting quality arrangement of Ofsted and/or QAA;</p>

                        <h3><span class="number">5.3.2</span></h3>        
        <p>provision for SFA and any other person nominated by SFA access to the 
		Provider’s premises and all documents related to SFA funded provision;</p>
                                <h3><span class="number">5.3.3</span></h3>       
        <p>provision of data to SFA to enable timely updating of the Employer’s 
		digital accounts and for SFA to manage the apprenticeship budget; </p>
                        <h3><span class="number">5.3.4</span></h3>        
        <p>data protection; and</p>
                                <h3><span class="number">5.3.4</span></h3>        
        <p>dispute resolution.</p>
        
                                <h3><span class="number">5.4</span></h3>        
<p>The details of any commitment recorded on the digital apprenticeship service must be  incorporated and included as a schedule to the Contract between the Employer and Provider. 
</p>
                                <h3><span class="number">5.5</span></h3>        
        <p>The Employer must select an Assessment Organisation that will enter into a contract with the Provider to deliver the end point assessments for the Apprenticeships detailed in a commitment recorded in the digital apprenticeship service.</p>
                                <h3><span class="number">5.6</span></h3>                
        <p>The Employer must select an Assessment Organisation which appears on the Register to deliver end point assessments.</p>
                                        <h3><span class="number">5.6</span></h3>        
        <p>The employer may only direct funding from their digital account to spend on eligible apprenticeship training and assessment for their employees delivered by approved providers.</p>
                                        <h3><span class="number">5.7</span></h3>        
<p>The employer must allow access to SFA auditors in the event of an investigation into fraud or irregularity by the provider or the employer.</p>
                                <h3><span class="number">5.7</span></h3>                
        <p>Where the SFA has reasonable cause to suspect that fraud or irregularity has occurred in relation to the payments under this Agreement, the SFA shall have the right of access to the Employer’s premises at any reasonable time with or without notice to examine and remove or copy all relevant documents and records including electronic records and to interview the Employer’s servants or agents engaged with the delivery of the Contract(s).</p>
        

        <h2 id="#contract-compliance-and-audit"><span class="number">6.</span>Contract Compliance and Audit</h2>

                                <h3><span class="number">6.1</span></h3>                  
<p>The Employer must participate in audits of their arrangements as required by the SFA including, but not limited to providing, on request and at its own cost, evidence that: </p>
        
                                        <h3><span class="number">6.1.1</span></h3>           <p>It owns and operates the PAYE schemes associated with its DAS
 Account or that the schemes are owned and operated by connected companies;</p>    
                                        <h3><span class="number">6.1.2</span></h3>               <p>he employers associated with its DAS account are connected companies according to HMRC’s definition; </p>
                                        <h3><span class="number">6.1.3</span></h3>               <p>Apprentices detailed in a commitment recorded in the digital apprenticeship service account are included in a PAYE scheme associated with that digital apprenticeship service account.</p>

                                        <h3><span class="number">6.2</span></h3>                  <p>The Employer shall comply in full with the terms and conditions of this Agreement</p>

       <h2 id="payments-employer-obligations"><span class="number">7.</span>Payments– Employer obligations</h2>        
        
        
        <h3><span class="number">7.1</span></h3>
        <p>The Employer must pay the Apprenticeship Levy which is payable in the financial year which it becomes due.</p>
        <h3><span class="number">7.2</span></h3>   
        <p>The Employer must make relevant co-investment payments, calculated in accordance with the funding rules.</p>
        <h3><span class="number">7.3</span></h3>   
        <p>The Employer must pay the SFA on demand any co-funding amount due if the Employer levy account remains negative for XXX months.</p>
        <h3><span class="number">7.4</span></h3>   
        <p>The Employer shall pay the SFA on demand the value of any payments made to Providers on their behalf where, for any reason, the apprenticeship arrangements with the Provider are invalid. </p>
        <h3><span class="number">7.5</span></h3>  
        <p>The employer must not ask for or demand from a provider or an intermediary for access to funds in their digital account.</p>
        <h3><span class="number">7.6</span></h3>         
        <p>The employer must not agree any arrangement with the provider or an intermediary aimed at off-setting or reducing a co-investment payment due by the employer except where this is authorised byunder the SFA’s funding rules.</p>
        
        
             <h2 id="payments-sfa-obligations"><span class="number">8.</span>Payments to Providers – SFA obligations</h2>        
                <h3><span class="number">8.1</span></h3>
        <p>Subject to the terms and conditions of this Agreement and the Provider Agreement, the SFA shall make the following payments to Providers: </p>
        <ol>
            <li>the cost agreed by the employer and Provider for the delivery of Apprenticeships detailed in a commitment recorded on the digital apprenticeship service or a figure up to the maximum allowable under the Apprenticeship Funding Bands</li>
            <li>the cost for the delivery of English, Maths and learning support where required.</li>
            <li>Additional payments in accordance with the Funding Rules</li>
        </ol>
                <h3><span class="number">8.2</span></h3>
        <p>The Provider will be responsible for paying the additional payments to the Employer in accordance with the Funding Rules.</p>
        
         <h2 id="limitation-of-liability"><span class="number">9.</span>Limitation of Liability</h2>        

                        <h3><span class="number">9.1</span></h3>
<p>The SFA will not be liable to the Employer for any indirect or consequential loss, damage, injury or costs whatsoever.</p>
        
    
        <h2 id="compliants"><span class="number">10.</span>Complaints about Providers</h2>        

                        <h3><span class="number">10.1</span></h3>
<p>If the Employer has a complaint about the Provider’s delivery of Apprenticeships it should attempt to resolve this directly with the Provider in accordance with the terms of the Contract.</p>


                        <h3><span class="number">10.2</span></h3>
<p>If the Employer is unable to resolve its complaint with the Provider it may complain about the Provider in accordance with the SFA’s procedure for dealing with complaints about Providers.</p>



        
      <h2 id="stopping-payments"><span class="number">11.</span>Stopping Payments to Providers</h2>        

                        <h3><span class="number">11.1</span></h3>
<p>The Employer must notify the SFA immediately if it gives notice to the Provider to terminate the Contract and confirm the date of termination.  The SFA will stop paying the Provider on the date of termination unless the Employer notifies the SFA that payments should be stopped earlier.</p>        
        
                        <h3><span class="number">11.2</span></h3>
<p>The Employer must notify the SFA immediately if it becomes aware of any fraud or irregularity in the Provider’s delivery of the Apprenticeship.  The SFA reserves the right to suspend payments to the Provider where it has reasonable cause to suspect fraud or irregularity.</p>        
        
                        <h3><span class="number">11.3</span></h3>
<p>The SFA shall notify the Employer if the Provider is removed from the Register.  The SFA will stop payments to the Provider three months from the date of this notification unless the Provider has successfully re-entered the Register.  The Employer must give the Provider three month’s notice to terminate the Contract with the Provider.</p>        
        
        
        
          <h2 id="termination"><span class="number">12.</span>Termination of Agreement</h2>        
    

<h3><span class="number">12.1</span></h3>
<p>This Agreement may be terminated;
</p>        
                
<h3><span class="number">12.1.1</span></h3>
<p>by either Party giving not less than 3 month’s notice in writing to the other Party;
</p>        
                
<h3><span class="number">12.1.2</span></h3>
<p>with immediate effect, by the SFA, on an Event of Insolvency of the Employer; 
</p>        
                
<h3><span class="number">12.1.3</span></h3>
<p>in the event of fraud or irregularity by the employer; or if the employer acts in a way that brings the apprenticeship programme into disrepute;
</p>        
                
<h3><span class="number">12.1.4</span></h3>
<p>by either Party in the event that the other has committed a breach of the conditions set out in this Agreement which is not capable of remedy or which the other party has failed to remedy having been given written notice of such breach and, in the view of the party not in breach, reasonable time to rectify the breach.
</p>        
                
<h3><span class="number">12.2</span></h3>
<p>For the purposes of Clause 12.1, the term “Event of Insolvency” shall mean the following:
</p>        
                
<h3><span class="number">12.2.1</span></h3>
<p>an inability, or deemed inability to pay its debts within the meaning of section 123 of the Insolvency Act 1986; or 
</p>        
                
<h3><span class="number">12.2.2</span></h3>
<p>commencing negotiations with all or any class of creditors with a view to rescheduling any debts or entering into any composition or arrangement with creditors generally; or
</p>        
                
<h3><span class="number">12.2.3</span></h3>
<p>an order being made or a resolution being passed, or a notice being issued convening a meeting for the purpose of passing a resolution, or any analogous proceedings are taken for winding up, administration or dissolution; or</p>        
                
<h3><span class="number">12.2.4</span></h3>
<p>any liquidator, trustee in bankruptcy, receiver, administrative receiver, administrator or similar officer being appointed over, or in respect of, any part of the Employer’s business or assets.</p>        
                
      
        <h2 id="dispute"><span class="number">13.</span>Dispute Resolution</h2> <h3><span class="number">13.1</span></h3>
       
                <p>Any dispute, difference or question arising between the Parties either during the currency of the Agreement or afterwards which cannot be resolved informally between the Parties shall be referred to the SFA’s nominated representative and the Employer’s representative nominated for this purpose (jointly “the Dispute Resolution Panel”) for formal review and consideration.  Any request for referral to the Dispute Resolution Panel must include details of the dispute and any proposals to resolve it.</p>

<h3><span class="number">13.2</span></h3>
    <p>The Dispute Resolution Panel will meet within 28 days of receiving a request for referral made in accordance with clause 13.1 above.
</p>   
    
        
         <h2 id="jurisdiction"><span class="number">14.</span>Jurisdiction / Authorised Signatory</h2> 
        <h3><span class="number">14.1</span></h3>
        <p>This Agreement shall be governed by and construed in accordance with English Law.</p>

        <h3><span class="number">14.2</span></h3>
        <p>By signing this Agreement, the person signing on behalf of the Employer represents and warrants that the Employer agrees to be bound by this Agreement and that he/she is duly authorised to sign this agreement and legally bind the Employer.</p>
        
        
                 <h2 id="aid"><span class="number">15.</span>State Aid</h2> 
        <h3><span class="number">15.1</span></h3>
        <p>The Employer should satisfy itself if the European rules on State Aid apply to the value of benefits delivered under this Agreement. </p>

              <h2 id="entire-agreement"><span class="number">16.</span>Entire Agreement / Amendment</h2> 
        <h3><span class="number">16.1</span></h3>
        <p>This Agreement constitutes the entire Agreement between the Secretary of State for Education and the Employer and shall not be varied except by an instrument in writing signed by the parties.  This Agreement supersedes any and all prior agreements, correspondence, arrangements and communications whether oral or written of any party to this Agreement. </p>
        
        
        
        
        </div></div></div></article>
    
    
    <div class="grid-row">
    <div class="column-two-thirds">
            <form action="organisation?newOrg=y&amp;newOrgSigned=y" method="GET">
                <input type="hidden" id="accountId" name="accountId" value="13">
                <input type="hidden" id="agreementId" name="agreementId" value="13">
                <input type="hidden" id="legalEntityName" name="legalEntityName" value="TESCO STORES LIMITED">
              <h1 class="heading-medium">Sign the agreement now?</h1>
                <div class="form-group" id="agreeCheck">
                    
                <legend class="form-label-bold"><!--Sign the agreement now?-->
                    <div class="error-message" style="display: none;">You must be authorised to sign the agreement</div>
                </legend>
                    <label class="block-label" for="understood">
                    
                    <input class="checkbox" id="understood" name="understood" type="checkbox">
                <span>I've been authorised by my organisation to sign this agreement</span>
                
                    
                    </label>

                    </div>
                <a id="sign" href="/sprint/{{sprint}}/account/organisations/index"  class="button" >Sign, and add organisation</a>
    <a id="add" href="/sprint/{{sprint}}/account/organisations/index" class="button text-link">Add organisation, but don't sign</a>
            <input type="hidden" name="newOrg" value="y"><input type="hidden" name="newOrgSigned" value="y"><input type="hidden" name="newOrg" value="y"><input type="hidden" name="newOrgSigned" value="y"></form>
    </div>
</div>
    
      {% include "includes/link-back.html" %}

    
        

        

    </div>
  </div>

<script>
    $("#sign").click(function(e){
        e.preventDefault();
        /*
        We take the company house number and append a signed or not stat
        */
        

        
    })
</script>

</main>
{% endblock %}
