{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/breadcrumb.html" %}

        <div class="hgroup">
      <h1 class="heading-large">
          Your levy transactions
      </h1>
      <p class="lede hidden">No levy funds will be paid into your account until 20 May 2017.</p>      
            <p class="lede">Levy funds are paid into your account on the 20th of each month. </p>
<p>
If you’ve not received levy funds, check your payroll to see if you’ve paid levy to HMRC. If you’ve not paid levy to HMRC, you won’t receive levy payments into your account.
</p>
     </div>   
     
</main>
{% endblock %}
