{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="agreement-cover" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">
                <span class="heading-secondary organisation-name">GOV.UK elements</span>
               About your SFA agreement</h1>
            <p>This agreement creates a legal contract between <span class="organisation-name bold-small">Acme ltd</span> and <span class="bold-small">SFA</span>. It allows SFA to pay your training providers for apprenticeships. </p>
        </div>
        
        <div class="info-summary">

  <strong class="bold-small">
 This service for levy payers
            </strong>
            <p>By continuing you are declaring you're a going to declare levy payer</p>
        </div>
            <p>By accepting the agreement you agree to:</p>
                <ul class="list list-bullet">
                <li>allow the SFA to pay levy funds to your training providers
                </li>
                <li>keep records according to specific record keeping requirements
                </li>
                <li>participate in audits
                </li>
                <li>the fundings rules</li>
                <li>the funding rates and calculations</li>
                </ul>
    </div>
</div>


    <div class="grid-row">
        
        <div class="column-two-thirds">      
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/agreement-sign.html"  class="button" >Continue to your agreement</a>
        </div>
    </div>
    
    <br>
      {% include "includes/link-back.html" %}
    

</main>
{% endblock %}
