
{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="approve-cohorts" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge ">


New cohorts</h1>
      </div>
</div>
    <p class="lede ">You have <span style="font-weight:700">4</span> new cohort requests: </p>
    
    <table id="transactionsOUT">
      

                    <thead>
                      <tr>
                        <th scope="col" class="mini-pad">Employer</th>
                        <th scope="col">Reference</th>
                        <th class="" scope="col" style="">Last message</th>

                        <th scope="col"></th>
                      </tr>
                    </thead>

                      <tbody><tr>
                        <td class="mini-pad">Acme Coventry Ltd</td>
                        <td>98HGS3F</td>
                        <td style="max-width:300px">This is contract ref#90210, can you add the 25 bakery assistants to it.</td>

                        <td class=""><a href="/sprint/{{sprint}}/providers/review-your-cohort.html">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Cyberdyne Systems</td>
                        <td>55HGS3F</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="/sprint/{{sprint}}/providers/review-your-cohort.html">Details</a></td>
                      </tr>
                      <tr>
                        <td class="mini-pad">Tyrell Corp</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="/sprint/{{sprint}}/providers/review-your-cohort.html">Details</a></td>
                      </tr>
                       <tr>
                        <td class="mini-pad">Oscorp</td>
                        <td>999GHY4</td>
                        <td style="max-width:300px">This is a message that has been added. It runs along the bottom of the card for now.</td>

                        <td class=""><a href="/sprint/{{sprint}}/providers/review-your-cohort.html">Details</a></td>
                      </tr>

                    </tbody>
                </table>


            </div>

</div>
    
    

    
</main><!-- / #content -->
{% endblock %}
