{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
        Choose organisation
      </h1>
        <p>Choose the organisation your apprentices will be employed through:</p>
        </div>
        
       <form action="employer-contract-not-signed">
    <input id="source" name="source" type="hidden" value="employer">
    <fieldset>
      <legend class="visuallyhidden">Access to the service</legend>

      <label class="rj-roles-choice block-label " for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="acme-coventry">
        <span style="font-weight:700" id="coName">Acme Ltd Coventry</span> <span style="font-weight:700" id="">Coventry</span>
        <span class="">
          <div><p style="display:inline-block; margin:0;">Company number:&nbsp;</p><p style="display:inline; margin:0;">03127414</p></div>

        </span>
      </label>

      <label class="rj-roles-choice block-label " for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="acme-birmingham">
        <span style="font-weight:700" id="coNameTwo">Acme Ltd Coventry</span> <span style="font-weight:700" id="">Birmingham </span>
        <span class="">
          <div><p style="display:inline-block; margin:0;">Company number:&nbsp;</p><p style="display:inline; margin:0;">08610080</p></div>
            <!--div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div-->
        </span>
      </label>
        <label class="rj-roles-choice block-label " for="radio-3">
        <input id="radio-3" type="radio" name="radio-group" value="other-org">
        <span style="font-weight:700">The organisation isn't listed here</span>
        <span class="">
          <!--div><p style="display:inline-block; margin:0;">Company number:&nbsp</p ><p style="display:inline; margin:0;">08610080</p></div-->
            <!--div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div-->
        </span>
      </label>


    </fieldset>

     <div class="js-hidden" id="other-organisation-options" style="margin: 10px 0 0 20px">
      <div class="form-group">
    <fieldset>
         <legend class="visuallyhidden">Add another organisation</legend>
         <label class="form-label-bold" style="margin: 10px 0 10px 0" for="search">The organisation needs to be linked to your account before you can continue. This must be done by the account owner.</label>
           <label class="rj-roles-choice block-label " for="radio-4">
                <input id="radio-4" type="radio" name="radio-group" value="add-new-org">
                <span style="font-weight:700">Add another organisation</span>
                <span class="">
                
                </span>
              </label>
                <label class="rj-roles-choice block-label " for="radio-5">
                <input id="radio-5" type="radio" name="radio-group" value="dont-add-org">
                <span style="font-weight:700">Cancel adding apprentices</span>
                <span class="">
                  <!--div><p style="display:inline-block; margin:0;">Company number:&nbsp</p ><p style="display:inline; margin:0;">08610080</p></div-->
                    <!--div><p style="display:inline-block; margin:0;">Level:&nbsp</p><p style="display:inline; margin:0;">2 </p></div-->
                </span>
              </label>
      </fieldset>

      </div>
    </div>
<br>        
<br>        
        <a href="/sprint/{{sprint}}/account/apprentices/choose-legal.html" class="button">Continue</a>

  </form>

    </div>
  </div>

</main>
{% endblock %}
