{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup"></div>
      <h1 class="heading-xlarge">
        Apprentices
      </h1>
        
        <p>You can:</p>
        <ul class="list list-bullet">
            <li>add details of one or more apprentices to your account</li>
            <li>make sure your training provider gets paid through your account</li>
        </ul>

        <h3 class="heading-medium">
            Before you start
        </h3>
        
        
        <p>You must:</p>
        <ul class="list list-bullet">
            <li>make sure the organisation your apprentices will be employed through is in your account - view organisations in this account</li>
            <li>know the names of your apprentices</li>
            <li>know your training provider's UK Provider Reference Number (UKPRN) - your training provider can tell you this</li>
        </ul>
        
        <a href="/sprint/{{sprint}}/account/apprentices/choose-legal.html" class="button button-start">Start</a>

    </div>
  </div>

</main>
{% endblock %}
