{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">

      <div class="column-two-thirds">
            <div class="hgroup">
            <h1 class="heading-large">PAYE Details</h1>
          <p>Explain this page is a historical list of english percentages updated every quarter</p>
            
                <div class="data">
            <h2 class="heading-small">Scheme ID</h2>
            <h2 class="bold-xlarge">123/AB12345</h2>
        </div>
</div>
        </div>
      <div class="column-third">
                        <a class="button" href="/sprint/723/account/organisations/add.html" id="dothething">Remove PAYE scheme</a>
        
        </div>
  </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

            
            
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Date</th>
                                <th scope="col" style="padding-top:0">English %</th>
                            </tr>
                        </thead>
<tbody>
    <tr>
        <td class="">10 January 2018</td>
        <td>82%</td>
    </tr>
    <tr>
        <td class="">10 December 2017</td>
        <td>80%</td>
    </tr>
    <tr>
        <td class="">10 October 2017</td>
        <td>75%</td>
    </tr>
</tbody>
</table>      
 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
