{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">

      <div class="column-two-thirds">
            
            <h1 class="heading-large">Remove this scheme?</h1>
            <h2 class="heading-xlarge">123/AB12345</h2>
            <p>The <span class="company-name bold-small">Acme Ltd Coventry</span> levy account will stop receiving funds through this PAYE scheme.</p>
                <a class="button" rel="external" href="/sprint/{{sprint}}/account/paye/index.html?PAYEremoved=y">Yes, remove scheme</a>
                <a href="/sprint/{{sprint}}/account/paye/index.html?PAYEremoved=n" class="button text-link">No, don't remove</a>
        </div>
      
  </div>

</main>
{% endblock %}
