{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
Cohort review and approval stopped
      </h1>
                    
          <p>This cohort has been saved. You can contact the employer for more information.</p>
            
        <a class="link-back" href="/sprint/{{sprint}}/provider/your-cohorts.html">Back to your cohorts</a>

    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
