{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
        <h1 class="heading-large">
          Co-investment by Apprentice
        </h1>
            <p>Your co-investment amounts to Acme Ltd  -  Sept 2017</p>
            <p><span class="bold-small">Apprenticeship:</span> Business and Administration Level 3</p>
        </div>
     </div>   
    </div>
    <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Apprentice</th>
                    <th class="numeric">Unique Learner Number (ULN)</th>
                    <th class="numeric">Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            Sept 2017
                        </td>

                        <td class="">
                            Jones, Frank
                        </td>
                        <td class="numeric">
                            1001234567
                        </td>

                        <td class="numeric">
                            £100
                        </td>
                    </tr>
                                 <tr class="responsive-tr">
                        <td>
                            Sept 2017
                        </td>

                        <td class="">
                            Smith, Eugenia
                         </td>
                        <td class="numeric">
                            1009876543
                        </td>

                        <td class="numeric">
                            £100
                        </td>
                    </tr>
            </tbody>
        </table>
  </div>

</main>
{% endblock %}
