{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
Co-investment by Apprenticeship
            </h1>
            
            <p>Your co-investment amounts to Acme Ltd  -  Sept 2017</p>
        </div>
    </div>   
        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Business and Administration Level 3
                                </span>
                            </td>
                            <td class="numeric"> £200</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/1/apprentice-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Food and Drink Baking Industry Skills Level 2
                                </span>
                            </td>
                            <td class="numeric">£100</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/{{sprint}}/account/finance/1/apprentice-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                       
                </tbody>
            </table>
   

</main>
{% endblock %}
