{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="sign-agreement" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-large">Your legal agreement</h1>
            <p>Before May 2017 you’ll be asked to accept the SFA agreement for each of your organisations that will spend levy funds. This agreement will allow the SFA to pay your training providers.</p>
        <p><a href="#">Read the SFA agreement</a> - we’ll tell you when it’s ready to be accepted. </p>
        </div>

        </div>
    </div>
    

    
    
    <div class="grid-row">
    <div class="column-two-thirds">
            
        
                 
                <a id="sign2" href="/sprint/{{sprint}}/account/organisations/index.html?newOrgSigned=y"  class="button" >Continue</a>

    </div>
</div>

    
        

        

    </div>
  </div>


</main>
{% endblock %}
