{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-add" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">

      
      <div class="column-two-thirds v2">
          <div class="hgroup">
          <h1 class="heading-large">Add an organisation</h1>
          </div>
             <form action="">
            
            <fieldset>
<form>
  <div class="form-group">
    <fieldset>

      <legend class="bold-small">Select your organisation type


</legend>
           
        <div class="form-group">
      <label class="block-label" data-target="contact-by-email" for="example-contact-by-email">
        <input id="example-contact-by-email" type="radio" name="radio-group" value="ltd">
          Limited company (LTD) or Public limited company (PLC)
      </label>
      <div class="panel panel-border-narrow" id="contact-by-email">
        <div class="form-group">
                <label class="form-label-bold" for="chn">Enter Companies House number</label>
                <input class="form-control" name="chn" type="text" id="chn">
        </div>
            <p><a href="https://beta.companieshouse.gov.uk" rel="external">Find my Companies House number</a>.</p>          
      </div>

      <label class="block-label" data-target="contact-by-phone" for="public-sector">
        <input id="public-sector" type="radio" name="radio-group" value="public">
          Public sector organisation 
      </label>
<!--      <div class="panel panel-border-narrow" id="contact-by-phone">
              <p>Tell users they need to add their name and address as it appears on the ONS public sector classification guide.</p>
          <p class="font-xsmall"><a href="https://www.ons.gov.uk/economy/nationalaccounts/uksectoraccounts/datasets/publicsectorclassificationguide" rel="external">link to the ONS Public Sector Classification Guide</a></p>
          <div class="form-group">

              <label class="form-label" for="contact-phone">Name of public sector body</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
          </div>
          <div class="form-group">
                      <label class="form-label" for="contact-address">Address</label>
          <textarea class="form-control" name="contact-address"></textarea>
          </div>
          
      </div>
            -->
            
      <label class="block-label" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-group" value="charity">
          Registered charity  
      </label>
      <div class="panel panel-border-narrow" id="contact-by-phone">
          <div class="form-group">
                            <label class="form-label-bold" for="ccn">Enter Charity number</label>
        <input class="form-control" name="ccn" type="text" id="ccn">
          </div>
          <!--<div class="form-group">
        <label class="form-label" for="contact-address">Address</label>
          <textarea class="form-control" name="contact-address"></textarea>
          </div>
-->
      </div>

      <!--<label class="block-label" data-target="contact-by-text" for="example-contact-by-text">
        <input id="example-contact-by-text" type="radio" name="radio-group" value="No">
        Other
      </label>
      <div class="panel panel-border-narrow" id="contact-by-text">
             <div class="form-group">
     <label class="form-label" for="contact-text-message">Name of organisation</label>
        <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
          </div>
                 <div class="form-group">

        <label class="form-label" for="contact-address">Address</label>
          <textarea class="form-control" name="contact-address"></textarea>
          </div>
      </div>
</div>-->
    </fieldset>
      
      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
      
  </div>
</form>
                </fieldset>
            </form>
          
      </div>
  </div>

</main>
{% endblock %}
