{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-address" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Enter the <span class="orgtype">organisation</span>'s address
      </h1>

        <p class="charity">Find the registered address on the <a href="http://data.charitycommission.gov.uk/" rel="external">Charities Commission database</a>.</p>

        
        <form action="step_a5">
            
            <fieldset>
                <div class="form-group">
                <label class="form-label-bold" for="address">
                    <span class="form-label-bold"><span class="orgtype" style="text-transform: capitalize;">Charity</span>'s registered address</span>
                    <span id="validNo" class="error-message visually-hidden">Enter a valid Companies House number
</span>
                    
                    <span id="noCompaniesFound" class="error-message visually-hidden">Enter an address</span>
                    </label>
                    <textarea class="form-control" id="address" type="text" name="address"> </textarea>
                </div>
                </fieldset>
            
            <a rel="external" href="/sprint/{{sprint}}/account/organisations/confirm" class="button">Continue</a>
            </form>
        
        

    </div>
    
  </div>

</main>
{% endblock %}
