{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Confirm details
        </h1>
        
        <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
          <div class="orgtype"></div> name
        </td>
        <td>
          <span class="organisation-name"><span class="orgtype" style="inline-block;"></span> Acme Coventry</span>
        </td>
      </tr>
      <tr>
        <td>
          <div class="orgtype">Companies House</div> number
        </td>
        <td>
           <span class="orgnumber">435234534</span>
        </td>
 
          
      </tr>
        
        <tr>
        <td>
            Address
        </td>
        <td>
            <address class="organisation-address">
            100 Aviation House
            London
            EC1 2BT
            </address>
        </td>
 
          
      </tr>
    </tbody>
  </table>
        <br>
        <h3 class="heading-medium">Is this the correct <span class="orgtype"></span>?</h3>
<br>
        <a rel="external" href="/sprint/{{sprint}}/account/organisations/sign" class="button">Yes, continue</a>
            <a href="/sprint/{{sprint}}/account/organisations/index" class="button text-link">No, search again</a>
            </form>

        

    </div>
  </div>

</main>
{% endblock %}
