{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="public-sector-search" id="content" role="main" tabindex="-1">
{% include "includes/link-back.html" %}


    
<section id="search" xmldata="/sprint/{{sprint}}/data.xml">
       

        
    <form id="public-sector-search">
        <h1 class="heading-xlarge">Search for your organisation</h1>
    <div class="form-group">
        <label name="input-keywords" for="input-keywords" class="form-label">Public sector body name</label>
        <input class="form-control" id="input-keywords" type="text" />
    </div>
        <a class="button" id="submit-keywords">Search</a>
    </form>
    
    <section id="results-wrapper" class="hidden">
    <h1 class="heading-xlarge">Search results</h1>
        <p>Select one of the following results, or <a href="/sprint/{{sprint}}/account/organisations/public-sector-search.html">search again</a>.</p>
    <div id="results">
    
    </div>
    </section>
</section>
        


</main>


{% endblock %}
