{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-add" id="content" role="main" tabindex="-1">
{% include "includes/link-back.html" %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Select your public sector institution</h1>
            <p>Tell them they have to find their organisation in the alphabetical list.</p>
        </div>
    </div>
</div>

    
    <section id="directory" xmldata="/sprint/{{sprint}}/data.xml">
        <div class="directory-index hidden">
                 <span title="b">alphabetic</span>
                <a href="#" title="a">sector</a>
            </div>
        <div class="alpha-index a-to-z-nav font-medium">
                <a href="#'" title="'">'</a>
                <a href="#a" title="a">a</a>
                <a href="#b" title="b">b</a>
                <a href="#c" title="c">c</a>
                <a href="#d" title="d">d</a>
                <a href="#e" title="e">e</a>
                <a href="#f" title="f">f</a>
                <a href="#g" title="g">g</a>
                <a href="#h" title="h">h</a>
                <a href="#i" title="i">i</a>
                <a href="#j" title="j">j</a>
                <a href="#k" title="k">k</a>
                <a href="#l" title="l">l</a>
                <a href="#m" title="m">m</a>
                <a href="#n" title="n">n</a>
                <a href="#o" title="o">o</a>
                <a href="#p" title="p">p</a>
                <a href="#q" title="q">q</a>
                <a href="#r" title="r">r</a>
                <a href="#s" title="s">s</a>
                <a href="#t" title="t">t</a>
                <a href="#u" title="u">u</a>
                <a href="#v" title="v">v</a>
                <a href="#w" title="w">w</a>
                <a href="#x" title="x">x</a>
                <a href="#y" title="y">y</a>
                <a href="#z" title="z">z</a>

        </div>

          <div class="alpha-list">
              <h2 class="heading-large">PLEASE WAIT</h2>
        </div>
        
        



</section>
        

</main>
{% endblock %}
