{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="test" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="grid-row" id="multiple-location-notification">
       <div class="column-two-thirds">
           <div class="info-summary" role="group" aria-labelledby="InfoMessageText" tabindex="-1">
               <p id="InfoMessageText">This vacancy, once uploaded to find an apprenticeship, will be split into seperate adverts for each location listed</p>
               <a href="#1" onclick="closeNotificationMulitple()">Ok got it</a>
           </div>
       </div>
   </div>
        
        <div class="hgroup">
      <h1 class="heading-xlarge">
This is a companies house api test v3
            </h1>

      <h1 class="heading-medium">
       What you'll need
      </h1>
        
        <p>Your levy funds come from HMRC via your PAYE schemes.</p>
        <p>To access your funds you will need:</p>
        <ul class="list list-bullet">
            <li>the Government Gateway login details and PAYE scheme numbers used for your payroll</li>
            <li>authority to allow HMRC to access your Government Gateway account</li>
            <!--<li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external">find my Companies House number</a></li>-->
        </ul>
        </div>
        
        
        
        <a href="/sprint/{{sprint}}/onboarding/index.html" class="button button-start">Start</a>
    </div>
  </div>

</main><!-- / #content -->
{% endblock %}
