{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/breadcrumb.html" %}

        <div class="hgroup">
      <h1 class="heading-large">
          Your levy transactions
      </h1>
        <div class="data">
                    <h2 class="heading-small">Current balance</h2>
                    <h2 class="bold-xlarge">£0.00</h2>
        </div>
     </div>   
        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Payment date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th scope="col" class="numeric">Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Apr 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £0.00 </td>
                            <td class="numeric">£0.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Mar 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £0.00 </td>
                            <td class="numeric">£0.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Feb 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £0.00 </td>
                            <td class="numeric">£0.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Feb 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Feb 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Jan 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£0.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Jan 2018" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jan 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Dec 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£1,375.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Dec 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Dec 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Nov 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£2,750.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Nov 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Nov 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£4,125.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Oct 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Oct 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£5,500.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Sep 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Sep 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Aug 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£6,875.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Aug 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Aug 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Jul 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£8,250.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Jul 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jul 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Jun 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£1,375.00 </td>
                            <td class="numeric">£9,625.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Jun 2017" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jun 2017</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 May 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> £11,000.00 </td>
                            <td class="numeric">£11,000.00</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 May 2017" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 May 2017</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>
   

</main>
{% endblock %}
