{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="agreement-cover" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">
                <span class="heading-secondary organisation-name">Good Content Ltd</span>
               About your agreement</h1>
            <p>This agreement creates a legal contract between <span class="bold-small organisation-name">Good Content Ltd</span> and the <span class="bold-small">Skills Funding Agency</span> (SFA). It allows SFA to pay your training providers for apprenticeships. </p>

            <p>You need to make sure you have authority from your organisation before you accept this agreement.</p>

            <div class="notifications">
            <div class="info-highlighted">
                        <h3 class="heading-medium">Only levy payers can use this service</h3>
                        <p>By continuing you confirm that your organisation, or its <a href="#">connected organisations</a>, submits or will submit apprenticeship levy payments to HMRC.</p>
                <p>If you don't pay the levy, you can't access any funds via this service.</p>
                    </div>
            </div>
        </div>

    </div>
</div>


    <div class="grid-row">

        <div class="column-two-thirds">
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/agreement-sign.html" class="button">Continue to your agreement</a>
        </div>
    </div>

    <br>
      {% include "includes/link-back.html" %}

 
    
    

</main>
{% endblock %}
