{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-next" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
        <div class="column-two-thirds">
    <div id="notifications">
        <div class="success-summary">
            <p><span class="organisation-name">Acme Ltd</span> has been added.</p>
        </div>
    </div>
      
      </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
                  <div class="">
          <h1 class="heading-medium">What next?</h1>
          </div>
        </div>
    </div>
  <div class="grid-row">

      
      <div class="column-two-thirds">

             <form action="">
            
        <div class="form-group">


      <label class="block-label" data-target="contact-by-email" for="limited-group-panel">
        <input id="limited-group-panel" type="radio" name="radio-group" value="ltd">
Accept agreement in order to add apprentices 
      </label>

      <label class="block-label" data-target="contact-by-phone" for="public-sector">
        <input id="public-sector" type="radio" name="radio-group" value="public">
Add another organisation
      </label>
            
            <label class="block-label" data-target="contact-by-phone" for="other">
        <input id="public-sector" type="radio" name="radio-group" value="other">
                Go back to your dashboard
      </label>

      </div>

  
      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
      
</form>
          
                 
          </form></div></div>

</main>
{% endblock %}
