{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-type-manual" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
   <div class="grid-row">
    <div class="column-two-thirds">
<div class="hgroup">
      <h1 class="heading-xlarge">
          Select your organisation type
    </h1>
</div>
        <form action="step_a5">
            
            <fieldset>
<div class="form-group">
  <label class="form-label" for="select-box">Organisation type</label>
  <select class="form-control" id="select-box" name="select-box">
    <option>Limited company</option>
    <option>Public sector body</option>
    <option>Charity</option>
    <option>Other</option>
  </select>
</div>
                </fieldset>
            <div class="form-group">
            <a rel="external" href="/sprint/{{sprint}}/account/organisations/confirm" class="button">Continue</a>
                </div>
            </form>
        


    </div>
    
  </div>
</main>
{% endblock %}
