{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="contract-of-service" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
Cohort review and approval stopped
      </h1>
        

            
<p>To use funds in an employer’s digital account your organisation 
  <a href="https://www.gov.uk/government/publications/apprenticeship-funding-and-performance-management-rules-2017-to-2018">must
    have a written agreement and a commitment statement</a> in place.</p>

<p>The cohort reflects what's in this agreement. If you don’t recognise the employer that’s sent you the cohort request, 
  the cohort doesn’t reflect your agreement.</p>

<p>The cohort has been saved in your account. You can choose to delete it or to contact the employer to resolve the situation.</p>          
            
        <a class="link-back" href="/sprint/{{sprint}}/provider/your-cohorts.html">Back to your cohorts</a>

    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
