{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="choose-option-0" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          Choose  an option
      </h1>
        
        <p>Options for normal providers</p></div>
        
<form id="form1">
                  <legend class="visuallyhidden">Delete me</legend>
                    <div class="form-group">
                      <label class="form-label-bold" for="">Choose an option?</label>
                    <label class="block-label" for="provider-1">
                      <input id="provider-1" type="radio" name="radio-group" value="1">
                     Approve
                     </label>
                    <label class="block-label" for="provider-2">
                      <input id="provider-2" type="radio" name="radio-group" value="2">
                    Send for review
                     </label>
                        <label class="block-label" for="provider-3">
                      <input id="provider-3" type="radio" name="radio-group" value="3">
                    Send  save but don't send
                     </label>
                  </div>
                

              </form>
        
        <a href="#" id="action" class="button">Go</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
