{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-your-relationship" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

    
    <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge">Confirm your relationship</h1>
            <div>

                
                <dl class="confirm-details">
                    <dd>Name:</dd>
                    <dt>Acme Coventry Ltd</dt>
                    <dd>Registered address:</dd>
                    <dt>1 Some street, Some place, Coventry, CV1 1AA</dt>
                    <dd>Companies House number:</dd>
                    <dt>52819038</dt>
                </dl>

                
                <form class="state-2">
                    <legend class="visuallyhidden">Things to do next</legend>
                      <div class="form-group">
       
                      <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="1">
                       <span id="changeOne">I don't know Acme Coventry Ltd<span>
                      </span></span></label>
                      <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="2">
                        <span id="changeThree">They're a separate organisation - we're providing them with apprenticeship training</span>
                      </label>
                          <label class="block-label" for="radio-3">
                        <input id="radio-3" type="radio" name="radio-group" value="3">
                        <span id="changeThree">They're the same organisation as us - we're an employer-provider</span>
                      </label>
                    </div>
                    <div style="margin-top:20px;">
    
                        <details>
                            <summary>What is an employer-provider?</summary>
                            <div class="panel panel-width-thin">
                            An employer-provider is an employer that's registered to deliver apprenticeship training to their own employees.
                                </div>
                        </details>
                        
                    </div>
                     <div style="margin-top:20px;"><a class="button" href="/sprint/{{sprint}}/providers/id-check.html">Continue</a></div>
                  </form>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
            </div>
        </div>
    
</main><!-- / #content -->
{% endblock %}
