{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="confirm-your-business-relationship" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

    
    <div class="grid-row">
           <div class="column-two-thirds">
               <div class="hgroup">
              <h1 class="heading-xlarge">Confirm employer</h1>

                 <p>You've received a new cohort request from <span class="organisation-name">Acme Coventry Ltd</span>:</p>
                <dl class="confirm-details">
                    <dd>Name:</dd>
                    <dt>Acme Coventry Ltd</dt>
                    <dd>Registered address:</dd>
                    <dt>1 Some street, Some place, Coventry, CV1 1AA</dt>
                    <dd>Companies House number:</dd>
                    <dt>52819038</dt>
                </dl>

                </div>
               
                           <div>


<h3 class="heading-small">Is this the organisation you’re providing apprenticeship training to?</h3>                
                <form class="state-2">
                    <legend class="visuallyhidden">Things to do next</legend>
                      <div class="form-group">
       
                      <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="1">
                       <span id="changeOne">Yes, we’re providing apprenticeship training to <span class="organisation-name">Acme Coventry Ltd</span><span>
                      </span></span></label>
                      <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="2">
                        <span id="changeThree">No, we’re not providing apprenticeship training to <span class="organisation-name">Acme Coventry Ltd</span>
                      </label>
                          
                    </div>

                     <div style="margin-top:20px;"><a class="button" href="/sprint/{{sprint}}/providers/id-check.html">Continue</a></div>
                  </form>
                  <br>
                  <div class="panel panel-width-thin alert-default">If you need a contract for services between you and the employer, this organisation must be the one named on the contract.</div>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
            </div>
        </div>
    
</main><!-- / #content -->
{% endblock %}
