{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="finished-editing" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

    
    <div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge">Choose an option</h1>
            <div>
                <!--h2 class="heading-medium">
                  What do you want to update?
                </h2-->

                 <form class="state-1">
                    <legend class="visuallyhidden">Things to do next</legend>
                      <div class="form-group">
                       <label class="block-label" for="radio-2">
                        <input id="radio-2" type="radio" name="radio-group" value="1">
                        <span id="changeTwo">Send to employer for final approval</span>
                      </label>
                      <label class="block-label" for="radio-1">
                        <input id="radio-1" type="radio" name="radio-group" value="2">
                       <span id="changeOne">Send to employer to review or add details<span>
                      </span></span></label>
                      <label class="block-label" for="radio-3">
                        <input id="radio-3" type="radio" name="radio-group" value="3">
                        <span id="changeThree">Save but do not send to employer</span>
                      </label>
                    </div>
                    
                     <div style="margin-top:20px;"><a class="button" href="/sprint/{{sprint}}/providers/id-check.html">Continue</a></div>
                  </form>
                
                <form class="state-2">
                    <legend class="visuallyhidden">Things to do next</legend>
                      <div class="form-group">         
                          <div style="" class="panel panel-border-wide alert-default ">
  You must <a href="#">review and sign your apprenticeship training provider agreement</a> before you can approve cohorts.
    </div>
                      <label class="block-label" for="radio-4">
                        <input id="radio-4" type="radio" name="radio-group" value="4">
                       <span id="changeOne">Send to employer to review or add details<span>
                      </span></span></label>
                      <label class="block-label" for="radio-5">
                        <input id="radio-5" type="radio" name="radio-group" value="5">
                        <span id="changeThree">Save but do not send to employer</span>
                      </label>
                    </div>
                    
                     <div style="margin-top:20px;"><a class="button" href="/sprint/{{sprint}}/providers/id-check.html">Continue</a></div>
                  </form>

            </div>
            <div style="margin-top:35px"></div>
            <div style="margin-top:50px"></div>
          </div>

          <div class="column-one-third">
            </div>
        </div>
    
</main><!-- / #content -->
{% endblock %}
