{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

    <section id="notifications" class="">
    <div class="govuk-box-highlight" id="org">
          <h2 class="bold-xlarge"><span class="company-name">Acme Ltd Coventry</span>  has been added</h2>

        <p class="asNotSigned">A confirmation has been sent to all site owners</p>
    <p class="asSigned hidden">This account can now spend levy funds</p>
        </div>
    </section>
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-large">Your SFA agreement</h1>

                        <div class="state" style="background: #ccc; padding: 20px; border-left: 5px solid #333">
   <p>Spending enabled:This account can spend levy funds</p>
                            <p>Signed by <b>John</b> on the </b>date</b></p>
                            </div>
            </div>
  </div>

        <div class="column-third">
                        <a class="button" href="/sprint/{{sprint}}/account/organisations/add.html" id="dothething">Add new organisation</a>
        
        </div>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            

            
            
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Organisation</th>
                                <th>Date added</th>
                                <th>Added by</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Ltd Coventry</span>
                                </td>
                                <td>24 December 2017</td>
                                <td>John McClain</td>

<td><a href="/sprint/{{sprint}}/account/organisations/view.html">Remove</a></td>                            </tr>
                            <tr>
                                <td class="">Acme Ltd Bradford
                                </td>
                                <td>13 August</td>
                                <td>Freddy K. Ruger</td>

<td><a href="/sprint/{{sprint}}/account/organisations/sign.html">Remove</a></td>                            </tr>
                        </tbody>
                    </table>            
 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
