{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-add" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
  <ul class="error-summary-list">
    <li class="hidden"><a href="#chn">Company not found</a></li>
    <li class="hidden"><a href="#chn">Enter a Companies House number</a></li>
    <li class="hidden"><a href="#ccn">Charity not found</a></li>
  </ul>
</div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
                  <div class="hgroup">
          <h1 class="heading-large">Add an organisation</h1>
          <p>Add an organisation that'll make agreements with training providers. </p>
              
          </div>
        </div>
    </div>
  <div class="grid-row">

      
      <div class="column-two-thirds v2">

             <form action="">
            

  <div>

<div class="form-group">
      <legend class="bold-small">Select your organisation type</legend>
</div>
        <div class="form-group">


      <label class="block-label" data-target="contact-by-email" for="limited-group-panel">
        <input id="limited-group-panel" type="radio" name="radio-group" value="ltd">
          Listed on Companies House
          <div class="font-xsmall" style="color: gray">Limited company, public limited company, royal charter, or industrial and provident organisation</div>
      </label>
      <div class="panel panel-border-narrow" id="limited-group">
          <p style="background: #d5e8f3; font-size: 19px; border-left: 10px solid #2b8cc4; padding: 0.7894736842em;">Organisations of different types are not usually connected. Confirm that yours are before going ahead</p>
          
     
          <div class="form-group error">
                <label class="form-label-bold" for="chn">Enter Companies House number
                <span class="error-message" id="companyNotFound">Company not found</span>
                <span class="error-message" id="notValidCompany">Enter a Companies House number</span>
                </label>

                <input class="form-control" name="chn" type="text" id="chn">
        </div>
          <p><a href="#">Search for your Companies House number</a>.</p>
          
          <section class="additional-help hidden" style="margin-top:20px;">
          <h4 class="heading-small">Not on Companies House?</h4>
                    <a href="/sprint/{{sprint}}/account/organisations/manual-input.html" rel="external">Enter your company details manually</a>.</p>  
      
          </section>
                    </div>

      <label class="block-label" data-target="contact-by-phone" for="public-sector">
        <input id="public-sector" type="radio" name="radio-group" value="public">
          Public sector organisation 
      </label>
<div class="panel panel-border-narrow" id="contact-by-phone">
    
              <p style="background: #d5e8f3; font-size: 19px; border-left: 10px solid #2b8cc4; padding: 0.7894736842em;">Organisations of different types are not usually connected. Confirm that yours are before going ahead</p>

          <div class="form-group">

              <label class="form-label" for="contact-phone">Enter organisation's name</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">
          </div>
        
      </div>

            
      <label class="block-label" data-target="contact-by-phone" for="example-contact-by-phone">
        <input id="example-contact-by-phone" type="radio" name="radio-group" value="charity">
          Registered charity  
      </label>
      <div class="panel panel-border-narrow">
                        <p style="background: #d5e8f3; font-size: 19px; border-left: 10px solid #2b8cc4; padding: 0.7894736842em;">Organisations of different types are not usually connected. Confirm that yours are before going ahead</p>
          
                        <p style="background: #d5e8f3; font-size: 19px; border-left: 10px solid #2b8cc4; padding: 0.7894736842em;">Only incorporated charities should be added. Unincorporated charities trusts will not be able to sign the employer agreement.</p>

          <div class="form-group error" id="charity-panel">
                            <label class="form-label-bold" for="ccn">Enter Charity number
              <span class="error-message">Charity not found</span>
              </label>
        <input class="form-control" name="ccn" type="text" id="ccn">
              
          </div>
            <p><a href="beta.charitycommission.gov.uk/charity-search" rel="external">Search for your Charity number</a>.</p>

          <section class="additional-help hidden" style="margin-top:20px;">
          <h4 class="heading-small">Don't have a Charity number?</h4>
                <a href="/sprint/{{sprint}}/account/organisations/manual-input.html" rel="external">Enter your charity details manually</a>.</p>  
        </section>
          <!--<div class="form-group">
        <label class="form-label" for="contact-address">Address</label>
          <textarea class="form-control" name="contact-address"></textarea>
          </div>
-->
      </div>

      <label class="block-label" data-target="contact-by-text" for="sole-trader">
        <input id="sole-trader" type="radio" name="radio-group" value="sole-trader">
          Other
      </label>
                 <div class="panel panel-border-narrow">
                                             <p style="background: #d5e8f3; font-size: 19px; border-left: 10px solid #2b8cc4; padding: 0.7894736842em;">Organisations of different types are not usually connected. Confirm that yours are before going ahead</p>

                 </div>
</div>
        </div>

      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
      
</form>
          
      </div>
<div class="column-third">
    <div class="related">

<br >        
        
        <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
Only add <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance">'connected organisations'</a> that have control of each other or that are under the control of the same people. </strong>
</div>
        <br >
        <div class="notice">
  <strong class="bold-small">
Unincorporated charities are not accepted.
 </strong>
</div>

<p></p></div>
    
  </div>

</main>
{% endblock %}
