{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="sign-agreement" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-large">Enable spending</h1>
            <p>To enable C<span class="company-name bold-small">Acme Ltd Coventry</span> to spend levy funds, you need to agree to the SFA agreement.</p>
        </div>

        <p>By accepting the agreement you agree to:</p>            
            <ul class="list list-bullet">
                <li>allow the SFA to pay levy funds to your training providers
</li>
                <li>keep records according to specific record keeping requirements
</li>
                <li>participate in audits
</li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
            </ul>
    </div>
</div>
    
    <div class="grid-row hidden visually-hidden" id="publication-banner">
        <div class="column-third">
            <div class="logo">
    <h1><span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"><span>Skills Funding <br>Agency</span></span></h1>

  </div>
        </div>
        <div class="column-two-thirds">
                                <aside style="float: right; text-align: right;">
            <ul>
                <li><a href="#">Save this agreement as a PDF</a></li>
            </ul>
        </aside></div>
    </div>
    

    
    
    <div class="grid-row">
    <div class="column-two-thirds">
            
        
                 
                <a id="sign2" href="/sprint/{{sprint}}/account/organisations/sign3.html"  class="button" >View the agreement</a>

    </div>
</div>

    
        

        

    </div>
  </div>


</main>
{% endblock %}
