{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}


<main class="receive-request-start" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}

    
    <div class="grid-row">
        <div class="column-two-thirds">
            <div id="timeline">
<header>
  <div class="container text-center">
    <h1 class="heading-medium">Autumn</h1>
  </div>
</header>

<section class="">
  <div class="container">
   
    <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Tasks</h2>
        <p>Employers will have the capability to see any outstanding tasks in their account to ensure they are able to have the account into a manageable state. E.g. 4 apprentices to be approved, 2 agreements to sign.</p>
      </div>
    </div> 
    
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Activities</h2>
        <p>Employers will be presented with an audit trail to enable to them to have complete visibility on all activities within the account.</p>
      </div>
    </div>  
    
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Search an apprentice by name</h2>
        <p>Employers and providers will be able to search by apprentice name in manage apprenticeships.</p>
      </div>
    </div>  
    
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Changes in academic year</h2>
        <p>Certain restrictions will be in place within the service to cater for the changes to the new academic year.</p>
      </div>
    </div> 
    
           <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Display start and end date actuals</h2>
        <p>Employers have greater visibility of learner start and end dates to help them budget with greater granularity.</p>
      </div>
    </div> 
    
              <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Display an <abbr title="End Point Assessor">EPA</abbr></h2>
        <p>Employers will have the ability to see the End Point Assessor within the service so that their apprentice it qualified.</p>
      </div>
    </div>  
    
           <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Funding cap warning messages</h2>
        <p>Users will be aware of any course price which is above the funding band threshold.</p>
      </div>
    </div>     

  </div>
</section>

<header>
  <div class="container text-center">
    <h1 class="heading-medium">Winter</h1>
  </div>
</header>

<section class="">
  <div class="container">
   
    <div class="timeline-item">



      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Forecasting</h2>
        <p>The employer will have the ability to forecast based on actual payments within their account to help with budgeting and management of levy funds.</p>
      </div>
    </div> 
    
    <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Sunsetting</h2>
        <p>We’ll be notifying employers when their expected funds will expire.</p>
      </div>
    </div> 
    
        <div class="timeline-item">
    
  <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Download transactions </h2>
        <p>Employers will be able to download transactions they see on the screen which will let them insert the data in their own budgeting/forecasting tools.</p>
      </div>
    </div> 
     
        <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Automated stop process</h2>
        <p>Removing the need for manual intervention when moving a learner from one course to another.</p>
      </div>
    </div> 
       
         
        <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Notice board of change within the service</h2>
        <p>Notify users of new features within the service in order to best utilise their levy account.</p>
      </div>
    </div> 
           
  </div>
  
</section>


<header>
  <div class="container text-center">
    <h1 class="heading-medium">Spring</h1>
  </div>
</header>


<section class="">
  <div class="container">
        
       
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Archive Apprentices</h2>
        <p>The employer will have the ability to archive any learner who has completed or stopped their apprenticeship.</p>
      </div>
    </div> 
    
           
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">View government incentive payment for apprentices</h2>
        <p>Employers will be able to see what government incentive payments have occurred for a particular employer.</p>
      </div>
    </div> 
    
      
           
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Employer bulk upload</h2>
        <p>Employers will be able to add multiple apprentices in one go rather than individually.</p>
      </div>
    </div> 
        
           
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Improved journey’s for employer/providers</h2>
        <p>Employers who are employer/providers will be able to use one service in order manage levy account.</p>
      </div>
    </div> 
    
  </div>
</section>


<header>
  <div class="container text-center">
    <h1 class="heading-medium">Summer</h1>
  </div>
</header>


<section class="">
  <div class="container">
                     
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Read only access to view learner details</h2>
        <p>Users with read only access will be able to view apprentice details within the service.</p>
      </div>
    </div> 
    
                       
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Increase access levels</h2>
        <p>Employers have asked for additional roles within their account so that they can give a wider range of access and permissions to their staff.</p>
      </div>
    </div> 
       
                       
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Sub-accounts</h2>
        <p>Employers will have the ability to manage their levy funds between connected organisations within their account and add greater restrictions on which data can be displayed between accounts.</p>
      </div>
    </div>      
                           
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Bulk changes for apprentices</h2>
        <p>The provider will be able to submit changes for learners through a bulk change process.</p>
      </div>
    </div>    
                            
       <div class="timeline-item">

      <div class="timeline-content js--fadeInLeft">
        <h2 class="heading-small">Non-levy employers</h2>
        <p>The service will aim to cater for non levy employers too, which will give all employers ownership of the standards and apprenticeships.</p>
      </div>
    </div>    
    
  </div>
</section>
</div>
        </div>
    </div>

    
</main>

{% endblock %}