{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="paye-index" id="content" role="main" tabindex="-1">

    <section id="notifications">
<div class="govuk-box-highlight hidden" id="PAYEremoved">
          <h2 class="bold-xlarge">
            You've removed 680/cacb268	
          </h2>
        </div>
<div class="govuk-box-highlight hidden" id="PAYEadded">
          <h2 class="bold-large">
680/cacb268 has been added
          </h2>
        <p>Levy funds from this PAYE scheme will now credit your account</p>
        </div>    
   </section> 
<div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-large">Manage PAYE schemes</h1>
            <p>Add PAYE schemes to allow levy funds to be added to your account.</p>
  </div>

        </div>
        <div class="column-third">
        
        </div>
    </div>
    
    
    

<div class="grid-row">
        <div class="column-two-thirds">
            

            
            
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Scheme&nbsp;ID</th>
                                <th scope="col" style="padding-top:0">English %</th>

                                <th scope="col" style="padding-top:0"></th>
                      
                                
                            </tr>
                        </thead>
<tbody>
    <tr>
        <td class="">123/AB12345
        </td>
        <td>80.034%</td>
        <td><a href="/sprint/{{sprint}}/account/paye/details-3dp">Edit</a></td>

    </tr>
    <tr>
        <td class="">680/cacb268
        </td>
        <td>75.915%</td>
        <td><a href="/sprint/{{sprint}}/account/paye/details-3dp">Edit</a></td>

    </tr>
</tbody>
</table>      
 
            
            
            
        </div>
    </div>    
                            <a class="button" href="/sprint/{{sprint}}/onboarding/gateway-alert.html">Add new scheme</a>


</main>
{% endblock %}
