{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="">
      <h1 class="heading-large">
          Your transactions
      </h1>
    <h2 class="heading-medium">Current balance
    <div class="bold-large">£65,0000</div>
    </h2>
         </div>   

        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Payment date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Amount</th>
                        <th scope="col" class="numeric">Balance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Apr 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Mar 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Acme Training Limited
                                </span>
                            </td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/{{sprint}}/account/finance/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Feb 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric"> -£999,999,999</td>     
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Feb 2018" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 Feb 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 Jan 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Adjustment
                                </span>
                            </td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Jan 2018" href="/sprint/{{sprint}}/account/finance/adjustment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jan 2018</span>
                                    </a>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                <span class="no-wrap"> 15 May 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Credit
                                </span>
                            </td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric"> -£999,999,999</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 May 2017" href="/sprint/{{sprint}}/account/finance/credit-details.html">
                                        Details <span class="vh"> for the transaction on 15 May 2017</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>
    
    <div class="grid-row">
        <div class="column-two-thirds">
        <section>
            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this section</h3>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Give us feedback</a> about your levy data to make this section better suit your needs.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank" class="button">Give feedback</a></p>
            </div>
        </section>
        </div>
    </div>
    
   <div class="info-highlighted hidden">
                        <!--<h3 class="heading-medium">Only levy payers can continue</h3>-->
                        <p><a href="#">Give us your feedback</a> if your funding isn't what you expected.</p>
                    </div>

</main>
{% endblock %}
