{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

<div class="govuk-box-highlight" id="accountCreated">
          <h2 class="bold-large">
Account created          </h2>
        <p>You need to <a href="/sprint/{{sprint}}/account/organisations/index">sign the SFA agreement</a> before you can start spending your levy.</p>
        </div>
    
  <div class="grid-row hidden">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
Manage your account
      </h1>

    </div>
  </div>   
                <div class="hgroup">
                <h1 class="heading-xlarge">Manage your account</h1>
                <hr style="border-bottom: 5px #DEE0E2 solid; background: none;" />
            </div>
    


<div class="grid-row">

    <div class="column-one-half">

                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/paye/index">PAYE schemes</a></h3>
                <p>Access funds by adding PAYE schemes.</p>         

                <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/organisations/index">Your organisations and agreements</a></h3>
                <p>Add and manage organisations that’ll hire apprentices.</p>

                <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/finance/index">Finance</a></h3>
                <p>View transactions and forecast your funds.</p>

                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/apprentices/index">Apprentices</a></h3>
                <p>Update the status of your apprentices, or recruit new ones.</p>            

                <h3 class="heading-medium" style="margin-top: 0">
                <a href="/sprint/{{sprint}}/account/team/index">Your team</a></h3>
                <p>Control what your team can do and invite new team members.</p>

    </div>
        
<div class="column-one-half">
    <aside id="checklist" class="related">
            <h4 class="heading-medium">Checklist</h4>    
<table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0"></th>
                               <th scope="col" style="padding-top:0"></th>
                            </tr>
                          </thead>
                          <tbody>

                             <tr id="" class="">
                              <td style="width: 100%">Before you can spend levy funds you need to <a href="/sprint/{{sprint}}/account/organisations/index">sign the SFA employer agreement</a>.</td>
                                <td style="width: 0%;" class="looks-like-a-link-underline"></td>
                              </tr>
                             <tr>
                              <td><a href="/sprint/{{sprint}}/account/team/index">Invite team members.</a></td>
                                <td>

                                </td>
                              </tr>
                              <tr>
                              <!--quick hack, will fix -->
                              <td><a href="/sprint/{{sprint}}/account/finance/index">Forecast your funds</a></td>
                               <td> <span id="forecastComplete" class="statusToDo rj-dont-display hidden">No forecast made</span> </td>
                              </tr>

                             <tr id="trainingProviders" class="rj-dont-display">
                              <td><a href="http://www.findapprenticeshiptraining.sfa.bis.gov.uk">Explore training and find a provider.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="rj-dont-display">
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Learn more about Endpoint Assesment.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="rj-dont-display">
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Recruit your first apprentice.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>


                          </tbody>
                      </table>
        </aside>
           </div>
           
    </div>
 
       <hr />
       
                  <section>
            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this site</h3>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Take our 3 minute survey</a> so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
            </div>
        </section>
</div>
    
    
  

</main><!-- / #content -->
{% endblock %}
