{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Manage your apprenticeships 
            </h1>

<p>Use this service to:</p>
            
        <ul class="list list-bullet">
            <li>create new apprenticeship levy accounts</li>
            <li>spend your levy funds on apprentices</li>
            <li>start, stop or amend your apprenticeship programmes</li>
            <!--<li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external">find my Companies House number</a></li>-->
        </ul>
        <a href="/sprint/{{sprint}}/onboarding/index.html" class="button button-start">Start</a>
        </div>

        <h3 class="heading-medium">Before you start</h3>
        <p><a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">Find out about the apprenticeship levy</a> and <a href="#">find out how you can use apprenticeship levy service</a>.</p>
        
    </div>
  </div>

</main><!-- / #content -->
{% endblock %}
