{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "includes/header-gateway.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
      
      <div class="column-two-thirds">

            <h1 class="heading-large">Government Gateway login</h1>
            
         <!--   <p>This page is a replication of the government gateway account you can use to test your application through the test APIs</p>            -->
            <form action="step_b3">
            
                <fieldset>
                    <div class="form-group">
                        <label class="form-label" for="user-id">User ID
                        <!--span class="form-hint">Here is a hint for this form field.</span-->
                        </label>
                        <input class="form-control" id="user-id" type="text">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="user-password">Password
                        <!--span class="form-hint">Here is a hint for this form field.</span-->
                        </label>
                        <input class="form-control" id="user-password" type="password">
                    </div>                    
                </fieldset>
                
                <a href="/sprint/{{sprint}}/onboarding/gateway-auth.html" class="button">Sign in</a>
                
            </form>
        
        </div>
  </div>

</main>
{% endblock %}
