{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}




{% block content %}


{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


<main class="index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
SFA Atomic pattern library
            </h1>
<p>This is a UI kitchen sink to reference the Skills Funding Agencies deployment of the GDS elements UI Framework.</p>
<p>Use this Atomic pattern library to:</p>
            
        <ul class="list list-bullet">
            <li>lift design patterns for your UI</li>
            <li>reference to when asked to validate your design choices</li>
            <li>align yourself with other SFA products</li>
        </ul>
        </div>
    </div>
  </div>
    <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/layout/">Elements</a></h2>
      <p>
          HTML base level elements, colour and typeface
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/typography/">Molecules</a></h2>
      <p>
          Blocks, forms, Layout, Navigation, Text
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/colour/">Organisms</a></h2>
      <p>
          Forms, lists, sections, text, related content
      </p>

    </div>
  </div>
    <div class="grid-row">
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/layout/">Templates</a></h2>
      <p>
          Start page, dashboard, search results,
      </p>

    </div>
    <div class="column-one-third">

      <h2 class="heading-medium"><a href="/typography/">Journeys</a></h2>
      <p>
          Search, registration, authentification, siging ceremonies, check answers
      </p>

    </div>
  </div>

</main><!-- / #content -->
{% endblock %}
