{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}
{% block content %}
<style>
    .header-organisation {
        display: none;
    }
    .header-user h2 {
        display: none;
    }
</style>
<main class="elements-index" id="content" role="main" tabindex="-1">

    
      <section id="notifications" class="">
       
          
    </section>
    


        <div class="hgroup">
      <h1 class="heading-xlarge">
        Change levy account
      </h1>
        <p>Select an account or add a new one.</p>      
</div>
        <table>
        <thead>
        <tr>
        <th scope="col" width="1">Account name</th>
        <th width="1"></th>
        <th width="1" scope="col">What you can do</th>
        <th width="1" scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr class="">
            <td class=""><span class="company-name">Your levy account</span><br>
                <span class="font-xsmall" style="color: gray;">Account ID: XC993</span>
            </td>
            <td>    <a href="/sprint/{{sprint}}/user/rename-account.html">Rename this account</a>
            </td>
                <td>Everything – you're an owner</td>
            <td>
            <a href="/sprint/{{sprint}}/account/dashboard/index.html">Open this account</a>
            </td>

            </tr>
            <tr class="">
            <td class=""><span class="company-name">Your levy account</span><br>
                                <span class="font-xsmall" style="color: gray;">Account ID: LFA250DI</span>

            </td>
            <td>    <a href="/sprint/{{sprint}}/user/rename-account.html">Rename this account</a>
            </td>            <td>View financial information</td>
            <td>
            <a href="/sprint/{{sprint}}/account/dashboard/index.html">Open this account</a>
            </td>

            </tr>
            <tr class="">
            <td class=""><span class="company-name">Your levy account</span><br>
                                <span class="font-xsmall" style="color: gray;">Account ID: W3594</span>

            </td>
            <td>    <a href="/sprint/{{sprint}}/user/rename-account.html">Rename this account</a>
            </td>
                <td>Create or stop payment and view financial information</td>
            <td>
            <a href="/sprint/{{sprint}}/account/dashboard/index.html">Open this account</a>
            </td>

            </tr>

        </tbody>
        </table>   
                      
        <br>
        
        <a class="button" href="/sprint/{{sprint}}/onboarding/gateway-alert.html">Add a new levy account</a>
 

      <div class="column-third hidden">
          <aside class="related">
            <h3 class="heading-medium">Manage your profile</h3>
              <ul class="list list-links">
                <li><a href="#">Change your email address</a></li>
                <li><a href="#">Change your password</a></li>
                <li><a href="#">View your invitations</a></li>
              </ul>
          </aside>
      </div>


    

</main>
{% endblock %}
