{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}
{% block content %}
<style>
    .header-organisation {
        display: none;
    }
    .header-user h2 {
        display: none;
    }
</style>
<main class="elements-index" id="content" role="main" tabindex="-1">
  <!--{% include "includes/link-back.html" %}-->

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Message to alert the user to a problem goes here
  </h1>

  <p>
    Optional description of the errors and how to correct them
  </p>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
  </ul>

</div>
    
  <div class="grid-row">
    <div class="column-two-thirds">
<div class="hgroup">
      <h1 class="heading-xlarge">Rename account</h1>
</div>        
<form>
    <div class="form-group">
            <label class="form-label-bold" for="email">Current account name</label>
            <input class="form-control" id="email" maxlength="128" name="email" type="text" tabindex="0" disabled value="Your levy account">  
    </div>
    <div class="form-group">
            <label class="form-label-bold" for="email">Account ID</label>
            <input class="form-control" id="email" maxlength="128" name="email" type="text" tabindex="0" disabled value="XC993">  
    </div>
    <div class="form-group error">
            <label class="form-label-bold" for="email2">
                
                New account name
        <span class="error-message">
          Error message about personal details goes here
        </span>

        </label>
        
            <input class="form-control" id="email2" maxlength="128" name="email" type="text"> 
    </div>
    <div class="form-group">
        <a class="button" href="/sprint/{{sprint}}/user/index.html?name=new">Save and continue</a>
        <a class="button text-link" href="/sprint/{{sprint}}/user/index.html?name=cancel">Cancel</a>
    </div>
</form>
        

    </div>
  </div>

</main>
{% endblock %}
