{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-charitynumber" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">

      
      <div class="column-two-thirds v2">
          <div class="hgroup">
          <h1 class="heading-xlarge">Add your charity number</h1>
          </div>
          
            
          <form action="step_a5">
            
            <fieldset>
                <div class="form-group">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Registered charity number</span>
                    <span id="validNo" class="error-message visually-hidden">Enter a valid Companies House number
</span>
                    <span id="alreadyRegistered" class="error-message visually-hidden">Enter a company that isn't already registered
                        </span>
                    <span id="noCompaniesFound" class="error-message visually-hidden">No company found. Try again</span>
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
                </fieldset>
                    <div class="form-group">
                  <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html" id="add-org">Continue</a>
              </div>
          <a href="http://beta.charitycommission.gov.uk/" rel="external" target="_blank">Find my registered charity number</a>

            </form>
      
          
      </div>
  </div>

</main>
{% endblock %}
