{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-chquestion" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">

      
      <div class="column-two-thirds v2">
          <div class="hgroup">
          <h1 class="heading-large">Is your organisation on Companies House?</h1>
          </div>
             <form action="">
            
            <fieldset>
<form>
  <div class="form-group">
    <fieldset>   
        <div class="form-group">
      <label class="block-label" data-target="contact-by-email" for="yes">
        <input id="yes" type="radio" name="radio-group" value="yes">
          Yes
      </label>
      
            <label class="block-label" data-target="contact-by-phone" for="no">
        <input id="no" type="radio" name="radio-group" value="no">
            No
      </label>
    </fieldset>
      <div class="form-group">
      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
      </div>
      <p>If you're not sure, you can <a href="https://beta.companieshouse.gov.uk/">search for your organisation on Companies House</a>.</p>

        </div>
</form>
                </fieldset>
            </form>
          
      </div>
  </div>

</main>
{% endblock %}
