{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-chnumber" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      Company not found, please try again</a>
        </h1>

  <p>
      Company not found, please try again. If you are unable to find your company you can <a href="/sprint/{{sprint}}/account/organisations/manual-entry.html">manually add it here  </p>

  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Enter a valid Companies House number</a></li>
  </ul>

</div>
    
  <div class="grid-row">

      
      <div class="column-two-thirds v2">
          <div class="hgroup">
          <h1 class="heading-xlarge">Enter Companies House number</h1>
          </div>
          
            
          <form action="step_a5">
            
            <fieldset>
                <div class="form-group error">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Companies House number</span>
                    <span id="validNo" class="error-message visually-hidden">Enter a valid Companies House number
</span>
                    <span id="alreadyRegistered" class="error-message">Enter a valid Companies House number
                        </span>
                    <span id="noCompaniesFound" class="error-message visually-hidden">No company found. Try again</span>
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
                </fieldset>
                <div class="form-group">    
      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
               </div>
            </form>
      
                    <a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">Find my Companies House number</a>

      </div>
  </div>

</main>
{% endblock %}
