{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-chnumber" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
    
  <div class="grid-row">

      
      <div class="column-two-thirds v2">
          <div class="hgroup">
          <h1 class="heading-xlarge">Enter your company details</h1>
          </div>
          
            
          <form action="step_a5">
            
                <div class="form-group">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Company name</span>                   
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
              <div class="form-group">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Companies House number (optional)</span>                   
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
              
              <fieldset>
                              <div class="form-group">
                <label class="form-label-bold" for="ch-number">
                    <span class="form-label-bold">Address</span>                   
                    </label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
              </fieldset>
                <div class="form-group">    
      <a class="button" href="/sprint/{{sprint}}/account/organisations/confirm.html?organisation=added" id="add-org">Continue</a>
               </div>
            </form>
      
                    <a href="https://beta.companieshouse.gov.uk/" rel="external" target="_blank">Find my Companies House number</a>

      </div>
  </div>

</main>
{% endblock %}
