{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="account-forecast" id="app" role="main" tabindex="-1">

<div class="wrapper-fullwidth">

    <div class="left-column column-two-thirds">
        <div id="chart">
            <h1 class="heading-large text">Forecast your apprenticeship funding</h1>
        </div>
        <div id="timeline"></div>
    </div>

    <div class="right-column column-one-third">
        <section class="step-1">
            <h3>Forecast wizard</h3>
            <p>Use this wizard to create 1 or more forecast models that you can share and later retrieve.</p>
            <form>
                <div class="form-group">
                    <label class="block-label selection-button-radio" for="wizard">
                    <input id="wizard" type="radio" name="radio-group" value="wizard">
                        Use the wizard
                    </label>
                    <label class="block-label selection-button-radio" for="manual">
                    <input id="wizard" type="radio" name="radio-group" value="manual">
                        Manually enter forecast
                    </label>
                </div>
                <a class="button button-start">Start</a>
            </form>
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
        <section class="step-2 hidden">
        </section>
    </div>

</div>
    
</main><!-- / #content -->
{% endblock %}
