{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
        <h1 class="heading-large">
          Apprentice transactions
        </h1>
            <p><span class="bold-small">Provider:</span> Acme Ltd<br>
            <p><span class="bold-small">Apprenticeship:</span> Food and Drink Baking Industry Skills Level 2<br>
            <span class="bold-small">Date range:</span> October 2017 - October 2017</p>
        </div>
     </div>   
    </div>
         <table class="table-font-xsmall"> 
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap"></span></th>
                        <th scope="col" class="mobile-hide-cell"></th>
                        <th scope="col" class="mobile-hide-cell"></th>
                        <th scope="col" colspan="2" style="text-align: center; padding: 10px 0; background: #f9cb9c;">Levy Transactions</th>
                        <th scope="col" colspan="2" style="text-align: center; padding: 10px 0; background: #ea9999;">Co-investment Transactions</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Apprenticeship</th>
                        <th scope="col" class="">Apprentice</th>
                        <th scope="col" class="">Payment source</th>
                        <th scope="col" class="numeric">Provider Payment</th>
                        <th scope="col" class="numeric">Provider refund</th>
                        <th scope="col" class="numeric">Your amount</th>
                        <th scope="col" class="numeric">Government amount</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 2                                </span>
                            </td>
                            <td class=""> Jimmy Fallon</td>
                            <td class=""> Levy</td>
                            <td class="numeric">£200</td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
             
                        </tr>
                      
                                 <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 2                                </span>
                            </td>
                            <td class="">Melissa McCarthy </td>
                            <td class="">Co-investment </td>
                            <td class="numeric"></td>
                            <td class="numeric"></td>
                            <td class="numeric">£22</td>
                            <td class="numeric">£198</td>
           
                        </tr>
                      
                    
                                            <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 2                                </span>
                            </td>
                            <td>Stephen Colbert</td>
                            <td>Co-investment</td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric">£22 </td>
                            <td class="numeric">£198 </td>
                     
                        </tr>
                      
                                          
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 2                                </span>
                            </td>
                            <td>John Oliver</td>
                            <td>Co-investment</td>
                            <td class="numeric"> </td>
                            <td class="numeric"></td>
                            <td class="numeric">£22 </td>
                            <td class="numeric">£198</td>
                       
                        </tr>                      
                                          
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 2                                </span>
                            </td>
                            <td>Samantha Bee</td>
                            <td>Co-investment</td>
                            <td class="numeric"> </td>
                            <td class="numeric"></td>
                            <td class="numeric">£22</td>
                            <td class="numeric">£198</td>
                   
                        </tr>
                    
                    
                    
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
Food and Drink Baking Industry Skills Level 3                                </span>
                            </td>
                            <td>Alec Baldwin</td>
                            <td>Co-investment</td>
                            <td class="numeric"></td>
                            <td class="numeric"> </td>
                            <td class="numeric">£22 </td>
                            <td class="numeric">£198 </td>
                     
                        </tr>
                    
                </tbody>
            </table>
  </div>

</main>
{% endblock %}
