{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
Co-investment transactions 
            </h1>
            <div class="panel alert-default">
                <p>Co-investment takes place when there is not enough levy in your account that month to pay for an apprentice's training.</p>
                <p>Government co-investment payments are made from the SFA to the relevant training provider. This does not come from your levy account.</p>
                <p>Your co-investment must be paid to the relevant training provider. They will invoice you for this or you may have agreed a payment schedule with them already.</p>
            </div>

   
        <div class="data" style="float: left; background: #2E358B; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£1,000</h2>
                    <h2 class="bold-small">Your co-investment total</h2>
        </div>
        <div class="data" style="float: left; background: #912B88; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£9,000</h2>
                    <h2 class="bold-small">Government co-investment total</h2>

        </div>
    </div>   
        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Your amount</th>
                        <th scope="col" class="numeric">Government amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> £200</td>
                            <td class="numeric"> £1,800</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/2/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to XYZ Training Ltd
                                </span>
                            </td>
                            <td class="numeric">£100</td>
                            <td class="numeric">£900</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/2/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric">£300</td>
                            <td class="numeric">£2,700</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/2/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Feb 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to XYZ Training Ltd
                                </span>
                            </td>
                            <td class="numeric">£400</td>
                            <td class="numeric">£3,600  </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/2/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Jan 2018</span>
                                    </a>
                            </td>
                        </tr>
                       
                        
                </tbody>
            </table>
   

</main>
{% endblock %}
