{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
          Provider Transactions
      </h1>
        <p><span class="bold-small">Date Range: </span> August 2017    to      October 2017<br><span class="bold-small">Provider: </span> Acme Ltd</p>
    </div>   
        
        <table class="table-font-xsmall">
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap"></span></th>
                        <th scope="col" class="mobile-hide-cell"></th>
                        <th scope="col" colspan="2" style="text-align: center; padding: 10px 0; background: #f9cb9c;">Levy Transactions</th>
                        <th scope="col" colspan="2" style="text-align: center; padding: 10px 0; background: #ea9999;">Co-investment Transactions</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Provider payment</th>
                        <th scope="col" class="numeric">Provider refund</th>
                        <th scope="col" class="numeric">Your amount</th>
                        <th scope="col" class="numeric">Government amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Levy payment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> £400</td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                      
                                 <tr>
                            <td>
                                <span class="no-wrap">Oct 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> £200</td>
                            <td class="numeric"> £1,800</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                      
                    
                                            <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Levy payment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> £400</td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                      
                                          
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> £100</td>
                            <td class="numeric"> £900</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>                      
                                          
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> £300</td>
                            <td class="numeric"> £2,700</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                    
                    
                    
                                 <tr>
                            <td>
                                <span class="no-wrap">Sep 2018 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Refund from Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"> </td>
                            <td class="numeric"> £45</td>
                            <td class="numeric"> </td>
                            <td class="numeric"> </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                    
                    
                    
                                 <tr>
                            <td>
                                <span class="no-wrap">Aug 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Levy payment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric">£400 </td>
                            <td class="numeric"></td>
                            <td class="numeric"></td>
                            <td class="numeric"> </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>                    
                                 <tr>
                            <td>
                                <span class="no-wrap">Aug 2017 </span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Co-investment to Acme Ltd
                                </span>
                            </td>
                            <td class="numeric"></td>
                            <td class="numeric"></td>
                            <td class="numeric">£400 </td>
                            <td class="numeric">£3,600 </td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/3/payment-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>
   

</main>
{% endblock %}
