{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          Check organisations
        </h1>
        </div>
    </div>
        <table class="check-your-answers">


    <tbody>
        <tr>
        <th>Organisatoin name</th>
        <th>Registered number</th>
        <th>Address</th>
        <th></th>
        </tr>

        <tr>
            <td>Acme Ltd</td>
            <td>324566</td>
            <td><address>101 Aviation house, Hackney, London, EC3A 2LT</address></td>
            <td><a href="#">remove</a></td>
        </tr>
        <tr>
            <td>Acme Plc</td>
            <td>324232566</td>
            <td><address>404 Aviation house, Hackney, London, EC4A 1LT</address></td>
            <td><a href="#">remove</a></td>
        </tr>
        <tr>
            <td>Department of Acme</td>
            <td>--</td>
            <td><address>808 Kick drum street, Sheffield, SS4A 1LT</address></td>
            <td><a href="#">remove</a></td>
        </tr>
    </tbody>
  </table>
        <br>
<div class="form-group">
                <fieldset>
                      <label class="form-label-bold" for="companies-house-number">What would you like to do next?</label>
                     <label class="block-label" for="checkbox1">
                      <input id="checkbox1" type="radio" name="radio-group" value="saveIt">
                     Add more organisations
                     </label>
                    <label class="block-label" for="checkbox2">
                      <input id="checkbox2" type="radio" name="radio-group" value="addMore">
                        Sign the agreement
                     </label>
                    <!--label class="block-label" for="checkbox3">
                      <input id="checkbox3" type="radio" name="radio-group" value="spendIt">
                    Spend on apprentices
                     </label-->
                  </fieldset>
              </div>

        <a rel="external" href="/sprint/{{sprint}}/account/organisations/sign" class="button">Continue</a>

            </form>

    

</main>
{% endblock %}
