{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

    <section id="notifications">
   
        
    </section>
    
 <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-large">Your SFA agreement</h1>
            <p>You must accept a legal agreement to allow <a href="">your organisations</a> to spend levy funds on apprentices.</p>
            <p>By accepting you agree to:</p>
            <ul class="list list-bullet">
                <li>your specific record keeping requirements</li>
                <li>your obligations to participate in audits</li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
            </ul>
        </div>

        
        <a href="/sprint/{{sprint}}/account/organisations/sign.html" class="button button-start">Continue</a>
  </div>
</div>
    

    
    
    <div class="grid-row hidden">
    <div class="column-two-thirds">




        <table>
            <thead>
                <tr>
                    <th scope="col" style="padding-top:0">Organisation</th>
                    <th scope="col" style="padding-top:0">Spending status</th>
                    <th></th>
                </tr>
            </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Ltd Coventry</span>
                                </td>
                                <td>Enabled</td>
<td><a href="/sprint/{{sprint}}/account/organisations/view.html">View</a></td>                            </tr>
                            <tr>
                                <td class="">Acme Ltd Bradford
                                </td>
                                <td>disabled</td>
<td><a href="/sprint/{{sprint}}/account/organisations/sign.html">View or sign</a></td>                            </tr>
                        </tbody>
                    </table>            
 
            
            
            
        </div>
    </div>

</main>
{% endblock %}
