{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

    <section id="notifications" class="">
    <div class="govuk-box-highlight" id="org">
          <h2 class="bold-xlarge"><span class="company-name">You've enabled spending</h2>

        <p class="asNotSigned">A confirmation has been sent to all site owners</p>
    <p class="asSigned hidden">This account can now spend levy funds</p>
        </div>
    </section>
    
 <div class="grid-row">
    <div class="column-two-thirds">
                    <div class="hgroup">
            <h1 class="heading-large">Your SFA agreement</h1>
                        <p>Sign by <strong class="bold-small">you</strong> on the <span class="date">                       <script>
                        var today = new Date();
var monthNames = ["January", "February", "March", "April", "May", "June",
"July", "August", "September", "October", "November", "December"
];                            
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var mm = monthNames[today.getMonth()]
var yyyy = today.getFullYear();

if(dd<10) {
    dd='0'+dd
} 

if(mm<10) {
    mm='0'+mm
} 
                            
                            
function nth(dd) {
  if(dd>3 && dd<21) return 'th'; // thanks kennebec
  switch (dd % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
    }
} 

today = dd+ nth(dd)+' '+mm+' '+yyyy;
document.write(today);
                        </script></span></p>
<a href="/sprint/{{sprint}}/account/organisations/view.html">View your signed agreement</a>
          
 
                        
            </div>
  </div>

        <div class="column-third hidden">
                        <a class="button" href="/sprint/{{sprint}}/account/organisations/add.html" id="dothething">Add new organisation</a>
            
        
        </div>
</div>
    
      <div class="panel panel-border-wide alert-default hidden">
        <p>Spending enabled</p>
        </div>        
            
                    <table class="">
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Organisation</th>
                                <th>Date added</th>
                                <th>Added by</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class=""><span class="company-name">Acme Plc</span>
                                </td>
                                <td>24 December 2017</td>
                                <td><span class="user-name">John Doe</span></td>

<td><a href="/sprint/{{sprint}}/account/organisations/remove.html">Remove</a></td>                            </tr>
                            <tr>
                                <td class="">Acme Ltd
                                </td>
                                <td>24 December 2017</td>
                                <td><span class="user-name">John Doe</span></td>

<td><a href="/sprint/{{sprint}}/account/organisations/remove.html">Remove</a></td>                            </tr>
                            <tr>
                                <td class="">Acme Foundation
                                </td>
                                <td>24 December 2017</td>
                                <td><span class="user-name">John Doe</span></td>

<td><a href="/sprint/{{sprint}}/account/organisations/remove.html">Remove</a></td>                            </tr>
                        </tbody>
                    </table>            
 
            
            
  

</main>
{% endblock %}
