{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="test-react-instructions" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
          Instructions
            </h1>
            <p>The computer will show your password or a mis-spelled interpretation of your passwords.</p>
            <p>Once you know the password is correctly entered press any key on the keyboard.</p>
            <p>Be as fast as you fan</p>
            <p>When you are ready press the green button.</p>          
     </div>   
    
        <a href="/sprint/{{sprint}}/test/react/word-check.html" class="button">I'm ready</a>

    

</main>
{% endblock %}
