{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-address-manual" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">


  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Enter house number or name, building and street</a></li>
    <li><a href="#example-personal-details">Enter town or city</a></li>
    <li><a href="#example-personal-details">Enter a valid postcode</a></li>
  </ul>

</div>
    
   <div class="grid-row">
    <div class="column-two-thirds">
<div class="hgroup">
      <h1 class="heading-xlarge">
          Enter your organisation's address
      </h1>
                              <p>Use your organisation's main address, such as your head office.</p>
</div>
        <form action="step_a5">
            
            <fieldset>
                <div class="form-group error">
                <label class="form-label-bold" for="address">
                    <span class="form-label-bold">Address</span>
                    <span class="error-message">Enter house number or name, building and street</span>                    
                    </label>
                    <input class="form-control" type="text" id="address" /><br><br>

                    <input class="form-control" type="text" id="address2" />
                </div>
                <div class="form-group error">
                <label class="form-label-bold" for="town">
                    <span class="form-label-bold">Town or city</span>
                    <span class="error-message">Enter town or city</span>
                    </label>
                    <input class="form-control" type="text" id="town" />
                </div>
                <div class="form-group">
                <label class="form-label-bold" for="county">
                    <span class="form-label-label">County (optional)</span>
                    </label>
                    <input class="form-control" type="text" id="county" />
                </div>
                <div class="form-group error">
                <label class="form-label-bold" for="postcode">
                    <span class="form-label-label">Postcode</span>
                    <span class="error-message">Enter a valid postcode</span>
                    </label>
                    <input class="form-control" type="text" id="postcode" style="width: 25%;" />
                </div>
                </fieldset>
            <div class="form-group">
            <a rel="external" href="/sprint/{{sprint}}/account/organisations/confirm" class="button">Continue</a>
                </div>
            </form>
        


    </div>
    
  </div>
</main>
{% endblock %}
