{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
          Spend your apprenticeship funds
      </h1>

      <h1 class="heading-medium">
       What you'll need
      </h1>
        
        <p>Your levy funds come from HMRC via your PAYE schemes.</p>
        <p>To access your funds you will need:</p>
        <ul class="list list-bullet">
            <li>the Government Gateway login details</li>
            <li>PAYE scheme numbers used for your payroll</li>
            <li>your Companies House number</li>
            <!--<li>your Companies House number - <a href="https://beta.companieshouse.gov.uk/search/" rel="external">find my Companies House number</a></li>-->
        </ul>
        </div>
        
        
        <a href="/sprint/{{sprint}}/onboarding/index.html" class="button button-start">Start</a>
    </div>
  </div>

</main><!-- / #content -->
{% endblock %}
