{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
Was the word spelt correctly            </h1>
     </div>   
    
        <div class="form-group" action="add-your-details.html">
    <fieldset>

      <legend class="visually-hidden">Have you used this service before?</legend>
        <div class="form-group">
      <label class="block-label selection-button-radio" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group" value="existing">
          Yes, it was correct
      </label>
      <label class="block-label selection-button-radio" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group" value="new">
        No, it wss inccorect
      </label>
            </div>
        <div class="form-group">
    
        <a href="/sprint/{{sprint}}/test/react/word-check-confirm.html" class="button">Next</a>
        </div>            
    </fieldset>
  </div>
    


    
    

</main>
{% endblock %}
