{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="payments-details-apprentice-levy" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          Payment: apprentice details 
            </h1>
            
            <ul>
                <li>Date  <span class="bold-small">5 July 2017</span></li>
                <li>Payment to <span class="bold-small">Acme ltd</span></li>
                <li>Course <span class="bold-small">Financial services administrator level 3 </span></li>
            </ul>
        </div>
        

        
     </div>   
        
      
   
    </div>
    
     <table class="responsive">
                      <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="2" class="highlight colgroup" scope="">Co-investment</th>
                            <th></th>
                          </tr>
                      </thead>
            <thead>
                <tr>
                    <th scope="col">Apprentice</th>
                    <th class="numeric" scope="col">Paid from levy</th>
                    <th class="numeric highlight" scope="col">Government contribution</th>
                    <th class="numeric highlight" scope="col">Your contribution</th>
                    <th class="numeric" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td data-label="Name">
                            Ty Fairclough                            
                        </td>
                        <td data-label="Paid from levy" class="numeric">
                            -£250.00
                        </td>
                        <td data-label="Government contribution" class="highlight numeric">
                            £0.00
                        </td>
                        <td data-label="Your contribution" class="numeric highlight">
                            £0.00
                        </td>
                        <td data-label="Amount" class="numeric">
                            -£250.00
                        </td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Name">
                            Fred Brenton
                        </td>
                        <td data-label="Paid from levy" class="numeric">
                            -£125.00
                        </td>
                        <td data-label="Government contribution" class="highlight numeric">
                            £0.00
                        </td>
                        <td data-label="Your contribution" class="numeric highlight">
                            £0.00
                        </td>
                        <td data-label="Amount" class="numeric">
                            -£125.00
                        </td>
                </tr>
                <tr class="responsive-tr">
                        <td data-label="Name">
                            Elizabeth Watson
                    </td>
                        <td data-label="Paid from levy" class="numeric">
                           -£250.00
                        </td>
                        <td data-label="Government contribution" class="highlight numeric">
                            £0.00
                        </td>
                        <td data-label="Your contribution" class="numeric highlight">
                            £0.00
                        </td>
                        <td data-label="Amount" class="numeric">
                            -£250.00
                        </td>
                </tr>
              
                <tr class="responsive-tr">
                        <td data-label="Name">
                            Sarah Thompson
                    </td>
                        <td data-label="Paid from levy" class="numeric">
                            £250.00
                        </td>
                        <td data-label="Government contribution" class="highlight numeric">
                            £0.00
                        </td>
                        <td data-label="Your contribution" class="numeric highlight">
                            £0.00
                        </td>
                        <td data-label="Amount" class="numeric">
                            -£250.00
                        </td>
                </tr>
                <tr class="total">
                    <td data-label="Total apprentices" class="numeric">&nbsp;</td>
                    <td data-label="Paid from levy" class="total numeric">£0.00</td>
                    <td data-label="Government contribution" class="highlight total numeric">£0.00</td>
                    <td data-label="Your contribution" class="highlight total numeric">£0.00</td>
                    <td data-label="Total amount" class="total numeric">-£875.00</td>
                </tr>
                
            </tbody>
        </table>
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="panel panel-width-thin">
            <p>It's up to you and your training provider to decide how and when your contributions are paid.</p>
        </div>
            
        
    </div>
    </div>
    <script>

    </script>
</main>
{% endblock %}
