{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="sign-agreement" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    

    
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-xlarge">Your agreement</h1>
            <p>Tell the user about the agreement, what it contains and who should sign it.</p>
        </div>
 
 
        
        
        
        <span class="company-name bold-small">Acme Ltd Coventry</span>
        
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/index.html?newOrgSigned=y"  class="button" >Agree and continue</a>
        <a id="sign" href="/sprint/{{sprint}}/account/organisations/index.html?newOrgSigned=y"  class="button text-link" >Share this document</a>

    </div>
</div>

    
        

        

    </div>
  </div>


</main>
{% endblock %}
