{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="sign-agreement" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
            <h1 class="heading-large">Sign agreement</h1>
            <p>You must sign this agreement to spend levy funds on apprentices for <span class="company-name bold-small">Acme Ltd Coventry</span>.</p>
            <p>By signing you agree to:</p>
            <ul class="list list-bullet">
                <li>your specific record keeping requirements</li>
                <li>your obligations to participate in audits</li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+fundings+rules">the fundings rules</a></li>
                <li><a href="https://skillsfundingagency.atlassian.net/wiki/display/AML/the+funding+rates+and+calculations">the funding rates and calculations</a></li>
            </ul>
        </div>
    </div>
</div>
    
    <div class="grid-row" id="publication-banner">
        <div class="column-third">
            <div class="logo">
    <h1><span class="organisation-logo organisation-logo-stacked-single-identity organisation-logo-stacked-single-identity-large"><span>Skills Funding <br>Agency</span></span></h1>

  </div>
        </div>
        <div class="column-two-thirds">
                                <aside style="float: right; text-align: right;">
            <ul>
                <li><a href="#">Save this agreement as a PDF</a></li>
            </ul>
        </aside></div>
    </div>
    

    
    
    <div class="grid-row">
    <div class="column-two-thirds">
            <form action="organisation?newOrg=y&amp;newOrgSigned=y" method="GET">
                <input type="hidden" id="accountId" name="accountId" value="13">
                <input type="hidden" id="agreementId" name="agreementId" value="13">
                <input type="hidden" id="legalEntityName" name="legalEntityName" value="TESCO STORES LIMITED">
              <h1 class="heading-medium">Sign the agreement now?</h1>
                <div class="form-group" id="agreeCheck">
                    
                <legend class="form-label-bold"><!--Sign the agreement now?-->
                    <div class="error-message" style="display: none;">You must be authorised to sign the agreement</div>
                </legend>
                    <label class="block-label" for="understood">
                    
                    <input class="checkbox" id="understood" name="understood" type="checkbox">
                <span>I've been authorised by my organisation to sign this agreement</span>
                
                    
                    </label>

                    </div>
                <a id="sign2" href="/sprint/{{sprint}}/account/organisations/index.html?newOrgSigned=y"  class="button" >Sign, and add organisation</a>

    </div>
</div>
    <br>
      {% include "includes/link-back.html" %}

    
        

        

    </div>
  </div>


</main>
{% endblock %}
