{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-provider.html" %}
{% endblock %}


{% block content %}
<main class="pro-notifications" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}
          

<div class="unsubscribed">
                    
                    
<div class="grid-row">
    <div class="column-two-thirds">
            <div class="success-summary">
    <h3 class="heading-medium">Successfully unsubbed</h3>
    <p>You will no lnoger recieve e-mails from us.</p>
</div>
        
        <h1 class="heading-xlarge">Notification Settings
</h1>
        <p class="grey-text">Choose whether you want to receive cohort and apprentice notification emails.

</p>
<p>Changes to these settings won't affect service emails, such as password resets.</p>
    </div>
</div>

<div class="panel-border-narrow panel">
    <p>You don't currently receive notifications</p>
</div>
                    
                    <form>
                    <div class="form-group">
                    <a class="button" href="subscribe-confirmation.html">Subscribe</a>                    
                    </div>
                    </form>


</div>
                


<div class="subscribed hidden">
                    
          
<div class="grid-row">
    <div class="column-two-thirds">
    <div class="success-summary">
    <h3 class="heading-medium">Subscribed to notifications</h3>
    <p>You will now receive notifications to your email inbox. Please add <strong class="bold-small">emails@esfa</strong> to your e-mail contact list.</p>
</div>
                  
        
        <h1 class="heading-xlarge">Notification Settings
</h1>
        <p class="grey-text">Choose whether you want to receive cohort and apprentice notification emails.

</p>
<p>Changes to these settings won't affect service emails, such as password resets.</p>
    </div>
</div>

<div class="panel-border-narrow panel">
    <p>You are currently subscribed to notifications</p>
</div>
                    
                    <form>
                    <div class="form-group">
                    <a class="button" href="unsubscribe-confirmation.html">Unsubscribe</a>                    
                    </div>
                    </form>


</div>
    
    

</main>
{% endblock %}
