{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="elements-index" id="content" role="main" tabindex="-1">

  <!--{% include "includes/breadcrumb.html" %}-->

<div class="govuk-box-highlight" id="accountCreated">
          <h2 class="bold-large">
Account created          </h2>
        <p>You need to <a href="/sprint/{{sprint}}/account/organisations/index">sign the SFA agreement</a> before you can start spending your levy.</p>
        </div>
    
  <div class="grid-row hidden">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
Manage your account
      </h1>

    </div>
  </div>   
                <div class="hgroup">
                <h1 class="heading-xlarge">TEST_TYIT LTD</h1>
                <hr style="border-bottom: 5px #DEE0E2 solid; background: none;" />
            </div>
    


<div class="grid-row">

    <div class="column-one-third">

        
                <h3 class="heading-medium" style="margin-top: 0">
                <a href="/sprint/{{sprint}}/account/team/index">Your team</a></h3>
                <p>Control what your team can do and invite new team members.</p>

                <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/organisations/index">Your organisations and SFA agreements</a></h3>
                <p>Add each organisation that will hire apprentices.</p>

                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/apprentices/index">Apprentices</a></h3>
                <p>Update the status of your apprentices, or recruit new ones.</p>            

        

    </div>
        
    <div class="column-one-third">
                <h3 class="heading-medium" style="margin-top: 0;"><a href="/sprint/{{sprint}}/account/finance/index">Finance</a></h3>
                <p>View transactions and forecast your funds.</p>

                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/paye/index">PAYE schemes</a></h3>
                <p>Access funds by adding PAYE schemes.</p>         

                <h3 class="heading-medium" style="margin-top: 0"><a href="/sprint/{{sprint}}/account/paye/index" target="_blank">Find apprenticeship training</a></h3>
                <p>Search for training providers, training frameworks and end-point assessors.</p>                         

    </div>
    
    <div class="column-one-third">
        <div class="panel alert-default">
                <h3 class="heading-medium">Notice</h3>
                <p><a href="https://www.gov.uk/government/publications/apprenticeship-funding-legal-agreement-to-enable-spending" target="_blank">Read the <abbr title="Skills Funding Agency">SFA</abbr> agreement</a> - from May 2017, SFA will ask you to accept this agreement in order to spend apprenticeship funds.</p>
            </div>
    </div>

           
    </div>
 
       <hr />
       
                  <section>
            <div class="panel panel-filled">
                <h3 class="heading-medium">Help us improve this site</h3>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank">Take our 3 minute survey</a> so that we can improve the service.</p>
                <p><a href="https://www.surveymonkey.co.uk/r/2JPLQ9T" target="_blank" class="button">Take the survey <span class="vh">so that we can improve the service</span></a></p>
            </div>
        </section>
</div>
    
    
  

</main><!-- / #content -->
{% endblock %}
