{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="history" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
        <div class="hgroup">
      <h1 class="heading-large">
Co-investment by Apprenticeship
            </h1>
            
<div class="data" style="float: left; background: #2E358B; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£100</h2>
                    <h2 class="bold-small">Your co-investment total</h2>
        </div>
            <div class="data" style="float: left; background: #912B88; color: white; padding: 20px 10px; margin-right: 10px; width: 30%">
                    <h2 class="bold-xlarge">£900</h2>
                    <h2 class="bold-small">Government co-investment total</h2>

        </div>
            <br clear="all" />
            <p>Co-investment amounts to Acme Ltd  -  Sept 2017</p>
        </div>
    </div>   
        
        <table>
                <thead>
                    <tr>
                        <th scope="col"><span class="no-wrap">Date</span></th>
                        <th scope="col" class="mobile-hide-cell">Description</th>
                        <th scope="col" class="numeric">Your amount</th>
                        <th scope="col" class="numeric">Government amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Business and Administration Level 3
                                </span>
                            </td>
                            <td class="numeric"> £40</td>
                            <td class="numeric"> £360</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Apr 2018" href="/sprint/{{sprint}}/account/finance/2/apprentice-details.html">
                                        Details <span class="vh"> for the transaction on 15 Apr 2018</span>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="no-wrap">Sept 2017</span>
                            </td>
                            <td class="mobile-hide-cell">
                                <span class="description">
                                    Food and Drink Baking Industry Skills Level 2
                                </span>
                            </td>
                            <td class="numeric">£60</td>
                            <td class="numeric">£540</td>
                            <td class="numeric">
                                    <a title="View details for the transaction on 15 Mar 2018" href="/sprint/{{sprint}}/account/finance/2/apprentice-details.html">
                                        Details <span class="vh"> for the transaction on 15 Mar 2018</span>
                                    </a>
                            </td>
                        </tr>
                       
                </tbody>
            </table>
   

</main>
{% endblock %}
