{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-add" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
  <ul class="error-summary-list">
    <li class="hidden"><a href="#chn">Company not found</a></li>
    <li class="hidden"><a href="#chn">Enter a Companies House number</a></li>
    <li class="hidden"><a href="#ccn">Charity not found</a></li>
  </ul>
</div>

    
<section id="search" xmldata="/sprint/{{sprint}}/proData.xml">
       

        
    <form id="public-sector-search">
          <h1 class="heading-large">Add your organisation</h1>
          <p>Add legal entities that make up the organisation you work for. </p>
           
    <div class="form-group">
        <label name="input-keywords" for="input-keywords" class="form-label-bold">Enter organisation's name</label>
        <input class="form-control" id="input-keywords" type="text" />
    </div>
        <a class="button" id="submit-keywords">Search</a>
    </form>
    
    <section id="results-wrapper" class="hidden">
<div class="search-header">
  <fieldset class="search-input">
    <label for="search-main">
        <h1 class="heading-medium">Search results <span class="visuallyhidden">for “{{keyword}}”</span>
</h1>
    </label>

    <input type="search" name="q" value="keyword" id="search-main">

    
    
    
    
  </fieldset>

  <fieldset class="search-submit">
    <button type="submit" class="button">Search</button>
  </fieldset>
</div>
        <p><span class="count">xxx,xxx</span> results found</p>
        <!--<p>Choose from one of the follow results, or <a href="/sprint/{{sprint}}/account/organisations/public-sector-search.html">search again</a>.</p>-->
    <div id="results">
    
        
    </div>
    </section>
</section>    
 

</main>
{% endblock %}
