{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="organisations-address-manual" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">


  <ul class="error-summary-list">
    <li><a href="#example-personal-details">Enter house number or name, building and street</a></li>
    <li><a href="#example-personal-details">Enter town or city</a></li>
    <li><a href="#example-personal-details">Enter a valid postcode</a></li>
  </ul>

</div>
    
   <div class="grid-row">
    <div class="column-two-thirds">
<div class="hgroup">
      <h1 class="heading-xlarge">
          Enter your organisation's address
      </h1>
                              <p>Use your organisation's main address, such as your head office.</p>
</div>
        
        
        
        
        
<!-- Postcode field -->
<div id="postcode_lookup"></div>  
<section class="manual-entry">
    <div class="form-group">
<!-- Add to your existing form -->
<label class="form-label">First Address Line</label>
<input class="form-control" id="line1" type="text"> 

<label class="form-label">Second Address Line</label>
<input class="form-control" id="line2" type="text">   

<label class="form-label">Third Address Line</label>
<input class="form-control" id="line3" type="text">  

<label class="form-label">Town</label>
<input class="form-control" id="town" type="text">

<label class="form-label">County</label>
<input class="form-control" id="county" type="text">

<label class="form-label">Postcode</label>
<input class="form-control" id="postcode" type="text">
</div>
    <div class="form-group">
            <a rel="external" href="/sprint/{{sprint}}/account/organisations/confirm" class="button">Continue</a>       
    </div>
        </section>        




    </div>
    
  </div>
</main>
{% endblock %}
