{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}


{% block content %}



<main class="index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-xlarge">
Find apprenticeship training
            </h1>
<p>For employers looking to take on apprentices.</p>
<p>Use this service to:</p>
            
        <ul class="list list-bullet">
            <li>search for apprenticeship training by job role or keyword</li>
            <li>find training providers who offer the apprenticeship training you choose</li>
        </ul>
        <a href="/sprint/{{sprint}}/onboarding/index.html" class="button button-start">Start</a>
        </div>

        <h3 class="heading-medium">Help</h3>
        <p>You can contact the National Apprenticeship Service for advice or help using the service.</p>
        <h5 class="heading-small">National Apprenticeship Service</h5>
        <p>Telephone: 0800 015 0600 <a href="https://www.gov.uk/government/publications/apprenticeship-levy-how-it-will-work/apprenticeship-levy-how-it-will-work">Find out about call charges</a>.</p>
    </div>
      <div class="column-one-third" style="margin-top: 50px;">
        <aside class="related">
            <h5 class="heading-small">Further information</h5>
            <p>If you pay the levy you need to register to manage your apprenticeship funds.</p>
          </aside>
      </div>
  </div>

</main><!-- / #content -->
{% endblock %}
