{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">      <h1 class="heading-xlarge">
        Funding
      </h1>
        <!--<p class="lede">View transactions and forecast your funds.</p>-->
</div>

        <ul class="list list-links">
            <li><a href="/sprint/{{sprint}}/account/finance/history">Your levy transactions</a></li>
            <p>View transactions and forecast your levy funds.</p>
            <li><a href="/sprint/{{sprint}}/account/finance/history">Manage PAYE schemes</a></li>
            <p>Add levy funds to your account by adding PAYE schemes.</p>
        </ul>
    </div>
  </div>

</main>
{% endblock %}
