{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}

<main class="onboarding-index" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
          We couldn't access your levy funds
      </h1>
        
        <p>To access your levy funds, you need to 'grant authority' for your tax details to be used.</p>
<p>This means you allow HMRC to send the Skills Funding Agency details of the levy that you've paid - no other payroll information will be shared.</p></div>
        


        <a href="#" id="action" class="button">OK, let me add my Government Gateway details again</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
