{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
        Fix upload errors
      </h1>
        <p>Your upload contained the following <span class="bold-small">XX</span> errors. Please review the issues and try again.</p>
                    <div class="panel panel-border-wide alert-warning">
           <span class="bold-small">2</span> Errors found
        </div>
                
       
    
                
        <div class="panel panel-border-wide alert-error">
<span class="bold-small">1</span> warning found
        </div>
        </div>
        
<p>       <a href="#">Download details of the errors and warnings<a/> from your bulk upload.</p>
    <hr />

                    
            <details style="margin-bottom:35px" role="group">
  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Help with uploading files</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    <p>
     Help with file types, file formatting and uploading a file.
    </p>

  </div>
</details>


                <form style="margin-bottom:35px" action="check-errors-provider">
  <input id="files-upload" style="display:block; margin-bottom:35px" type="file" multiple="">
    <input class="button" id="search-provider" type="submit" value="Upload file">

</form>
    </div>
  </div>
    <div class="grid-row">

    </div>



</main>
{% endblock %}
