{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
        Fix upload errors
      </h1>
        <p>Your upload contained the following <span class="bold-small">XX</span> errors. Please review the issues and try again.</p>
        </div>
                    
            <details style="margin-bottom:35px" role="group">
  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Help with uploading files</span></summary>
  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    <p>
     Help with file types, file formatting and uploading a file.
    </p>

  </div>
</details>


                <form style="margin-bottom:35px" action="check-errors-provider">
  <input id="files-upload" style="display:block; margin-bottom:35px" type="file" multiple="">
    <input class="button" id="search-provider" type="submit" value="Upload file">

</form>
    </div>
  </div>
    <div class="grid-row">
        <div class="panel panel-border-wide alert-warning">
            <div>
                <div class="left-side">
                <span>ERROR</span>
                </div>
                <div class="right-side">
                    <h6 class="heading-small">Where ULN <> NULL AND Field length > 10</h6>
                    <p>From row <span class="bold-small">121</span>, column ULN_01 (col 4)</p>
                </div>
            </div>
            <pre>5636</pre>
        </div>
                
        <div class="panel panel-border-wide alert-warning">
            <div>
                <div class="left-side">
                <span>ERROR</span>
                </div>
                <div class="right-side">
                    <h6 class="heading-small">FamilyName is NULL</h6>
                    <p>From row <span class="bold-small">730</span>, column FamilyName_01 (col 9)</p>
                </div>
            </div>
            <pre>NULL</pre>
        </div>
                
        <div class="panel panel-border-wide alert-error">
            <div>
                <div class="left-side">
                <span>WARNING</span>
                </div>
                <div class="right-side">
                    <h6 class="heading-small">The learner should be under 100 at the start of the current teaching year</h6>
                    <p>From row <span class="bold-small">789</span>, column DateOfBirth_05 (col 15)</p>
                </div>
            </div>
            <pre>11/11/97</pre>
        </div>
    </div>
            <A href="#content">Back to top</A>


</main>
{% endblock %}
