{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="finalise-transfer" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

    <div class="hgroup">
        <h1 class="heading-xlarge">Finalise your request</h1>
        <p>Please check all the details are correct before submitting your offer to the employer.</p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
<table class="top-border">
                <tbody>
                <tr>
                    <th scope="row">
                        Sending employer
                    </th>
                    <td>
                        (YOU) Acme Ltd<span class="form-hint">XDAS1564</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Receiving employer
                    </th>
                    <td>
                        Drake and son Welding Ltd<span class="form-hint">XDFVVA3456</span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Transfer date
                    </th>
                    <td>
                        September
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        Total transfer amount
                    </th>
                    <td>
                        £38,400
                    </td>
                </tr>
            </tbody>
    </table>        
        </div>
    </div>
    
    
    
    
    <h2 class="heading-large">Apprenticeships to be funded</h2>
    <table class="responsive">
        <thead>
            <tr>
                <th>Apprenticeship</th>
                <th class="numeric">Apprentices</th>
                <th class="numeric">Start date</th>
                <th class="numeric">Duration</th>
                <th  class="numeric">Cost</th>
                <th  class="numeric">Transfer amount</th>
            </tr>
        </thead>
        <tr>
            <td>Nuclear engineer<span class="form-hint">level 5</span></td>
            <td class="numeric">1</td>
            <td class="numeric">May 2019</td>
            <td class="numeric">36 months</td>
            <td class="numeric">£94,000</td>
            <td class="numeric">£38,400</td>
        </tr>
        <tfoot>
            <tr class="total">
            <td colspan="4" class="numeric">&nbsp;</td>
            <td data-label="Total cost" class="total numeric">£94,400</td>
            <td data-label="Total amount" class="total numeric">£38,400</td>
            </tr>
        </tfoot>
    </table>
    
    
    <legend class="heading-medium">Are you ready to submit this application</legend>
    <div class="form-group org-search-filter">
                                    <legend class="form-label sr-only">Select an organisation type</legend>

                                    <div class="multiple-choice">
                                        <input id="ltd" type="radio" name="org-type-filter" value="Private limited company">
                                        <label for="ltd">Yes, send this to the employer</label>
                                    </div>
                                    <div class="multiple-choice">
                                        <input id="plc" type="radio" name="org-type-filter" value="Public limited company">
                                        <label for="plc">No, cancel this offer</label>
                                    </div>
                                  
                                    </div>

    <a class="button" href="complete.html">Finish</a>
    
</main>
{% endblock %}
