{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Change your email address</h1>
        
<form>
    <div class="form-group">
            <label class="form-label-bold" for="email">New email address</label>
            <input class="form-control" id="email" maxlength="128" name="email" pattern="[A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+([.][A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+)*@[A-Za-z0-9\[\]:]+([.-][A-Za-z0-9\[\]:]+)*\.[A-Za-z0-9\[\]:]+([-.][A-Za-z0-9\[\]:]+)*" type="email" tabindex="0"> 
    </div>
    <div class="form-group">
            <label class="form-label-bold" for="email2">Re-type email address</label>
            <input class="form-control" id="email2" maxlength="128" name="email" pattern="[A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+([.][A-Za-z0-9_\-\+/{\t\n\r}#$%^\\&amp;\[\]*=()|?'~`! :]+)*@[A-Za-z0-9\[\]:]+([.-][A-Za-z0-9\[\]:]+)*\.[A-Za-z0-9\[\]:]+([-.][A-Za-z0-9\[\]:]+)*" type="email" tabindex="0"> 
    </div>
    <div class="form-group">
        <a class="button" href="/sprint/{{sprint}}/user/reset-password.html">Continue</a>
    </div>
</form>
        

    </div>
  </div>

</main>
{% endblock %}
