{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="receive-offer-received" id="content" role="main" tabindex="-1">
    {% include "includes/link-back.html" %}



            <div class="hgroup">
            <h1 class="heading-xlarge">
        Transfer: offer received
      </h1>
            <p class="lede">Your transfer summary.</p>
        </div>
    
    <div class="grid-row">
        <div class="column-two-thirds">
<h2 class="heading-medium">
Sending employer
            </h2>    
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Acme Ltd
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Account ID
          </dt>
          <dd class="cya-answer">
            AS4XF
          </dd>

        </div>
    
      </dl>
            
<h2 class="heading-medium">
Transfer details
</h2>    
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Format
          </dt>
          <dd class="cya-answer">
              Costed apprenticeship
          </dd>
        </div>    
    <div>
          <dt class="cya-question">
              Total amount
          </dt>
          <dd class="cya-answer">
              £6,000
          </dd>
        </div>    
      </dl>
            
<h2 class="heading-medium">
    Apprenticeships
</h2>    
<dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Apprenticeship
          </dt>
          <dd class="cya-answer">
            Assistant Accountant
              <span class="form-hint">level 2</span>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Apprentices
          </dt>
          <dd class="cya-answer">
            1
          </dd>

        </div>
    
        <div>
          <dt class="cya-question">
            Start date
          </dt>
          <dd class="cya-answer">
            November 2017
          </dd>

        </div>    
        <div>
          <dt class="cya-question">
            Duration
          </dt>
          <dd class="cya-answer">
            18 months
          </dd>

        </div>
                
        <div>
          <dt class="cya-question">
            Monthly cost
          </dt>
          <dd class="cya-answer">
            £282.35
          </dd>

        </div>                
        <div>
          <dt class="cya-question">
            End payment
          </dt>
          <dd class="cya-answer">
            £1,200
          </dd>

        </div>
    
      </dl>  
            <br>
            <a href="payment-plan-total.html">See payment plan</a>
        </div>
    </div>

  
    
    <form>
    <legend>
        <h1 class="heading-medium">Do you wish to accept this transfer offer?</h1>
      </legend>
        <div class="form-group">
      <div class="multiple-choice">
        <input id="radio-1" type="radio" name="radio-group" value="Northern Ireland">
        <label for="radio-1">Yes, accept the offer from Acme Ltd</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-2" type="radio" name="radio-group" value="Isle of Man or the Channel Islands">
        <label for="radio-2">No, decline this offer</label>
      </div>
  </div>
        <a class="button" href="state-aid-question.html">Continue</a>
    </form>
    
</main>
{% endblock %}


<!-- end -->

