{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="account-dashboard" id="content" role="main" tabindex="-1">


       <div class="govuk-box-highlight hidden">
          <h2 class="bold-large">
Levy account created          </h2>
        <p>You need to <a href="/{{sprint}}/account/organisation/view?agreementState=not-signed">sign the SFA agreement</a> before you can start spending your levy.</p>
        </div>
    
           <div class="govuk-box-highlight hidden" id="emailUpdated">
          <h2 class="bold-large">
Email changed         </h2>
           <p>You've changed your email address to <span class="user-email bold-small">john@tesco.co.uk</span> </p>
        </div>
    


    
    <section id="welcome" class="info-summary">
        <div class="">
        <h2 class="heading-xlarge">Welcome to your new digital account</h2>
        <p class="lede">You may be uncertain on what to do now you're here. Please take a moment to read, watch and learn about how your digital account works.</p>
        <a href="#">Close this panel</a>        
        </div>
        <hr />
        <div class="grid-row">
            <div class="column-two-thirds">

                 <aside class="" id="help2">
            <h3 class="bold-medium">An introduction to your digital account</h3>
                <p>This 3 minute video rounds up the key principals in setting up your account and authorising your first payment.</p>

       <iframe class="form-group" id="youTubeResponsive"  src="https://www.youtube.com/embed/ofbDKGuB0X0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen="" style="max-width: 100%; min-height: 220px; height: auto;"></iframe>
                <a href="#" class="button" id="startTour">Play the video</a>
                <!--<a href="#" class="button text-link">Dismiss</a>-->

            </aside>   
                
<!--<hr />
             <h3 class="bold-medium">Most used pages</h3>
                <br>
                <ul class="list list-bullet">
                <li><a href="/sprintbeta0



/organisation/step_b1?flow=addOrg">Add an organisation</a></li>
                <li><a href="findapprenticeshiptraining.sfa.bis.gov.uk">Find a training provider</a></li>
                <li><a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/new-contract">Start a new commitment</a></li>
            </ul>
-->
            </div>
            <div class="column-third">
                         
                            <h3 class="bold-medium">On-boarding checklist</h3>
                <p>In order to spend your funds you'll need to complete these initial tasks:</p>
<table class="">
                          <thead>
                            <tr>
                              <th scope="col" style="padding-top:0"></th>
                              <th scope="col" style="padding-top:0"></th>


                            </tr>
                          </thead>
                          <tbody>
           <tr>
                                                                 <td class="bold-medium">
                                    1
                                 </td>
                              <!--quick hack, will fix -->
                              <td><a href="/sprint/28/account/finance/index">Add sources of funding</a> by adding PAYE schemes to your account.</td>
                              </tr>
                             <tr id="" class="">
                                 <td class="bold-medium">
                                   2
                                 </td>
                              <td style="width: 100%"><a href="/sprint/28/account/organisations/index">Add each organisation</a> you intend to sign provider agreements with.</td>
                              </tr>
                             <tr>
                                                                <td class="bold-medium">
                                    3
                                 </td>
                                
                             <td style="width: 100%"><a href="/sprint/28/account/organisations/index">Digitaly sign an SFA agreement</a> for each organisation you add.</td>
                                 
                                
                              </tr>
                   

                             <tr id="trainingProviders" class="hidden">
                                                                <td class="bold-medium">
                                    4
                                 </td>
                              <td><a href="http://www.findapprenticeshiptraining.sfa.bis.gov.uk">Explore training and find a provider.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="hidden">
                                                                 <td class="bold-medium">
                                    5
                                 </td>
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Learn more about Endpoint Assesment.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>

                              <tr id="endpointAssessment" class="hidden">
                                                                 <td class="bold-medium">
                                    6
                                 </td>
                              <td><a href="https://www.gov.uk/government/collections/register-of-apprentice-assessment-organisations#employers-looking-for-an-assessment-organisation" rel="external">Recruit your first apprentice.</a></td>
                                <td class="looks-like-a-link-underline"></td>
                              </tr>


                          </tbody>
                      </table>
            </div>
        </div>
    </section>
    
   


        <section id="finance">
                
                <h2 class="heading-medium"><a href="/sprintbeta6&#10;&#10;&#10;&#10;/finance">Finance</a></h2>
                            <div class="form-group">
<a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/new-contract" class="button">Forecast funds</a>
                </div>
                        <div class="grid-row bingo-1">
            <div class="column-third" style="">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge">£3,010</h2>
                  <h2 class="heading-medium">May funding position</h2>
                    <!--<div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">On programme</a></div>-->
                <a href="#">View transaction history</a>                
              </div>
            </div>
            <div class="column-third" style="">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge">£0</h2>
                  <h2 class="heading-medium">At risk</h2>
                <a href="#">View expiring funds projections</a>
              </div>
            </div>
            <div class="column-third" style="">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge">£0</h2>
                  <h2 class="heading-medium">Co-investment utilised</h2>
                <a href="#">Co-investment utilised</a>
              </div>
            </div>
        </div>
                        </section>

    
    
        <section id="apprentices">
        <h2 style="margin-bottom: 20px" class="heading-medium"><a href="#">Apprentices</a></h2>
                            <div class="form-group">
<a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/new-contract" class="button">Start a new commitment</a>
                </div>
                        <div class="grid-row bingo-2">
            <div class="column-third">
                <div >
                  <h2 id="numberOfApprentices" class="bold-xlarge" >2,034</h2>
                  <h2 class="heading-medium" >On programme</h2>
                    <!--<div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">On programme</a></div>-->
                <a href="#">Find apprentices</a>                
              </div>
            </div>
            <div class="column-third" style="">
                <div >
                  <h2 id="numberOfApprentices" class="bold-xlarge" >32</h2>
                  <h2 class="heading-medium" >Paused</h2>
                <a href="#">Update paused apprentices</a>
              </div>
            </div>
            <div class="column-third" style="">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge" >2</h2>
                  <h2 class="heading-medium" >Cohorts pending</h2>
                <a href="#">Review your cohorts</a>
              </div>
            </div>
        </div>
        <div class="grid-row hidden">
            <br>
            <div class="column-two-thirds">
                
            <h4 class="heading-small">Apprentice options</h4>
                <ul class="list list-link">
                    <li><a href="#">Manage your apprentices</a></li>
                    <li><a href="#">Recruit new apprentices</a></li>
                </ul>

            </div>
        </div>
    <hr />
            
    </section>


        <section id="recruitment">
                
                <h2 class="heading-medium"><a href="/{{sprint}}/apprentice-view/people">Recruitment</a></h2>     
                            <div class="form-group">
<a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/new-contract" class="button">Post a new job ad</a>
                </div>
                        <div class="grid-row bingo-3">
                <div class="column-third">
                    <div>
                      <h2 id="numberOfApprentices" class="bold-xlarge">3</h2>
                      <h2 class="heading-medium">Job roles</h2>
                    <a href="#">Add a new job requisition</a>
                    </div>
                </div>
                <div class="column-third">
                                    <div>
                      <h2 id="numberOfApprentices" class="bold-xlarge">11</h2>
                      <h2 class="heading-medium">Live job postings</h2>
                    <a href="#">Manage live job adverts</a>
                    </div>
                </div>
                <div class="column-third">
                                              <div>
                      <h2 id="numberOfApprentices" class="bold-xlarge">341</h2>
                      <h2 class="heading-medium">un-read applications</h2>
                    <a href="#">View applications</a>
                    </div>
                </div>
            </div>
            
    <hr />
            </section>
  

            <section id="providers">
                
                <h2 class="heading-medium"><a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/providers">Training</a></h2>
                
                <div class="form-group">
<a href="https://das-alpha-node-ui-proto.herokuapp.com/sprintbeta1/contracts/new-contract" class="button">Find apprenticeship training providers</a>
                </div>

                
                
<div class="grid-row bingo-4">
                            <div class="column-third">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge" >2,034</h2>
                  <h2 class="heading-medium" >Training standards</h2>
                    <!--<div class="lighter font-xsmall" style="background: rgba(255,255,255,0.2); margin: 5px -10px -20px; padding: 10px;"><a href="#" class="bold-xsmall" style="color:white;">On programme</a></div>-->
                <a href="#">Find an apprenticeship standard</a>                
              </div>
            </div>
            <div class="column-third" style="">
                <div >
                  <h2 id="numberOfApprentices" class="bold-xlarge" >34,304</h2>
                  <h2 class="heading-medium" >Training proivders</h2>
                <a href="#">Find a new training provider</a>
              </div>
            </div>
            <div class="column-third" style="">
                <div>
                  <h2 id="numberOfApprentices" class="bold-xlarge">304</h2>
                  <h2 class="heading-medium">End-point assessors</h2>
                <a href="#">Select your end-point assessor</a>
              </div>
            </div>
        </div>
        
                
    <hr />
            </section>

    
    <section id="settings">

            <h2 class="heading-large">Settings</h2>

    <div class="grid-row">
    
        <div class="column-half">
        
                
        
                <h2 class="heading-medium"><a href="/sprintbeta6&#10;&#10;&#10;&#10;/account/organisation">Team</a></h2>
                <p>Manage who can use your digital account.</p>
                                <div class="form-group">
<a href="/sprintbeta6&#10;&#10;&#10;&#10;/account/organisation" class="button--secondary">Manage your team</a>
                </div>
        </div>
        
        <div class="column-half">
                      
                <h2 class="heading-medium"><a href="/sprintbeta6&#10;&#10;&#10;&#10;/account/paye">Rename your digital account</a></h2>
                <p>Give your account a friendly name.</p>
                                     <div class="form-group">
<a href="/sprintbeta6&#10;&#10;&#10;&#10;/account/paye" class="button--secondary">Change name</a>
                </div>
        
        </div>
    </div>

    </section>


</main><!-- / #content -->
{% endblock %}
