{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
      
      <div class="column-two-thirds">
          <div class="hgroup">   
          <h1 class="heading-xlarge">Allowing your tax details to be used</h1>
             <p>When you enter your Government Gateway details you'll be asked to ‘grant authority’ to allow your tax details to be used.</p>
              <p>This means you allow HMRC to send the SFA details of the levy that you’ve paid - no other payroll information will be shared.</p>
          </div>              
          
          <h5 class="heading-medium">By continuing you agree to the following:</h5><br>
          
          <div class="panel panel-width-thin">
            <p>I have authority to add PAYE schemes to this account.</p>
            <p>I understand that all account users will be able to see levy funds from any PAYE schemes I add.</p>
            <p>All PAYE schemes I add are owned and operated by an organisation that'll use this account, or owned and operated by a <a href="https://www.gov.uk/government/publications/employment-allowance-more-detailed-guidance" rel="external">connected organisation</a>.</p>
          </div>
          
            

                  <a href="/sprint/{{sprint}}/onboarding/gateway-login.html" class="button">Agree and continue</a>

            </div>

  </div>

</main>
{% endblock %}
