{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
      
      <div class="column-two-thirds">
             <h1 class="heading-xlarge">Taking you to gov gateway</h1>
             
          
             <p>To allow access you need to enter your Government Gateway username and password.</p>
            

                  <a href="/sprint/{{sprint}}/onboarding/gateway-login.html" class="button">Continue</a>

            </div>

  </div>

</main>
{% endblock %}
