{% extends "layout.html" %}

{% block page_title %}
  Sprint 11 - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/11/includes/header-loggedout.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Name your account
      </h1>
       

        

        
        <form class="">
  <div class="form-group">
    <fieldset>

      <legend class="visually-hidden">Choose a name</legend>
        <div class="form-group">
     
            
        <label class="form-label" for="contact-phone">Your levy account name</label>
        <input class="form-control" name="contact-phone" type="text" id="contact-phone">

        </div>
        <div class="form-group">
            <a class="button" href="/sprint/{{sprint}}/account/dashboard/index.html?account=created">Continue</a>
        </div>
    </fieldset>
  </div>
</form>

    </div>
  </div>

</main>
{% endblock %}
