{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Dashboard
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}

<main class="memo" id="content" role="main" tabindex="-1">

  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <div class="hgroup">
      <h1 class="heading-xlarge">
         Add a memo
      </h1>
        
        <p>Add a message page</p></div>
        
<form id="form1">
                    <div class="form-group">
                     
                        <textarea></textarea>
                        
                  </div>
                

              </form>
        
        <a href="/sprint/{{sprint}}/providers/cohort-approve.html" class="button">Continue</a>

        
    </div>
  </div>

    
    

    
</main><!-- / #content -->
{% endblock %}
