{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="elements-index" id="content" role="main" tabindex="-1">
  {% include "includes/link-back.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
        <div class="hgroup">
      <h1 class="heading-large">
          End of year adjustment
            </h1>
            
            <ul>
                <li>Tax year  <span class="bold-small">2017 to 2018</span></li>
            </ul>
        </div>
        

        
     </div>   
        
      
   
    </div>
                  <table class="responsive">
            <thead>
                <tr>
                    <th scope="col">PAYE scheme</th>
                    <th class="numeric" scope="col">Levy adjustment</th>
                    <th class="numeric" scope="col">English %</th>
                    <th class="numeric " scope="col">10% Top up</th>
                    <th class="numeric " scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                    <tr class="responsive-tr">
                        <td>
                            222/AA00000002
                            <div class="form-hint">Tesco stores limited longest</div>
                        </td>
                        <td class="numeric">
                            -£1,250.00
                        </td>
                        <td class="numeric">
                            100.000%
                        </td>
                        <td class="numeric">
                            -£125.00	
                        </td>
                        <td class="numeric">
                            -£1,375.00
                        </td>
                    </tr>
                <tr class="total">
                    <td colspan="4">&nbsp;</td>
                    <td class="numeric total">-£1,375.00</td>
                </tr>
            </tbody>
        </table>
    
<div class="grid-row hidden">
    <div class="column-two-thirds">
        

        <!--<p>Amount levied by HMRC might include negative adjustments for previous months. Negative adjustments can happen if you paid too much levy in a previous month. 			</p>-->
        
        <details>
            <summary>What is English percentage?</summary>         
        </details>
        
        <div class="info-highlighted">
            <p><a href="#">Contact HMRC</a> if the amount levied isn't what you expected.</p>
        </div>
        
        
    </div>
    </div>
<script>
    $("header, nav, footer").click(function(e){
        e.preventDefault();
    })
    </script>
</main>
{% endblock %}
